<% 
DIRECTIVE SAFE_OUTPUT_OPEN;
var headContent = {
	include("/pages/template/head.html"){}
%>
	<%include("/pages/includes/my97.html"){}%>

<script type="text/javascript">
var oper = {
	save:function(id){
		if(!validForm()) {
			return false;
		}
		id = id || '0';
		var url = 'credit/agentmanager/save?id='+id;
		form1.action = url;
		form1.submit();
		return true;
	}
};
$(function(){
	
console.log($("input[name='model.agent_id']"))
if($("input[name='model.agent_id']").val() !== '') {
	$("input[name='model.agent_id']").attr("readonly","readonly")
}
})
</script>
<style>
.tags {
	line-height: 22px;
	height: 22px;
	border-top: 1px solid rgb(210, 210, 210);
}

.tags .tags_label {
	float: left;
	margin-right: 20px;
	margin-left: 5px;
	padding: 5px 1px 1px 3px;
}

.tags .tags_content {
	float: left;
	width: 500px;
	margin: 5px 5px 0 0;
	padding: 1px;
	border: 1px solid #ccc;
	background: #fff;
	vertical-align: middle;
}

.tags .tags_remark {
	padding: 5px 1px 1px 3px;
	color: #999999;
	font-size: 12px;
	z-index: 10000;
}
.countryout{
	display:none;
}
</style>

<%
};
var bodyContent = {
%>
<form name="form1" action="" method="post" class="form-horizontal" role="form">
	<input type="hidden" name="model.id" value=" ${model.id}" />
	<!-- 数据列表 -->
	<table class="table">
	
		
		<tr>
			<td>代理编码</td>
			<td> 
				 <input class="form-control" type="text" name="model.agent_id" value="${model.agent_id}" valid="vtext" validname="代理编码"/>
			</td>
			<td>代理名称</td>
			<td><input type="text" name="model.agent_name"  style="width: 200px;" class="form-control"  
				value="${model.agent_name}" />
			</td>
			
			
		</tr>
		<tr>
			<td>邮政编码</td>
			 <td> 
				<input class="form-control" type="text" name="model.postal_code"  value="${model.postal_code}"   style="width: 200px;"
				/>
			 </td>  
			<td>邮箱</td>
			<td> <input class="form-control" type="text" name="model.memo" value="${model.memo}" valid="vtext" validname="邮箱" style="width: 200px;"/> 
			</td>
		</tr>
	</table>
	<div style="height: 50px;clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
	  		<button class="btn btn-primary save" onclick="oper.save(${model.id!'0'});return false;">确定</button>
			<button class="btn btn-default" onclick="closeIframe();return false;">取消</button>
	  </div>
	</nav>
</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
DIRECTIVE SAFE_OUTPUT_CLOSE;
<%} %>

