<% var usabled = tempDict.getSysDictDetailString2('usabled',model.usabled ); %>
<% var currency = tempDict.getSysDictDetailString2('currency',model.currency ); %>
<% var agenttype = tempDict.getSysDictDetailString2('agenttype',model.agent_type ); %>
<% var speed = tempDict.getSysDictDetailString2('agentspeed',model.speed ); %>
<% var agent_category = tempDict.getSysDictDetailString2('agentcategory',model.agent_category ); %>
<% 
DIRECTIVE SAFE_OUTPUT_OPEN;
var headContent = {
	include("/pages/template/head.html"){}
	include("/pages/includes/my97.html"){}
%>
<script type="text/javascript">
var oper = {
	save:function(id){
		if(!validForm()) {
			return false;
		}
		id = id || '0';
		var url = 'credit/agentmanager/save?agent_id='+id;
		form1.action = url;
		form1.submit();
		return true;
	},
    sandbarChange:function(){
   	 var grade = document.getElementById("sandbar");
   	 var value=$("#sandbar").find("option:selected").val();
   	 var html="";
   	 $.post('credit/agentmanager/getCitySelect',{"attr.continent":value},function(data){
   		 console.log(data)
   		  html+="<option value='-1' selected='selected'>请选择</option>"
   		  for(item in data){
   			  console.log(item.id)
   			  		
					 if(item.id='${model.city}'){
						 html+="<option  m-type='"+data[item].cid+"' value='"+data[item].cid+"'>"+data[item].city+"</option>";
					 }else{
						html+="<option  m-type='"+data[item].cid+"' value='"+data[item].cid+"'>"+data[item].city+"</option>";
					 };
	        	
	           };
	           
	           $("select[name='model.city']").html(html);
	           
					oper.countryChange();
					
	           
   	 })
   },
   agentChange:function(){
	   	 var agent = document.getElementById("agent");
	   	 var value=$("#agent").find("option:selected").text();
	   
	   	 if(value=='国外'){
	   		 $(".table tbody tr:last").hide()
	   	 }else if(value=='国内'){
	   		$(".table tbody tr:last").show()
	   	 }
	   },
   //国家发生变化
   countryChange:function(){
   	//默认选择第一个国家
   	 //$("select[name='model.city'] option:first").attr('selected','selected')
   	
   }
};

</script>
<style>
.tags {
	line-height: 22px;
	height: 22px;
	border-top: 1px solid rgb(210, 210, 210);
}

.tags .tags_label {
	float: left;
	margin-right: 20px;
	margin-left: 5px;
	padding: 5px 1px 1px 3px;
}

.tags .tags_content {
	float: left;
	width: 500px;
	margin: 5px 5px 0 0;
	padding: 1px;
	border: 1px solid #ccc;
	background: #fff;
	vertical-align: middle;
}

.tags .tags_remark {
	padding: 5px 1px 1px 3px;
	color: #999999;
	font-size: 12px;
	z-index: 10000;
}
</style>

<%
};
var bodyContent = {
%>
<form name="form1" action="" method="post" class="form-horizontal">
	<input type="hidden" name="model.agent_id" value=" ${model.agent_id}" />
	<!-- 数据列表 -->
	<table class="table">
	<tr>
	<tr>
			<td>代理类型</td>
			 <td><select id="agent" name="model.agent_type" class="form-control" style="width: 200px;" onchange="oper.agentChange()">
					${agenttype!}
				</select></td>		
		</tr>
		<tr>
			<td>代理名称</td>
			<td><input type="text" name="model.agent_name" class="form-control"  valid="vtext"
				value="${model.agent_name}"/></td>
		</tr>
		<tr>
			<td>邮政编码</td>
			 <td> 
				<input type="text" name="model.postal_code" class="form-control"  
				value="${model.postal_code}"/></td>
		</tr>
		<tr>
			<td>代理用时</td>
			 <td> 
				<input type="text" name="model.proxy_time" class="form-control"  
				value="${model.proxy_time}"/></td>
		</tr>
		<tr>
			<td>邮箱</td>
			<td> <input type="text" name="model.memo" class="form-control"  valid="vemail"
				value="${model.memo}"/> </td>
		</tr>
			<tr>
			<td>价格</td>
			<td><input type="text" name="model.price" class="form-control price"  valid="vfloat_y"
				value="${model.price}"/></td>
		</tr>
		<tr>
			<td>币种</td>
			<td><select name="model.currency" class="form-control" style="width: 200px;" >
					${currency!}
				</select></td>
		</tr>
		<tr>
			<td>速度</td>
			<td><select name="model.speed" class="form-control" style="width: 200px;" >
					${speed!}
				</select></td>
		</tr>
		<tr>
			<td>是否禁用</td>
			<td><select name="model.usabled" class="form-control" style="width: 200px;" >
					${usabled!}
				</select></td>
		</tr>
		<tr>
			<td>代理类别</td>
			<td><select name="model.agent_category" class="form-control" style="width: 200px;" >
					${agent_category!}
				</select></td>
		</tr>
		<tr>
				<td>省份</td>
				<td>
						<div class="form-group">
						<select id="sandbar" name="model.province" class="form-control" valid="vselect" validname="省份" style="width: 200px;" onchange="oper.sandbarChange()">
						<option value="-1" >请选择</option>
						 <% for(item in province){ %>
						 	<% if((model.province+"")==(item.pid+"")){ %>
							 	<option  m-type="${item.credit_province}" selected="selected" value="${item.pid}">${item.credit_province}</option>
							<% }else{ %>
								<option  m-type="${item.credit_province}" value="${item.pid}">${item.credit_province}</option>
							<%}%>
						 <% } %>
						</select>
						</div>
					</td>
				<td>城市</td>
				<td>
					<% if(model.city!=null || model.city!="" ){%>
					<select id="city" name="model.city"  class="form-control"  onchange="oper.countryChange()">
						<option value="-1" >请选择</option>
						<% for(item in city){ %>
								 	<% if(model.city==(item.cid+"")){ %>
								 	 <option selected="selected" m-type="${item.cid}" value="${item.cid}">${item.city}</option>
								 	<% }else{ %>
								 	 <option m-type="${item.cid}" value="${item.cid}">${item.city}</option>
								 	<% } %>
								  <% } %>
					</select>
					<%}else{%>
					<select id="country" name="model.city"  class="form-control" valid="vselect" validname="城市" onchange="oper.countryChange()">
					</select>
					<%}%>
				</td>
		</tr>
		
		
		
</tr>
	</table>
	<div style="height: 50px;clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
	  		<button class="btn btn-primary save" onclick="oper.save(${model.agent_id!'0'});return false;">确定</button>
			<button class="btn btn-default" onclick="closeIframe();return false;">取消</button>
	  </div>
	</nav>
</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
DIRECTIVE SAFE_OUTPUT_CLOSE;
<%} %>

