
<% 
var headContent = {
	include("/pages/template/head.html"){}
};

var bodyContent = {
%>
<form name="form1" action="" method="post" class="form-horizontal">
	<!-- 数据列表 -->
		<table class="table">
		<tr>
				<td>序号</td>
				<td>${model.id}</td>
			</tr>
		<tr>
			<td>企业中文名称</td>
			<td>
			${model.name}
			</td>
			</tr>
			<tr>
			<td>企业英文名称</td>
			 <td> 
			${model.name_en}
			</td>
		</tr>
		<tr>
			<td>注册号</td>
			<td>${model.registration_num}</td>
		</tr>
				<tr>
			<td>统一社会信用代码</td>
			<td>${model.credit_code}</td>
		</tr>
			<tr>
			<td>企业类型</td>
			<td>${model.company_type}</td>
		</tr>
			<tr>
			<td>法定代表人中文</td>
			<td>${model.legal}</td>
		</tr>
			<tr>
			<td>法定代表人英文</td>
			<td>${model.legal_en}</td>
		</tr>
		<tr>
			<td>注册资本</td>
			<td> ${model.registered_capital}</td>
		</tr>
			<tr>
			<td>币种</td>
			<td> ${model.currency}</td>

		</table>
	<div style="height: 50px;clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
		<button class="btn btn-default" onclick="closeIframe();return false;">关 闭</button>
	  </div>
	</nav>
</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>

