<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>中海博瑞实验室</title>
    <link rel="stylesheet" href="../static/asserts/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/labMain.css">
    <link rel="stylesheet" href="../static/css/labLine.css">
</head>

<body>
<div class="labMain_content">
    <div class="labMain_content_top">
        <h1>中海博瑞介绍</h1>
        <div class="labMain_ct_right">
            <p><img src="../static/img/labMain/home.png"></p>
            <h3>中海博睿实验室</h3>
        </div>
    </div><!--头部content_top-->

    <div class="labMain_content_bottom">

        <div class="labMain_cb_left">
            <h3 class="lab_title shishijiance">实时监测</h3>
            <div class="shishi_left">
                <div class="sheshi_tab">视频监控</div>
                <div class="sheshi_tab">曲线监控</div>
                <div class="sheshi_tab_list">
                    <ul>
                        <li><span></span><a href="#">实验室1</a>
                            <ul class="taiwei_hide">
                                <li>台位A3</li>
                                <li>台位A3</li>
                                <li>台位A3</li>
                                <li>台位A3</li>
                                <li>台位A3</li>
                                <li>台位A3</li>
                            </ul>

                        </li>

                        <li><span></span><a href="#">实验室1</a>
                            <ul class="taiwei_hide">
                                <li>台位A3</li>
                                <li>台位A3</li>
                                <li>台位A3</li>
                                <li>台位A3</li>
                                <li>台位A3</li>
                                <li>台位A3</li>
                            </ul>
                        </li>
                        <li><span></span><a href="#">实验室1</a>
                            <ul class="taiwei_hide">
                                <li>台位A3</li>
                                <li>台位A3</li>
                                <li>台位A3</li>
                                <li>台位A3</li>
                                <li>台位A3</li>
                                <li>台位A3</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="shishi_right shishi_right_show">
                <div class="sheshi_right_left">
                    <div id="main1"></div>
                    <div id="main2"></div>
                </div>
                <div class="sheshi_right_right">
                    <ul id="legend_ul">
                    </ul>
                </div>
            </div>
            <div class="shishi_right"></div>

        </div><!--labMain_cb_left-->

        <div class="labMain_cb_right">
            <div class="labMain_cbr_one">
                <h3 class="lab_one_title">运营状态</h3>
                <div class="labMain_cbro_ul">
                    <ul>
                        <li><span class="li_bg li_bg_01"></span><a>实验室状态</a></li>
                        <li><span class="li_bg li_bg_02"></span><a>设备状态</a></li>
                        <li><span class="li_bg li_bg_03"></span><a>订单状态</a></li>
                    </ul>
                </div><!--labMain_cbro_ul-->
                <div class="labMain_cbro_content">
                    <div></div>
                </div><!--labMain_cbr_content-->
            </div><!--labMain_cbr_one-->
            <div class="labMain_cbr_two">

                <h3 class="lab_one_title">数据分析</h3>
                <div class="labMain_cbro_ul">
                    <ul>
                        <li><span class="li_bg li_bg_04"></span><a>一次合格率</a></li>
                        <li><span class="li_bg li_bg_05"></span><a>订单及时率</a></li>
                        <li><span class="li_bg li_bg_06"></span><a>用户满意度</a></li>
                    </ul>
                </div><!--labMain_cbro_ul-->
                <div class="labMain_cbro_content">
                    <div></div>
                </div><!--labMain_cbr_content-->
            </div><!--labMain_cbr_two-->
            <div class="labMain_cbr_three">
                <h3 class="lab_one_title">实施监测</h3>
                <div class="labMain_cbro_ul">
                    <ul>

                        <li><span class="li_bg li_bg_07"></span><a>视频监控</a></li>
                        <li><span class="li_bg li_bg_08"></span><a>曲线监控</a></li>
                        <li><span></span></li>
                    </ul>
                </div><!--labMain_cbro_ul-->

                <div class="labMain_cbro_content">
                    <div></div>

                </div><!--labMain_cbr_content-->

            </div><!--labMain_cbr_three-->

        </div>
        <!--labMain_cb_right-->

    </div><!--content_bottom-->

</div><!--content-->

</body>
</html>

<script src="../static/asserts/js/jquery-2.2.4.js"></script>
<script src="../static/asserts/echarts/echarts-3.5.2.js"></script>
<script src="../static/js/centerLab.js"></script>

<script>

    var bodyScale = 1;//原始比例1
    $(document).ready(function (e) {
        pageResize();
        function pageResize() {
            var h = $(window).height();
            var w = h * 16 * 4 / (9 * 3);

            // $("#labMain_content").css("width", h * 16 * 7 / (9 * 3));
            $(".labMain_content").css("width", h * 16 * 4 / (9 * 3));
            var bodyFontSize = h / 638 * 100 + "%";
            bodyScale = h / 638;
            $("body").css("font-size", bodyFontSize);
//            console.log("屏幕高度：" + h + ", body字号：" + bodyFontSize)
        }
        //结构不要改呦
        $(".sheshi_tab").eq(0).click(function () {
            $('.labMain_cb_left .shishi_right').css('display','block').siblings().eq(2).css('display','none');
        });
        $(".sheshi_tab").eq(1).click(function () {
            $('.labMain_cb_left .shishi_right').css('display','block').siblings().eq(3).css('display','none');
        })
    });
</script>