## layout("ulab.html",{}){
   <div id="right">
        <!--这里是后面4屏的代码-->
        <div class="tab">
            <ul>
                <li class="tab-item active_right">总状态</li>
                <li class="tab-item">实验室状态</li>
                <li class="tab-item">数据结果</li>
                <li class="tab-item">数据挖掘</li>
            </ul>
        </div>
          <div class="lab">
            <ul class="lab_icon">
                <li><img src="${contextPath!}/static/img/sheshiState/gc_off.png" alt=""></li>
                <li><img src="${contextPath!}/static/img/sheshiState/mks_off.png" alt=""></li>
                <li><img src="${contextPath!}/static/img/sheshiState/zx_off.png" alt=""></li>
                <li><img src="${contextPath!}/static/img/sheshiState/yf_off.png" alt=""></li>
            </ul>
            <ul class="lab_name">
                <li class="lab_item">工厂实验室</li>
                <li class="lab_item">模块商实验室</li>
                <li class="lab_item">中海博睿</li>
                <li class="lab_item">研发实验室</li>
            </ul>
        </div>
        
        <!--总状态-->
         ##layout("tab/tab1.html", {}){
	     ##}
 		<!--实验室状态-->
        ##layout("tab/tab2.html", {}){
	     ##}
        <!--数据结果-->
        ##layout("tab/tab3.html", {}){
	     ##}
        <!--数据挖掘应用-->
        ##layout("tab/tab4.html", {}){
	     ##}
              
    </div>
 ##}
 <!--<script src="${contextPath!}/static/asserts/echarts/echarts-3.5.2.js"></script>-->
 <script src="${contextPath!}/static/asserts/js/highcharts.js"></script>
 <!--<script src="../static/asserts/js/highcharts.js"></script>-->
<script src="${contextPath!}/static/js/main_right.js?time=New Date()"></script>
<script src="${contextPath!}/static/js/tab1_statistics.js?time=New Date()"></script>
<script src="${contextPath!}/static/js/tab2_statistics.js?time=New Date()"></script>
<script src="${contextPath!}/static/js/tab3_statistics.js?time=New Date()"></script>
<script src="${contextPath!}/static/js/tab4_statistics.js?time=New Date()"></script>
 <script>
	var labTypeCode;//实验室类型
    $(function () {
    
        $(".tab-item").click(function () {
            $(this).addClass("active_right").siblings().removeClass("active_right");
            // 3. 获取到当前菜单的索引号
            var index = $(this).index();
            // 4. 通过索引号对应关系 让这个索引号对应的内容展示出来
            //.selected display:flex
            $(".box:eq(" + index + ")").addClass("selected").siblings().removeClass("selected");
        	resetSizeRight();
        	myChart2.resize();
        	$('#right .lab').css("display",'block');
        });
        $(".tab-item").eq(0).click(function () {
            $('#right .lab').css("display",'none');
        });
        $(".lab_item").click(function () {
            $(this).addClass("word_active").siblings().removeClass("word_active");
        	resetSizeRight();
        });
        loadTab1Data();
        loadTab2Data();
        loadTab3Data();
        loadTab4Data();
    });
   
</script>
