<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title> ${title!'U-lab全球互联数据中心'}</title>
    <link rel="stylesheet" href="../../../../static/asserts/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../../static/css/common.css">
    <link rel="stylesheet" href="../../../../static/css/index_right.css">
</head>
<body class="zh_CN">

<div id="content">
    <div id="r">
        <div class="box shujuWajue tab4" style="display: block">
            <div class="shuju_apply_top">
                <!--14-19-->
                <div class="total_bottom_left">
                    <div class="echarts_title echarts_title2">量产一致性保障</div>
                    <div class="shuju_apply_bottom_pie">
                        <h3>模块商质量水平分布</h3>
                        <div class="rename-ppm">ppm</div>
                        <div id="myChart14"></div>
                    </div>
                    <div class="total_bottom_tab">
                        <form action="">
                            <select name="请选择" onchange="tab1JianSelected(this)">
                                ##for(p in providerDic){
                                <optgroup class="main main${p.id!}" label=${p.name!}>
                                    ##for(c in p.children){
                                    ##if(pLP.first&&cLP.first){
                                    <option class="main${p.id}-sub active" data="${c.id}">${c.name}</option>
                                    ##}else{
                                    <option class="main${p.id}-sub" data="${c.id}">${c.name}</option>
                                    ##}
                                    ##}
                                </optgroup>
                                ##}
                            </select>
                        </form>

                    </div>
                    <div class="total_bottom_bar1">
                        <!--<div class="echarts_title echarts_title1">量产一致性对比分析</div>-->
                        <h3><span class="white" id="tab4_jiance_xh_name"></span> SPC分析</h3>
                        <p class="result" id="tab4_jiance_xh_result"></p>
                        <div id="myChart15"></div>
                        <div id="myChart15_2"></div>

                    </div>
                    <div class="total_bottom_bar2">
                        <h3><span class="white" id="tab4_jiance_xh_name2"></span> CpK分析</h3>
                        <p class="result" id="tab4_jiance_xh_result2"></p>
                        <div id="myChart16"></div>
                        <!--
                                        <div>111</div>
                                        <div>111</div>
                                        <div>111</div>
                                        <div>111</div>
                                        <div>111</div>
                                        <div>111</div>
                                        <div>111</div>
                                        <div>111</div>
                        -->
                    </div>

                </div>
                <div class="shujuWajue_right">
                    <div class="echarts_title echarts_title2">共产一致性保障</div>
                    <div class="shuju_apply_bottom_pie">
                        <div id="myChart17"></div>
                    </div>
                    <div class="shujuWajue_right_bottom">

                        <div id="myChart18"></div>
                    </div>
                    <!--<div class="total_bottom_bar2">-->
                    <!--<div class="echarts_title echarts_title1">共产不一致型号数</div>-->
                    <!--<div id="myChart13"></div>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="shuju_apply_center"></div>
            <div class="shuju_apply_bottom"></div>
        </div>
    </div>
</div>
<script src="../../../../static/asserts/js/jquery-2.2.4.js"></script>
<script>
    var bodyScale = 1;
    var pageH;
    var pageW;
    //    pageH = $(window).height()-17;忘记为何-17
    pageH = $(window).height();
    pageW = pageH * 16 * 4 / (9 * 3);

    function pageResize() {
        $("body #content").css("width", pageW);
        console.log("--------------:",$("body #content").css("width"))
        var bodyFontSize = pageH / 595 * 100 + "%";
        bodyScale = pageH / 595;
        $("body").css("font-size", bodyFontSize);
        $(".fullScreen_map").css("width", pageW);
        console.log("~~~~~~~~~窗口高度：" + pageH + ",\n宽度:" + pageW + " \nbody字号：" + bodyFontSize)
    }
    pageResize();
</script>

<script src="../../../../static/asserts/js/bootstrap.min.js"></script>
<script src="../../../../static/asserts/echarts/echarts-3.5.2.js"></script>
<script src="../../../../static/js/manyEcharts.js?time=New Date()"></script>
<script src="../../../../static/js/common.js?time=New Date()"></script>
<script src="../../../../static/js/tab4_statistics_2.js?time=New Date()"></script>
<script>

</script>
</body>
</html>