<% 
DIRECTIVE SAFE_OUTPUT_OPEN;
var headContent = {
	include("/pages/template/head.html"){}
	include("/pages/includes/my97.html"){}
%>
<script type="text/javascript">
var oper = {
	save:function(id){
		if(!validForm()) {
			return false;
		}
		id = id || '0';
		var url = 'credit/custom/chargeSave?table_id='+id;
		form1.action = url;
		form1.submit();
		return true;
	}
   
};
$(function(){
	oper.initpage();
})	
</script>
<style>
.tags {
	line-height: 22px;
	height: 22px;
	border-top: 1px solid rgb(210, 210, 210);
}

.tags .tags_label {
	float: left;
	margin-right: 20px;
	margin-left: 5px;
	padding: 5px 1px 1px 3px;
}

.tags .tags_content {
	float: left;
	width: 500px;
	margin: 5px 5px 0 0;
	padding: 1px;
	border: 1px solid #ccc;
	background: #fff;
	vertical-align: middle;
}

.tags .tags_remark {
	padding: 5px 1px 1px 3px;
	color: #999999;
	font-size: 12px;
	z-index: 10000;
}
</style>

<%
};
var bodyContent = {
%>
<form name="form1" action="" method="post" class="form-horizontal">
	<input type="hidden" name="model.table_id" value=" ${model.table_id}" />
	<input type="hidden" name="model.id" value=" ${model.id}" />
	<!-- 鏁版嵁鍒楄〃 -->
	<table class="table">
	<tr>
	    <tr>
			<td>客户ID</td>
			 <td><input type="text" name="id" class="form-control"  valid="text"
				value="${model.id}"  disabled="disabled" style="width: 205px"/></td>		
		</tr>
		<tr>
			<td>客户名称</td>
			<td><input type="text" name="name" class="form-control"  valid="text"
				value="${model.name}" disabled="disabled" style="width: 205px"/></td>
		</tr>
		<tr>
			<td>客户邮箱：</td>
			<td><input type="text" name="email" class="form-control"  valid="text"
				value="${model.email}" disabled="disabled" style="width: 205px"/></td>
		</tr>
		<tr>
			<td>扣款点数：</td>
			<td><input placeholder="请输入扣款点数（若账号不允许欠费，则不能大于账户余额）" type="text" name="count" class="form-control"  valid="text"
				value="" style="width: 380px"/></td>
			
		</tr>
		<tr>
			<td>扣款金额：</td>
			<td><input onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" onblur="this.v();" placeholder="请输入数字" type="text" name="money" class="form-control"  valid="text"
				value="" style="width: 205px"/></td>
		</tr>
		<tr>
			<td>金额单位：</td>
			<td>
			<select id="sandbar" name="currency" class="form-control"   valid="vselect" validname="币种" style="width: 200px;">
						<option value="-1" >请选择</option>
						 <% for(item in dict){ %>
						<option  m-type="${item.detail_id}" value="${item.detail_id}">${item.detail_name}</option>
							
						 <% } %>
						</select>
            </td>
		</tr>
		<tr>
			<td>备注</td>
			<td><input type="text" name="remarks" class="form-control"  valid="text"
				value="" style="width: 205px"/></td>
		</tr>
	</table>
	<div style="height: 50px;clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
	  		<button class="btn btn-primary save" onclick="oper.save(${model.table_id!'0'});return false;">纭畾</button>
			<button class="btn btn-default" onclick="closeIframe();return false;">鍙栨秷</button>
	  </div>
	</nav>
</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
DIRECTIVE SAFE_OUTPUT_CLOSE;
<%} %>

