<% var usabled = tempDict.getSysDictDetailString('usabled',model.usabled!); %>
<% var is_old_customer = tempDict.getSysDictDetailString('is_old_customer',model.is_old_customer!);%>
<% 
	var headContent = {
	include("/pages/template/head.html"){}
%>
<script type="text/javascript">
		
	var oper;
	jQuery(function($) {
		// 页面方法
		oper = {
			width : 800,
			height : 500,
			form : document.form1,
			list : function() {
				var url = 'credit/custom/list';
				this.form.action = url;
				this.form.submit();
			},
			view : function(id) {
				var url = 'credit/custom/view/'+id;
				var title = '查看';
				Iframe(url, this.width, this.height, title, false, false, false, EmptyFunc);
			},
			add : function() {
				var url = 'credit/custom/add';
				var title = '新增';
				Iframe(url, this.width, this.height, title);
			},
			edit : function(id) {
				var url = 'credit/custom/edit/'+id;
				var title = '修改';
				Iframe(url, this.width, this.height, title);
			},
			del : function(id) {
				var url = 'credit/custom/delete/'+id;
				var title = '确定要删除吗？';
				Confirm(title, function() {
					form1.action = url;
					form1.submit();
				});
			},
			pay : function(id) {
				var url = 'credit/custom/pay/'+id;
				var title = '充值 ';
				Iframe(url, this.width, this.height, title);
			},
			charge : function(id) {
				var url = 'credit/custom/charge/'+id;
				var title = '扣款';
				Iframe(url, this.width, this.height, title);
			}
		};
		//显示Menu索引
		showMenu('page_custom_manager');
	});
	
	//分页
	var paginator = function(page) {
		oper.list();
	};
</script>

<%
};

var bodyContent = {
%>
	<form name="form1" action="" method="post"  class="form-inline" role="form">
		<input type="hidden" name="form.orderColumn" value="${form.orderColumn!''}" />
		<input type="hidden" name="form.orderAsc" value="${form.orderAsc!''}" />
		<!-- 菜单 -->
		<% include("/pages/template/menu.html"){} %>

		<div class="tableSearch">
			<%  //查询列表 %>
			搜索内容
			<div class="form-group">
				<input class="form-control" type="text" name="keyword"
					value="${keyWord!''}" placeholder="请输入关键字" required='required' />
			</div>
			<button type="button" class="btn btn-default" onclick="oper.list();" name="search">
			 		<span class="glyphicon glyphicon-search"></span> 查 询
			</button>
			<button type="button" class="btn btn-default" onclick="resetForm();">
			 		<span class="glyphicon glyphicon-refresh"></span> 重 置
			</button>
			<button type="button" class="btn btn-default" onclick="oper.add();">
			 		<span class="glyphicon glyphicon-plus"></span> 新 增
			</button>
		</div>
		
		<!-- 数据列表 -->
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>序号</th>
					<%  // 列表头部 %>
					<th name="t.name" class="sorting">客户名称</th> 
					<th name="t.contacts" class="sorting">联系人全称</th> 
					
					<th name="t4.name" class="sorting">公司名称</th> 
					<th name="t.address" class="sorting">地址</th> 
					<th name="t.telphone" class="sorting">电话</th> 
					<th name="t.email" class="sorting">邮箱</th> 
					<th name="t.fax" class="sorting">传真</th>
					<th name="t.account_count" class="sorting">当前账户点数</th>
					<th name="t.money_updatetime" class="sorting">金额更新时间</th>
					<th name="t.is_arrearage" class="sorting">是否可以欠费</th>
					<th name="t5.name" class="sorting">所属国家(地区)</th>  
					
 					<th width="300px" style="text-align: center;">操作</th>
				</tr>
			</thead>
			<tbody>
			<% for(item in page.list){ %>
				<tr>
				<td>${itemLP.index }</td>
					<%  // 列表内容 %>
					<td>${item.name}</td> 
					<td>${item.contacts}</td> 
					
					<td>
						${item.companyName}
					</td>  
					<td>
					<% if (strutil.length(item.address) >
					15) { %> ${strutil.subStringTo(item.address, 0, 15)}... <% } else { %>
					${item.address} <% } %>
					</td>  
					<td>${item.telphone}</td>
					<td>
					<% if (strutil.length(item.email) >
					15) { %> ${strutil.subStringTo(item.email, 0, 15)}... <% } else { %>
					${item.email} <% } %>
					</td>
					<td>${item.fax}</td>
					<td>${item.account_count}</td>
					<td>${item.money_updatetime}</td>
					<td>${item.is_arrearage}</td>
					<td>${item.countryName}</td>
					
				<td>
				<a href="javascript:void(0);" class="btn btn-sm btn-success" onclick="oper.view(${item.id});">查看</a> 
				<a href="javascript:void(0);" class="btn btn-sm btn-primary" onclick="oper.edit(${item.id});">修改</a> 
				<a href="javascript:void(0);" class="btn btn-sm btn-danger" onclick="oper.del(${item.id});">删除</a>
				<a href="javascript:void(0);" class="btn btn-sm btn-primary" onclick="oper.pay(${item.id});">充值</a> 
				<a href="javascript:void(0);" class="btn btn-sm btn-danger" onclick="oper.charge(${item.id});">扣款</a> 
				
				
				
				</td>
				</tr>
			<% } %>
			</tbody>
		</table>
		<%include("/pages/includes/paginator.html"){} %>
	</form>
<%}; %>


<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>