<% 
var headContent = {
	include("/pages/template/head.html"){}
};

var bodyContent = {
%>
<form name="form1" action="" method="post" class="form-horizontal" role="form">
	<!-- 数据列表 -->
	<table class="table">
		<%  // 列表头部 %>
			<tr>
				<td>客户名称</td>
				<td>${item.cusName}</td>
			</tr>
			<tr>
				<td>报告类型</td>
				<td>${item.reportName}</td>
				
			</tr>
			<tr>
				<td>是否在用</td>
				<td>${item.used}</td>
			</tr>
			<tr>
				<td>创建时间</td>
				<td>${item.create_date,dateFormat="yyyy-MM-dd"}</td>
				<td>上传人</td>
				<td>${item.createName}</td>
			</tr>
			<tr>
				<td>修改时间</td>
				<td>${item.update_date,dateFormat="yyyy-MM-dd"}</td>
				<td>修改人</td>
				<td>${item.updateName}</td>
			</tr>
			<tr>
				<td>备注</td>
				<td title="${item.remarks}" colspan="3">
				<% if (strutil.length(item.remarks) > 25) { %>
					${strutil.subStringTo(item.remarks, 0, 25)}...
				<% 	} else { %>
					${item.remarks}
				<%  } %>
			</td> 
	</table>
	
	<div style="height: 50px;clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
		<button class="btn btn-default" onclick="closeIframe();return false;">关 闭</button>
	  </div>
	</nav>
</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>