<% 
	var headContent = {
	include("/pages/template/head.html"){}
%>

<script type="text/javascript" src="resources/js/language.js"></script>
<p>2、一日，鲁迅走在大街上，忽然一个男的拍了他的肩膀一下，说：“迅哥，你还记得我吗？”鲁迅想不起来，便问“你是？”那个男的说“你难道忘了啊，深蓝的天空中挂着一轮金黄的圆月，下面是海边的沙地，都种着一望无际的碧绿的西瓜。其间有一个十一二岁的少年，项带银圈，手捏一柄钢叉，向一匹猹尽力地刺去，那猹却将身一扭，反从他的胯下逃走了。”“闰土！你是闰土！”那个男的说“不，我是猹。”“那闰土呢”“闰土tmd上街卖瓜 被人用秤砣敲死了”</p>
<script type="text/javascript">
		
	var oper;
	jQuery(function($) {
		// 页面方法
		oper = {
			width : 400,
			height : 500,
			form : document.form1,
			list : function() {
				var url = 'credit/order/list';
				this.form.action = url;
				this.form.submit();
			},
			view : function(id) {
				var url = 'credit/order/view?id='+id;
				var title = '查看订单';
				Iframe(url, this.width, this.height, title, false, false, false, EmptyFunc);
			}
		};
		//显示Menu索引
		showMenu('page_imagealbum');
	});
	
	//分页
	var paginator = function(page) {
		oper.list();
	};
</script>

<%
};

var bodyContent = {
%>
<form name="form1" action="" method="post" class="form-horizontal" role="form">
	<input type="hidden" name="form.orderColumn" value="${form.orderColumn!''}" />
		<input type="hidden" name="form.orderAsc" value="${form.orderAsc!''}" />
		<!-- 菜单 -->
		<div class="tableSearch">
			<%  //查询列表 %>
			<div class="form-group">
					<input class="form-control" type="text" name="customName" value="${customName!''}" 
						placeholder="请输入名称" required='required' />
			</div>
			
			<button type="button" class="btn btn-default" onclick="oper.list();" name="search">
			 		<span class="glyphicon glyphicon-search"></span> 查 询
			</button>
		
		</div>
	<!-- 数据列表 -->
	<table class="table">
		<%  // 列表头部 %>
		<% for(item in page.list){ %>
				<tr>
				<td>${itemLP.index }</td>
				<td>
					<% if(item.id=='2') { %>
					隐藏
					<%	} %>
					<% if(item.id=='1') { %>
					显示
					<%	} %>
				</td>  
				<td>${item.id!}</td> 
				<td title="${item.name!}">
				<% if (strutil.length(item.name) > 25) { %>
					${strutil.subStringTo(item.name, 0, 25)}...
				<% 	} else { %>
					${item.name}
				<%  } %>
				</td> 
				<td>
					<a href="javascript:void(0);" class="btn btn-sm btn-success" onclick="oper.view(${item.id});">查看</a> 
					<a href="javascript:void(0);" class="btn btn-sm btn-primary" onclick="oper.edit(${item.id});">修改</a> 
					<!-- <a href="javascript:void(0);" class="btn btn-sm btn-danger" onclick="oper.del(${item.id});">删除</a> -->
					${_res.msg}
				</td>
				</tr>
			<% } %>
		</br>
	</table>
	<%include("/pages/includes/paginator.html"){} %>
	<div style="height: 50px;clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
		<button class="btn btn-default" onclick="closeIframe();return false;">关 闭</button>
		
	  </div>
	</nav>
</form>

<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>