/* ==================头部=================== */
#container {
    position: relative;
    height: calc(100% - 2.7rem);
}
#main_content {
    padding: 0;
    transition: width ease .5s;
}
header {
    width: 100%;
    height: 5rem;
    margin-bottom: .5rem;
}
.head-row {
    height: 100%;
    box-shadow: 0 1px 5px 0 #dedede;
}
.head-logo-box {
    height: 100%;
    background:#03223f;
    left: -1px;
    box-shadow: 1px 3px 11px 0px #666;
    z-index: 999;
    transition: width ease .5s;
}
.logo-content {
    width: 10.875rem;
    height: 2.5rem;
    background:url('../imgs/index/i_logo.png') no-repeat;
    background-size: contain;
}
.header-right-content {
    position: relative;
    width:16.125rem;
    height: 100%;
  
}
.message {
    height: 100%;
    width: 5.3125rem;
}
.user-content {
    height: 100%;
    width: 10.8125rem;
    margin-right: 4rem;
    padding-left: 1.125rem;
    cursor: pointer;
    
}
.user-content:hover {
    color: var(--activeColor);
}
.user-content:hover .fa-user-o{
    color: var(--activeColor);
}
.user-content .fa-user-o {
    margin-right: .5rem;
}
.user-content span {
    font-size: 1.1rem;
    width: 6.8125rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.fa-bell-o,.user-content .fa-user-o {
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--fontColor);
}

.logout {
    display: none;
    position: absolute;
    left: 4.5rem;
    top: 4.75rem;
    width: 6rem;
    height: 2.8rem;
    line-height: 2.8rem;
    text-align: center;
    z-index: 1;
    background: #fff;
    box-shadow: 0 0 1px 2px #eee;
    cursor: pointer;
    color: #808080;
    border-radius: 4px;
}
.logout:hover{
    box-shadow: 0 0 1px 1px var(--activeColor);
    color: var(--activeColor);
}
.logout:hover .popover-arrow {
    border-color:var(--activeColor);
    border-width: 1px 0 0 1px;
}
.logout-show {
    display: block;
}
.logout  i {
    margin-right: .2rem;
}
/*=================中间============================*/
.menu-icon {
    display: inline-block;
    width: 1.3rem;
    margin-right: 1.4rem;
    margin-top: -.5rem;
}
.nav-row {
    position: relative;
    height: 101%;
    padding: 0;
    top: -.5rem;
    left: -1px;
    box-shadow: 2px 5px 10px 0 #666;
    z-index: 999;
    transition: width ease .5s;
}

.bg-f {
    min-height: 100%;
    background: #fff;
}
.menu1 .fa {
    margin-right: 1rem;
    font-size: 1.4rem;
}

.main {
    width: 100%;
    padding: 0;
    background: #f1f2f6;
    overflow-y:auto;
}
/**表格*/
/*表格上搜索框*/
.table-search-input {
    margin: 1.875rem 0;
}
 .fixed-table-header {
    background:#fafafa;
}
.bootstrap-table {
    margin:0 2rem;
}
.table-content{
	background: #f1f2f6;
    padding: 0.85rem 1.25rem 1.25rem 1.25rem;
 
}

.fixed-table-pagination{
    margin-top: 1rem;
}

/*漏斗*/
.fa-filter {
    color: #aaa;
    cursor: pointer;
}

.main-header {
    /* height: 6.25rem; */
    padding-left: 2.5rem;
    box-shadow: 6px 2px 2px 1px #e5e5e5;
    background: #fff;
    margin-bottom: 0.4rem;
}
.breadcrumb {
    margin-bottom: 0;
    padding: 1rem 0 0 0;
}
.breadcrumb  li a {
    color: var(--fontColor);
    font-size: 1.125rem;
}
.main-title {
    font-size: 1.625rem;
    font-weight: 600;
    padding:0.75rem 0 1rem 0;
}
.table-content{
	height: calc(100% - 7.2rem);
}
.search-input {
    width: var(--inputWidthsm)!important;
}
label {
    font-weight: 600;
}

/*过滤样式*/
.th-inner  {
    position: relative;
    overflow: visible!important;
}
#table .deal-state {
    display: none!important;
}
.deal-state {
    height: 18rem;
    overflow-y: auto;
    box-shadow: 0 0 5px 1px #ddd;
    padding: 1rem;
    background: #fff;
    display: none;
    z-index: 10;
}
.deal-state-show {
    display: block;
}

.form-check {
    display: flex;
    align-items: center;
}
.form-check-label {
    margin-left: .5rem;
}

.order-detail  span:first-child {
    color: #414141;
    font-weight: 600;
}
.order-detail  span:last-child {
    color: #818181;
}

/*table 第一列*/
.bg-f .fixed-table-container .fixed-table-body-columns table tbody tr td{
    color: var(--activeColor);
    cursor: pointer;
}
.bootstrap-table .fixed-table-header{
    margin-right: 0 !important;
}

/*附件*/
.file-upload {
    border-top: solid 1px #ddd;
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}
.uploadFile {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 11.25rem;
    height: 8.125rem;
    border:dashed 1px #ebecf0;
    border-radius: 6px;
}
.upload-over {
    background: #fafafa;
    border-style: solid;
}
.uploadFile  input {
    cursor: pointer;
}
.uploadFile .close {
    position: absolute;
    right: 4px;
    top: 0;
    z-index: 10;
    color: #999;
}
.uploadFile img{
    width: 2rem;
}
.uploadFile p {
    color: var(--fontColor);
}
#upload_file {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.filename {
    text-align: center;
    margin-top: 1rem;
    padding: 0 2rem;
}


/*内容小标题*/
.l-title {
    font-size: 1.25rem;
    color: #191919;
    font-weight: 600;
    padding: 1rem 0 1rem 1.875rem;
    border-bottom:solid 1px #e6e9ee;
}

/*填报页面固定底部*/
.fixed-btn-well {
    height: 5rem;
    width: 100%;
    background: #fff;
    bottom: 0;
    right: 0;
    box-shadow: 10px 0 10px 0 #e5e5e5;
}

.fixed-backup {
    position: absolute;
    bottom: 7rem;
    right: 5rem;
    width: 2.5rem;
    height: 2.5rem;
    background: var(--activeColor);
    color: #fff;
    font-size: 1.8rem;
    display: none;
    text-align:center;
    line-height: 2.5rem;
    cursor: pointer;
    border-radius: 4px;
}
.fixed-backup:hover {
    background:#1890ee;
}
.all-tip {
    display: none;
    position: absolute;
    top: 1.2rem;
    left: 50%;
    padding: 0 .5rem;
    background: #fff;
    height: 2.8rem;
    text-align: center;
    line-height: 2.8rem;
    box-shadow: 0 0 15px #ccc;
    border-radius: 6px;
    z-index: 99999;
}
.all-tip img {
    width: 1.5rem;
    display: inline-block;
}

.tab-fixed {
    z-index: 999;
    width: 100%;
    position: fixed;
    top: 5rem;
    background: #fff;
    left: 16.6667%;
    padding-left: 2.5rem;
    border-top: solid 1px #e5e5e5;
    box-shadow: 0px 2px 2px #e5e5e5;
}

#handleMenu {
    position: absolute;
    right: -1.2rem;
    top: calc(100%/2 - 10rem);
    width: 1.2rem;
    height: 4rem;
    cursor: pointer;
    background: #03223f;
    border-radius: 0 4px 4px 0;
}
#handleMenu .border-div {
    height: 1rem;
    width: 100%;
    background: url(../imgs/index/left_arrow.png) no-repeat;
    background-size: 100% 100%;
}

.wrap {
    width: 1rem!important;
    text-overflow:ellipsis;
    overflow:hidden;
}

.order-dead {
	background:#ffccc8!important;
}
.order-ing {
	background:#b6eb8f!important;
}
.order-ask {
	font-weight:900;
}
.order-ask td {
	color:#333!important;
	
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
	-webkit-appearance: none !important;
	margin: 0;
}
