#container {
    position: relative;
    height: calc(100% - 2.7rem);
}
.main{
    overflow: hidden;
}
/* 上面用户信息和订单统计 */
.user-order {
    height: 7rem;
    box-shadow: 0 2px 5px 0 #dedede;
    background: #fff;
    margin-bottom: .4rem;
}

.user-info {
    padding-left: 2.625rem;
}
.regards {
    font-size: 1.5rem;
    font-weight: 600;
}
.job-title span:first-child {
    padding-right: .5rem;
    font-size: 1rem;
    color: var(--fontColor);
    line-height: 0;
    border:solid #e5e5e5;
    border-width: 0 1px 0 0;
}
.job-title span:last-child {
    padding-left: .5rem;
    font-size: 1rem;
    color: var(--fontColor);
    line-height: 0;
}

.order-item span:first-child {
    color: var(--fontColor);
}

.order-item span:last-child {
    font-size: 1.8rem;
}
.order-item:nth-child(2) {
    height: 2rem;
    border:solid #e5e5e5;
    border-width: 0 1px 0 1px;
}

/* 内容 */

.table-content #table tbody tr td:first-of-type {
    color: var(--activeColor);
    cursor: pointer;
}
.search-input {
    width: var(--inputWidth)!important;
    color: var(--fontColor);
}
#formSearch {
    padding-right: 6rem;
    padding-top: 1rem;
}

#formSearch .control-label {
    /* width: 6.999rem; */
    font-size: 1rem;
    font-weight: 600;
    justify-content: flex-end;
   
}
#formSearch .form-control {
    border-radius: 6px;
}

.right-btn {
    width: 16.25rem;
    margin-right: 6.9375rem!important;
}
/*过滤样式*/
.th-inner  {
    position: relative;
    overflow: visible!important;
}
#table .deal-state {
    display: none!important;
}
.deal-state {
    height: 18rem;
    overflow-y: auto;
    box-shadow: 0 0 5px 1px #ddd;
    padding: 1rem;
    background: #fff;
    display: none;
    z-index: 10;
}
.deal-state-show {
    display: block;
  
}

.form-check {
    display: flex;
    align-items: center;
}
.form-check-label {
    margin-left: .5rem;
}

.btn-row>.btn {
    margin-left: 10.5rem!important;
}

#btnCollapse {
    height:3rem;
    transition: all .2s;
}
