:root {
    --errColor:#f5222d;
}

html,body {
    min-height: 576px;
}
body {
   
    background: url("../imgs/login/bg_login.jpg") no-repeat;
    background-size: 100% 100%;
}

.container-fluid {
    margin:0;
}

.right-box {
    height: 100%;
    background:rgba(255,255,255,0.85);
    /* display: block!important; */
}

.logo-box {
    width: 19rem;
    min-height: 4.375rem;
    max-height: 4.375rem;
    margin-top: 6.25rem;
    background: url('../imgs/login/i_logo.png') no-repeat;
    background-size: contain;
}

.system-name {
    margin-top: 6.375rem;
    font-size: 2.3rem;
    font-weight: bolder;
    letter-spacing: .2em;
}
.input-group-addon {
    top:0;
    width: 4.714em;
    height: 4.125rem;
    background: #f5f8fd;
    color: #abaeb3;
    border: 1px solid #ccc;
    border-right: 0;
    border-radius: 4px 0 0 4px;
}
.border-error {
    border-color:var(--errColor)!important;
}

/* 登录框input */
.form-group {

    width: 23.56rem;
}
.form-control {
    height: 4.125rem;
    border: 1px solid #ccc;
    box-shadow: none;
    border-radius: 4px;
}
.form-control2 {
    height: 4.125rem;
    width: 14.22rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
}
.form-control:focus {
    border-color:none;
}
.username {
    margin-top: 7.5rem;
}
.password {
    margin-top: 1.875rem;
}
.verify{
    margin-top: 1.875rem;
}
#conVer{
    width: 9rem;
    height: 4.125rem;
    margin-left: 0.33rem;
    background-color: rebeccapurple;
}
.btn-login {
    width: 100%;
    height: 4.375rem;
    margin-top: 1.875rem;
    letter-spacing: .5em;
    font-size: 1.625rem;
    border-radius: 14px;
}

 .bottom-text {
     margin-top: 18.75rem;
     margin-bottom: 1.875rem;
     font-size: 1.25rem;
     color: #9ca6b2;
     letter-spacing: .1em;
 }
 /*图标*/
 .fa-user,.fa-lock {
     font-size: 2rem;
     color: #ccc;
 }

 small {
     padding-left: 1rem;
     color: #d00;
     display: none;
     font-size: 100%;
 }

 .error-tip {
     display: none;
    height: 3rem;
    background: #fff1f0;
    line-height: 3rem;
    border: solid 1px #d00;
    border-radius: 4px;
    margin-top: 1.5rem;
    padding: 0 1rem;
    color: var(--errColor);
 }
.error-tip2 {
    display: none;
    height: 3rem;
    background: #fff1f0;
    line-height: 3rem;
    border: solid 1px #d00;
    border-radius: 4px;
    margin-top: 1.5rem;
    padding: 0 1rem;
    color: var(--errColor);
}
.username,.password {
    margin-bottom: .5rem;
}
 #username,#psw{
     box-shadow: none;
     transition: none;
     border-top-left-radius: 0!important;
     border-bottom-left-radius: 0!important;
 }
 