
.order-info {
    position: relative;
    background: #fff;
}

.order-num {
    font-size: 1.5rem;
    font-weight: 600;
}
.order-item-box {
    margin-left: -15px;
}
.order-item span {
    color: var(--fontColor);
}
.order-item .fw {
    font-weight: 900;
    color: #000;
}

.order-info .btn-group span {
    padding: 1.25rem 2.125rem;
    font-size: 1.25rem;
    color: var(--fontColor);
    cursor: pointer;
}
.order-info .btn-group .tab-active {
    color: var(--activeColor);
    font-weight: 500;
    border-bottom: solid 3px var(--activeColor);
}

/* 内容 */
.table-content {
    height: calc(100% - 16.8rem);
}
.company-info {
    min-height: 22.57rem;
}

label {
    font-weight: 500;
}
.firm-info label {
    font-size: 1rem;
    color: var(--fontColor);
}
.firm-info .form-control {
    width: var(--inputWidthMD);
}

.table-content1,.table-content2,.table-content3,.table-content4,.table-content5 {
    padding: 1.25rem 2rem;
}
.bootstrap-table {
    margin: 0;
}
.btn-lg {
    padding: 0.8rem;
    background: #fff;
    border:dashed 1px #e5e5e5;
    color: var(--fontColor);
}
.fixed-table-container {
    height: auto!important;
}

.modal-dialog {
    max-width: 60%!important;
}

.modal-header {
    min-height: auto;
    font-size: 1.15rem;
    font-weight: 600;
    padding: 1rem;
}

.btn {
    padding: .375rem 1.75rem;
}
.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal-body input {
    width: var(--inputWidthlg)!important;
}
.control-label {
    width: 7rem;
    justify-content: flex-end!important;
}
.operate a {
    padding: 0 .5rem;
}
.bg-f {
    min-height: auto;
}

.btn-block:hover {
    color: var(--activeColor);
}