
.bootstrap-table .table:not(.table-condensed), .bootstrap-table .table:not(.table-condensed) > tbody > tr > th, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > th, .bootstrap-table .table:not(.table-condensed) > thead > tr > td, .bootstrap-table .table:not(.table-condensed) > tbody > tr > td, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > td {
	white-space:normal;
	word-break:break-all;
	word-wrap:break-word
 /* 	width:auto;  */
}
.fixed-table-footer table {
	table-layout:fixed;
}
.bootstrap-table .fixed-table-footer .monyCol {
    padding-left: 1.5rem !important;
}
.fixed-table-container thead th .th-inner, .fixed-table-container tbody td .th-inner {
    white-space: normal;
}
.bootstrap-table .table > thead > tr > th {
    vertical-align: middle;
}


#container {
	height:100%;
}

.layui-laydate .layui-this{
    background-color: var(--activeColor)!important;
    color: #fff!important;
}
.main {
    margin-bottom: 10rem;
}
.order-info {
    position: relative;
    background: #fff;
}

.order-num {
    font-size: 1.5rem;
    font-weight: 600;
}
.order-item-box {
    margin-left: -15px;
}
.order-item span {
    color: var(--fontColor);
}
.order-item .fw {
    font-weight: 900;
    color: #000;
}

.order-info .tab-bar li {
    font-size: 1.25rem;
    cursor: pointer;
}
.order-info .tab-bar li a {
    color: var(--fontColor);
    padding: 1.25rem 2.125rem;
    display: block;
}
.order-info .tab-bar .tab-active {
    color: var(--activeColor);
    font-weight: 500;
    border-bottom: solid 3px var(--activeColor);
}

/* 内容 */
.table-content {
    height: calc(100% - 16.8rem);
    width : 100%;
}
.company-info {
    min-height: 22.57rem;
}

label {
    font-weight: 500;
}
.firm-info label {
    font-size: 1rem;
    color: var(--fontTitleColor);
}
.firm-info .form-control {
    width: var(--inputWidthMD);
}
#xydj .form-control,#xydjEn .form-control {
	 width: var(--inputWidthsm);
}

.table-content1,.table-content2,.table-content3,.table-content4,.table-content5,.table-content6,.table-content7,.table-content9,.table-content10 {
    padding: 1.25rem 2rem;
  /*   height:20rem; */
}
.bootstrap-table {
    margin: 0;
}
.btn-lg {
    padding: 0.8rem;
    background: #fff;
    border:dashed 1px #e5e5e5;
    color: var(--fontColor);
}


.modal-dialog {
    max-width: 60%!important;
}
#modal_revise .modal-dialog {
    max-width: 45%!important;
}
#modal_revise .modal-content{
	min-height: 31.75rem;
}

.modal-header {
    min-height: auto;
    font-size: 1.15rem;
    font-weight: 600;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.modal-header button {
	padding:0!important;
}
.btn {
    padding: .5rem 1.75rem;
    font-size:1rem;
}
.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal-body input,.modal-body textarea,.modal-body select{
    width: var(--inputWidthlg)!important;
}
.control-label {
    width: 11rem;
    justify-content: flex-end!important;
}
.edit {
    padding-right: 1rem;
}
.bg-f {
    min-height: auto;
    box-shadow:none;
}

.btn-block:hover {
    color: var(--activeColor);
    border-color:var(--activeColor);
}


.attachment {
    overflow: hidden;
    margin-bottom: 2rem;
}

.bs-popover-top {
    top: -30px!important;
}
.isDelete {
    display: none;
    z-index: 1;
    position: absolute;
    top: -10rem;
    right: -6.5rem;
    height: 8.3rem;
    width: 16rem;
    border-radius: 4px;
    box-shadow: 0 0 9px #CCC;
    background: #fff;
    cursor: default;
}
.deleteShow {
    display: block;
}
.isDelete>div {
    text-align: center;
    padding-top: 1.5rem;
    color: var(--fontColor);
    font-size: 1.25rem;
}
.isDelete img {
    width: 1.5rem;
    display: inline-block;
    margin-right: .3rem;
}
.delete {
    position: relative;
}
#popCancel {
    margin-right: .8rem;
}

.fixed-table-body {
}

.isDelete  .popover-arrow {
    top: 7.9rem;
    transform: rotate(225deg);
}
.bg-f .fixed-table-container .fixed-table-body-columns table tbody tr td {
    color: var(--fontColor);
    cursor: default;
}
.firm-info .form-group {
	position:relative;
}
/*提示信息*/
.errorInfo {
	color:#F75760;
	position: absolute;
	left:0;
	text-align: left;
	top:4.5rem;
	padding:0 .75rem;
	display: none;
}
.firm-info input.active, .firm-info select.active{
	border-color:#f00;

}
.upload-over:hover {
	border-color:var(--activeColor);
	
}
.l-title {
	display:block;
}
.table-margin input{
	margin:0 auto;
}


._citys { width: 450px; display: inline-block; border: 2px solid #eee; padding: 5px; position: relative; background: #fff!important}
._citys span { color: #56b4f8; height: 15px; width: 15px; line-height: 15px; text-align: center; border-radius: 3px; position: absolute; right: 10px; top: 10px; border: 1px solid #56b4f8; cursor: pointer; }
._citys0 { width: 100%; height: 34px; display: inline-block; border-bottom: 2px solid #56b4f8; padding: 0; margin: 0; }
._citys0 li { display: inline-block; line-height: 34px; font-size: 15px; color: #888; width: 80px; text-align: center; cursor: pointer; }
.citySel { background-color: #56b4f8; color: #fff !important; }
._citys1 { width: 100%; display: inline-block; padding: 10px 0; }
._citys1 a { width: 83px; height: 35px; display: inline-block; background-color: #f5f5f5; color: #666; margin-left: 6px; margin-top: 3px; line-height: 35px; text-align: center; cursor: pointer; font-size: 13px; overflow: hidden; }
._citys1 a:hover { color: #fff; background-color: #56b4f8; }
.AreaS { background-color: #56b4f8 !important; color: #fff !important; }
.count_down{width: 50px;height:20px;border: 1px solid red}