* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--blue);
}

:root {
    --blue: #00adef;
}

/*布局*/
html, body {
    height: 100%;
}

body {
    width: 99%;
    /*height: 31rem;*/
    /*background-color: #07151d;*/
}

.myContainer {
    position: relative;
    text-align: center;
}

.textPicBox {
    display: inline-block;
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    vertical-align: top;

}
.textPicBox h3{
    font-weight: normal;
    margin-bottom: 2rem;
    font-size: .85em;
    color:#6cf!important;
}

.textPicBox:nth-of-type(1) {
    position: absolute;
    left: 5rem;
}
.textPicBox:nth-of-type(2) {
    width: 30rem;
    position: absolute;
    right: 6rem;
}
.textPicBox:nth-of-type(2) h3 {
    /*margin-bottom: 3rem;*/

}

.textPicBox img {
    width: 100%;
}

.textPicBox .picBox {
    transition: all 1s;
    position: relative;
    transform-origin: 18rem -1rem;
    left: -1rem;
    top: 1rem;
    height: 15rem;
    background: url("../images/system/cnn.png") no-repeat;
    /*下面两行是因为换图和原来的对不上而做的调整*/
    background-size: 91% 84%;
    background-position: 47% 47%;
    opacity: .99;
}

/*光效动画*/

.line {
    position: absolute;
    right: 0;
    width: 0;
    animation-fill-mode: forwards;
    opacity: 0;
    transform-origin: right center;
    transition-property: all;
    transition-duration: 1s;
}
.line:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.light .line {
    height: .375em;
    background: radial-gradient(ellipse farthest-side at 0 50%, var(--blue), rgba(0, 0, 0, 0));
}

.light .line:before {
    width: .75em;
    height: .75em;
    background: radial-gradient(closest-side, white, var(--blue) 40%, rgba(0, 0, 0, 0));
}

.light .line.animate {
    animation-name: animate;
}

@keyframes animate {
    0% {
        width: 0;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    to {
        width: 100%;
        opacity: 1;
    }
}

[class^=animationBox] {
    position: absolute;
}

/*右边的光束*/
.animationBox-right {
    right: 2rem;
    top: 7rem;
    width: 12rem;
}

.animationBox-right .line:nth-of-type(1),
.animationBox-right .line:nth-of-type(2) {
    top: 0;
    transform: rotate(-10deg);
}

.animationBox-right .line:nth-of-type(2) {
    top: 2rem;
}

.animationBox-right .line:nth-of-type(3),
.animationBox-right .line:nth-of-type(4) {
    top: 8rem;
    transform: rotate(10deg);
}

.animationBox-right .line:nth-of-type(4) {
    top: 10rem;
}

/*中间的光束*/
.animationBox-center {
    left: 40%;
    top: 10rem;
    width: 12rem;
    filter: hue-rotate(-90deg);
}

.animationBox-center .line:nth-child(1) {
    /*top: 2rem;*/
}
.animationBox-center .line:nth-child(2) {
    top: 2rem;
}
.animationBox-center .line:nth-child(3) {
    top: 4rem;
}

/*左边的光束*/
.animationBox-left {
    left: 2rem;
    top: 11rem;
    width: 12rem;
}

.animationBox-left .line:nth-of-type(1) {
    transform: rotate(10deg);
}

.animationBox-left .line:nth-of-type(2) {
    top: 2rem;
}

.animationBox-left .line:nth-of-type(3) {
    top: 4rem;
    transform: rotate(-10deg);
}

/*神经网络*/
.aiBox .line {
    height: .125rem;
    background: yellow;
    transition-property: all;
    transition-duration: 1s;
}

.aiBox .line.animate,
.aiBox .line.animate:before {
    opacity: 1;
}

.aiBox .line:before {
    width: .5rem;
    height: .25rem;
    transform: translate(-50%, -50%) skew(-65deg, 30deg);
    background: linear-gradient(to right top, yellow 50%, rgba(0, 0, 0, 0) 50%);
}

.aiBox > div {
    position: absolute;
}

/*第一步*/
.aiBox1 {
    right: 0;
    width: 2rem;
}
.aiBox1 .line.animate {
    width: 100%;
}
.aiBox1 .line:nth-of-type(1),
.aiBox1 .line:nth-of-type(2),
.aiBox1 .line:nth-of-type(3) {
    right: 5.875rem;
    top: 4.125rem;
}

.aiBox1 .line:nth-of-type(2),
.aiBox2 .line:nth-of-type(2) {
    top: 7rem;
}

.aiBox1 .line:nth-of-type(3) {
    top: 10.75rem;
}

/*第二步*/
.aiBox2 {
    right: 10rem;
    width: 2.5rem;
}

.aiBox2 .line:nth-of-type(1) {
    top: 4.25rem;
    transform: rotate(-45deg);
}
.aiBox2 .line.animate:nth-of-type(1) {
    width: 3.5rem;

}
.aiBox2 .line:nth-of-type(2) {
    transform: rotate(-9deg);
}
.aiBox2 .line.animate:nth-of-type(2) {
    width: 100%;
}
.aiBox2 .line:nth-of-type(3) {
    top: 10.75rem;
    transform: rotate(40deg);
}
.aiBox2 .line.animate:nth-of-type(3) {
    width: 3.5rem;
}

/*第三步*/
.aiBox3 {
    right: 14rem;
}
.aiBox3 .line {
    top: 5rem;
    transform: rotate(-90deg);
}
.aiBox3 .line.animate {
    width: .875rem;
}
/*第四步*/
.aiBox4 {
    right: 15.25rem;
}
.aiBox4 .line {
    top: 7.375rem;
}
.aiBox4 .line.animate {
    width: 2.25rem;
}

/*第五步*/
.aiBox5 {
    right: 20.375rem;
}
.aiBox5 .line {
    top: 7.375rem;
}
.aiBox5 .line.animate {
    width: 2.5rem;
}

.aiBox .line.thin:nth-of-type(4),
.aiBox .line:nth-of-type(5),
.aiBox .line:nth-of-type(6) {
    right: 9.875rem;
}

.aiBox .line:nth-of-type(4) {
    transform: rotate(-45deg);
}

.aiBox .line:nth-of-type(6) {
    transform: rotate(45deg);
}

.aiBox .line:nth-of-type(7) {
    right: 14rem;
    top: 5rem;
    transform: rotate(-90deg);
}


.aiBox .line:nth-of-type(8) {
    right: 15.125rem;
    top: 7.5rem;
}

.aiBox .line.animate:nth-of-type(8) {

}

.aiBox .line:nth-of-type(9) {
    right: 20.375rem;
    top: 7.5rem;
}


.videoBox{
    position: absolute;
    left: 4rem;
    top: 3rem;
    z-index: -1;
    width: 21rem;
    box-shadow: 0 2rem 6rem 2rem #090f24;
}
.videoBox>video{
    display: block;
    width: 100%;
    height: 100%;
}