#compareOuter{
    display: none!important;
}
html,body{
    height: 100%;
    background: rgba(14, 19, 39,1);
}

.fl{
    float: left;
}
.fr{
    float:right;
}
#content {
    background:url("../images/page2/bg-2.jpg") no-repeat 100% 100%;
    background-size: 100% 100%;
    width:100%;
}
/*消除浏览器中搜狗翻译的某些样式*/
#compareOuter{
    display: none!important;
}
/*=============================head==============================*/
#head{
    overflow: hidden;
    height:15%;
    width:99%;
    background: url(../images/bg_header_phm.png) no-repeat 50% 60%;
    background-size: 95% 60%;
    margin: 0 auto;
}
#head h1{
    float:left;
    height:34%;
    width:4%;
    margin-left:33.5%;
    margin-top:1.2%;
}
#head h1 a {
    display: block;
    /* height:100%; */
    width:100%;
}

#head h1 a img{
    display:block;
    /* height:100%; */
    width:100%;
}

#head h2{
    float:left;
    width:35%;
    font-weight: 900;
    font-size: 2.2em;
    margin-top:1.1%;
    margin-left:2%;
    letter-spacing: 0.3em;
}
#head h2 a{
    color:#6cf;
}
/*=============================center==============================*/
@font-face {
    font-family:"DS-DIGIB";
    src: url("DS-DIGIB.TTF");
}
#centerData {
    height:10%;
    width:100%;
}
#centerData .dataBox {
    width:11.5%;
    height:65%;
    background: url(../images/health/number-bg.png) no-repeat 100% 100%;
    background-size: 100% 100%;
    float:left;
    margin-left:2%;
    margin-top: .4%;
}
#centerData .ml {
    margin-left: 11%;
}
#centerData .dataBox span {
    display: inline-block;
    width: 29%;
    height: 100%;
    text-align: center;
    line-height: 2.2em;
    font-size: 1.3em;
}
#centerData .dataBox p {
    display: inline-block;
    width: 69%;
    height: 100%;
    text-align: right;
    line-height: 1.9em;
    font-size: 1.6em;
    font-family: DS-DIGIB;
    color: #ff9f30;
    letter-spacing: .7em;
    background: url(../images/health/number.png) no-repeat 0% 13%;
    background-size: 95% 90%;
}
/*==============================mainContent=============================*/
#main{
    width: 100%;
    height: 85%;
    margin: 0 auto;
    overflow: hidden;
}
#mainContent{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
/* =============================左侧======================================= */
.LeftContent{
    height: 100%;
    width: 36%;
    background:url("../images/system/bg1.png") no-repeat;
    background-size: 100% 100%;
}
.currentState{
    width: 90%;
    height: 30%;
    margin: 0 auto;
}
.currentState>div:nth-child(1){
    position: relative;
    width: 40%;
    height: 100%;
}
.currentState>div:nth-child(2),.currentState>div:nth-child(3){
    position: relative;
    width: 30%;
    height: 100%;
}
.currentState_middle>div{
    height: 100%;
}
.currentState_leftTitle{
    position: relative;
    padding: 5% 12%;
    height: 100%;
    /* background-color: red; */
}
.operationTime{
    font-size: 1.1em;
    color: #ff9f30;
}
.currentState_leftTitle span:last-child{
    color: #ff9f30;
}
.boxTitle1{
    position: relative;
    width: 40%;
    top: 2%;
    background:url("../images/system/currentStatus.png") no-repeat;
    background-size: 70% 100%;
}
.boxTitle2{
    position:relative;
    bottom: 0;
    background:url("../images/system/currentStatus.png") no-repeat;
    background-size: 90% 100%;
}
.boxTitle1 span{
    position: absolute;
    width: 40%;
    left: 15%;
    top: 5%;
    font-size: 1em;

    /* top: 0.2em; */
}
.boxTitle2 span{
    position: absolute;
    left: 50%;
    width: 70%;
    margin-left: -38%;
    top: 5%;
    font-size: 1em;
}

.imgbox{
    position: relative;
    height: 16%;
    width: 100%;
}

.currentState_leftTitle ul li{
    position: relative;
    left: 8%;
    list-style: none;
    padding: 3% 0;
    font-size: 0.8em;
}
.currentState_leftTitle ul li a{
    color: #ff9f30;
    font-size: 1.1em;
}
.currentState_leftTitle ul li i{
    color: #ff9f30;
    font-size: 0.7em;
}


/* list 冰冷 洗涤 */
.leftContentList .lists .listsUp{
    height: 45%;
    
}
.leftContentList .lists .listsMiddle{
    height: 30%;
}
.leftContentList .lists .listsDown{
    height: 25%;
}

.leftContentList{
    width: 92%;
    height: 59%;
    margin: 0 auto;
    /* left: 15%; */
    /* background-color: pink; */
}
.leftContentList .lists{
    width: 16.5%;
    height:100%;
    border-right: 1px solid #0d2e52;
    /* background-color:red; */
}

.imgboxContent{
    position: relative;
    width: 20%;
    height: 100%;
    margin: 0 auto;
}
/* 改动的地方 */
.imgbox22{
    position: relative;
    width: 100%;
    height: 2em;
    margin: 0 auto;
    /* background-color: red; */
}
.imgIcon{
    position: absolute;
    width: 18%;
    height: 100%;
    left: 50%;
    margin-left: -9%;
    background: 50% 50% no-repeat;
    background-size: contain;
    
}
.imgbox22 .bingleng{
    background-image:url("../images/system/ice-cold.png");
    
}
.imgbox22 .xidi{
    background-image:url("../images/system/washing.png");
}
.imgbox22 .jiakong{
    background-image:url("../images/system/jiakong.png");
    background-size: 100% 80%;
}
.imgbox22 .shangkong{
    background-image:url("../images/system/shangkong.png");
}
.imgbox22 .reshuiqi{
    background-image:url("../images/system/waterheater.png");
}
.imgbox22 .chudian{
    background-image:url("../images/system/kitchen.png");
    background-size: 100% 80%;


}






.imgboxContent img{
    position: relative;
    top: 0.3em;
    left: 50%;
    margin-left: -0.6em;
    width: 1.2em;
    height: 1.5em;
    background-size: contain;
    padding-bottom: 0.2em;
    
}

.info{
    width: 100%;
    
}
.info p{
    text-align: center;
    padding: 0.2em 0;
}
.timeNum{
    text-align: center;
}
.xs{
    font-size: 0.6em;
    color:#ff9f30;
}
.txt2,.txt4{
    font-size: 0.6em;
    text-align: center;
}
.txt1{
    font-size: 0.7em;
    padding: 0.4em 0;
    /* color: red; */
}
.txt3, .txt5{
    font-size: 0.8em;
    color:#ff9f30;
    /* margin-bottom: 0.2em; */
}
.echarts{
    height: 100%;
}
.echarts>div{
    height: 100%;
}
/* ============================右侧======================================= */
.RightContent{
    height: 100%;
    width: 62%;
    background:url("../images/system/bg2.png") no-repeat;
    background-size: 100% 100%;
}
.mainTitle{
    position: relative;
    height: 10%;
    width: 80%;
    margin: 0 auto;
}
.mainTitleContent{
    position: absolute;
    bottom:0;
    width: 100%;
    height: 80%;
    background:url("../images/system/title1.png") no-repeat;
    background-size: 100% 100%;
    
}
.mainTitleContent span{
    width: 100%;
    display: inline-block;
    position: absolute;
    text-align: center;
    bottom: 15%;
    font-size: 1.1em
    
}
.ContentRightContent{
    height: 90%;
    width: 100%;
}
.ContentRightContent>div{
    height: 100%;
}
/* ======================================右侧 左边部分===================== */
.rightMiddle{
    width: 68%;
    /* background-color: red; */
}
.rightMiddle>iframe{
    height: 100%;
    width: 100%;
    transform: scale(1.2) translateY(10%);
} 
/* ======================================右侧 右边部分===================== */
.rightRight{
    width: 30%;
    /* background-color: pink; */
}
.rightRight .rightRightText{
    position: relative;
    height: 10%;
    width: 100%;
    /* background-color:#000; */
}
.rightRight .rightRightText span{
    width: 100%;
    display: inline;
    position: absolute;
    text-align: center;
    bottom: 30%;
    font-size: 1em
}
/*四个小图标*/
.rightRight .rightModPic{
    position: relative;
    height: 85%;
    width: 100%;
    /* background-color: red; */
}
.rightPicContentBox{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.rightPicContentUp{
    position: relative;
    height: 56%;
    width: 60%;
    margin: 0 auto;
    background:url("../images/system/r_bj.png") no-repeat;
    background-size: 100% 100%;
    
}
.recordscenter{
    background-color: red;
}
.rightPicContentBox>div:nth-child(1){
    height: 8%;
}
.rightPicContentDown{
    height: 30%;
    width: 100%;
}

.rightPicContentUp>div:nth-child(1){
    position: absolute;
    width: 15%;
    height: 20%;
    top: -9%;
    left: -15%;
    background:url("../images/system/jiance.png") no-repeat;
    background-size: contain;
    cursor: pointer;
}
.rightPicContentUp>div:nth-child(2){
    position: absolute;
    width: 15%;
    height: 20%;
    top: -9%;
    right: -16%;
    background:url("../images/system/gongchang.png") no-repeat;
    background-size: contain;
    cursor: pointer;
}
.rightPicContentUp>div:nth-child(3){
    position: absolute;
    width: 15%;
    height: 20%;
    top: 50%;
    left: 50%;
    margin-left: -7.5%;
    margin-top: -6%;
    background:url("../images/system/yonghu.png") no-repeat;
    background-size: contain;
    cursor: pointer;
}
.rightPicContentUp>div:nth-child(4){
    position: absolute;
    width: 15%;
    height: 20%;
    top: 89%;
    left: -15%;
    background:url("../images/system/yanfa.png") no-repeat;
    background-size: contain;
    cursor: pointer;
}
.rightPicContentUp>div:nth-child(5){
    position: absolute;
    width: 15%;
    height: 20%;
    top: 89%;
    right: -15%;
    background:url("../images/system/gongyingshang.png") no-repeat;
    background-size: contain;
    cursor: pointer;
}
.recordscenterTitle{
    position: relative;
    top: 120%;
    left: -64%;
    width: 6em;
    height: 7em;
    /* background-color:red; */
}
.recordscenterTitle .biaoti{
    width: 100%;
    height: 1.5em;
}
.biaoti p{
    padding-bottom: 0.5em;
    text-align: center;
    font-size: 1em;
}
.news{
    position: absolute;
    background:url("../images/system/wenbenkuang.png") no-repeat;
    background-size: 100% 100%;
    bottom: 0;
    width: 6em;
    height: 5.5em;
    /* background-color: blue; */
    overflow: hidden;

}

.recordscenterTitle .news ul li{
    /*color:lime;*/
    padding: 2px 0;
    width: 90%;
    height: 50px;
    line-height: 50px;
    font-size: 0.9em;
    vertical-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}
/* ================================================= */



