
#content {
	background:url("../images/page2/bg-2.jpg") no-repeat 100% 100%;
	background-size: 100% 100%;
	width:100%;
}
p.colorRed{
	color: #f5222d;
}
p.colorOrange{
	color: #ff9f30;
}
/*=============================head==============================*/
#head{
	overflow: hidden;
	height:15%;
	width:99%;
	background: url(../images/bg_header_phm.png) no-repeat 50% 60%;
	background-size: 95% 60%;
	margin: 0 auto;
}
#head h1{
	float:left;
	height:34%;
	width:4%;
	margin-left:33.5%;
	margin-top:1.2%;
}
#head h1 a {
	display: block;
	height:100%;
	width:100%;
}

#head h1 a img{
	display:block;
	height:100%;
	width:100%;
}

#head h2{
	float:left;
	width:35%;
	font-weight: 900;
	font-size: 2.2em;
	margin-top:1.1%;
	margin-left:2%;
	letter-spacing: 0.3em;
}
#head h2 a{
	color:#6cf;
}
/*=============================bottom==============================*/
#bottom{
	height:77%;
	margin-top:.3%;
}

.map-mod {
	float:left;
	width:21%;
	height:100%;
	margin-left:1.5%;
	/*background: #dd0;*/
	position:relative;
}
.map-mod .mapTitle {
	position:absolute;
	left:35%;top:10%;
	z-index:10000;
	font-size:1.4em;
}
.mapTitle a {
	display:block;
	width:100%;height:100%;
	color:#64ccff;
	font-size:1.4em;
}

.bxbox {
	float:left;
	width: 24%;
	height:100%;
	/*background: #dd0;*/
	position: relative;
}
.bxbox .circle {
	 perspective: 30em;	
	 transform-style: preserve-3d;
	position: absolute;
	width: 45%;
    height: 51%;
    left: 3%;
    top: 37%;
    transform: rotateX(55deg);
	/* background:url(../images/status/circle.png) no-repeat 100% 100%; */
	/* background-size: 100% 100%; */
	
}
/*  #container {
    position: relative;
    margin: 2em auto;
    width: 320px;
    height: 320px;
    border: .1em dashed black;
    transform: rotateX(90deg);
}

#circleBox {
    display: block;
} */
.bxbox .mybx {
	position: absolute;
	left:4%;top:3.5%;
}
 /*视图宽和高必须是盒子每个面宽高与font-size的em值的乘积，.box的宽高必须是100%，才能使盒子旋转的中心在几何中心*/
        .view {
            margin-top: 2em;
            perspective: 72em;
            width: 16em;
            height: 16em;
            transform: scale(0.22);
        }

        .box {
            position: relative;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d; /*这句很重要*/
            transition: all 1s ease;
            transform: rotateX(-10deg) rotateY(10deg) rotateZ(0deg);
        }

        .box > div {
            position: absolute;
            width: 8em;
            height: 8em;
            padding: 1em 0 0 1em;
            line-height: 2em;
            font-size: 2em;
            font-weight: bold;
            color: #000;
            border: .1em solid rgba(255, 255, 255, .6);
            /*box-shadow: -1em -1em 2em 2em #ccc inset;*/
            /*background: radial-gradient(at 2em 2em,skyblue 30%,green);*/
            opacity: .93;
            background-size: 100% 100%;
        }

        div.box_front, div.box_back, div.box_left, div.box_right {
            height: 18em;
        }
		
		
		
		.box_compressor.addon {
		    transform: translateZ(-3.9em) translateY(10em) translateX(-2em) scaleX(.36) scaleY(.36) rotateY(180deg);
		}
		.box_compressor {
		    transform: translateZ(-4.8em) translateY(10em) translateX(-2em) scaleX(.36) scaleY(.36) rotateY(180deg);
		    background: url(../images/status/compressor.gif) no-repeat;
		}
        /*3D旋转中，正方向是X前面向上，Y是前面向右，Z是顶部向右，
        换句话说，就是X向右，Y向下，Z向外，从正方向往里看，顺时针为正向旋转*/
        .box_front {
            transform: translateZ(4.5em);
            background: url(../images/status/fridge_f.png) no-repeat;
        }

        .box_left {
            transform: translateX(-4.5em) rotateY(90deg);
            background: url(../images/status/fridge_lr.png) no-repeat;
        }

        .box_right {
            transform: translateX(4.5em) rotateY(90deg);
            background: url(../images/status/fridge_lr.png) no-repeat;
        }

        .box_back {
            transform: translateZ(-4.5em) rotateY(180deg);
            background: url(../images/status/fridge_b.png) no-repeat;
        }

        .box_top {
            transform: translateY(-4.5em) rotateX(90deg);
            background-color: rgba(255, 255, 255, .9);
        }

        .box_bottom {
            transform: translateY(12em) rotateX(-90deg);
        }

        .box > div > strong {
            font-size: 2em;
            text-shadow: 0 0 1em #fff;
        }

        #front:checked ~ .view .box {
            transform: rotate(0);
        }

        #back:checked ~ .view .box {
            transform: rotateY(180deg);
        }

        #top:checked ~ .view .box {
            transform: rotateX(-90deg);
        }

        #bottom:checked ~ .view .box {
            transform: rotateX(90deg);
        }

        #left:checked ~ .view .box {
            transform: rotateY(90deg);
        }

        #right:checked ~ .view .box {
            transform: rotateY(-90deg);
        }

        @keyframes rotate{
            from{
                transform: rotateX(-10deg) rotateY(10deg);
            }
            to{
                transform: rotateX(-10deg) rotateY(370deg);
            }
            /*0%{

            }
            50%{
                transform: rotateY(190deg)
            }
            100%{
                transform: rotateY(10)
            }*/
        }
        .box{
            animation: rotate 6s linear infinite;
            animation-delay: 1s;
        }
.bxbox .light {
	position: absolute;
	width:35%;height:17%;
	left:8%;top:48%;
	background:url(../images/status/light.png) no-repeat 100% 100%;
	background-size: 100% 100%;
	z-index: 999;
}
.bxbox .piontline {
	position: absolute;
	width:30%;height:12%;
	left:29%;top:39%;
	background:url(../images/status/point.png) no-repeat 100% 100%;
	background-size: 100% 100%;
	z-index: 999;
}
.bxbox .bxinfo {
	position: absolute;
	left:58%;
	width:31%;
	top:21%;
	height:58%;
	background: url(../images/status/infobg.png) no-repeat 100% 50%;
	padding:4%;
	animation: bxHeight 1s ease ;
	background-size: 100% 100%;
}
/*冰箱信息高度变化动画*/
@keyframes bxHeight{
	0%{
		background-size: 100% 0%;
	}
	100%{
		background-size: 100% 100%;
	}
}


.txt1 {
	color:#fff;
	font-weight: 100;
}
.txt2 {
	font-weight: 100;
	color:#64ccff;
}
.infobox {
	margin-bottom:5%;
}
/*====================bottom right======================*/
.statusBox {
	width:51%;
	height:100%;
	float:left;
	margin-left:2%;
	/*background:#d00;*/
}
.titleBox{
	width:85%;
	height:13%;
	margin-left:1%;
	float: left;
}

.fyBtn {
	width:3%;
	height:8%;
	float:left;
	margin-left:1.5%;
	margin-top:0.3%;
	cursor: pointer;
}
.leftBtn {
	background:url(../images/status/toLeft.png) no-repeat 100% 100%;
	background-size: 100% 100%;
	margin-left:6%;
}
.leftBtn:hover {
	background:url(../images/status/hoverLeft.png) no-repeat 100% 100%;
	background-size: 100% 100%;
}
.rightBtn {
	background:url(../images/status/toRight.png) no-repeat 100% 100%;
	background-size: 100% 100%;
}
.rightBtn:hover {
	background:url(../images/status/hoverRight.png) no-repeat 100% 100%;
	background-size: 100% 100%;
}
.tnav {
	float:left;
	width:13%;
	height:70%;
	background: url(../images/status/nav-unselect.png) no-repeat 100% 100%;
	background-size: 100% 100%;
	margin-left:5%;
	text-align: center;
	line-height: 1.8em;
	font-size: 1.3em;
	font-weight: 600;
	cursor: pointer;
}
.navActive {
	background: url(../images/status/select.png) no-repeat 100% 100%;
	background-size: 100% 100%;
	color:#00e970;
}
.syfx {
	margin-left:5%;
}

.bottomState {
	width:99%;
	height:100%;
}
.bottomState .leftStates {
	width:50%;
	height:100%;
	float:left;
}
.leftStates .jtState {
	width:13.5%;
	height:48%;
	background:url(../images/status/border.png) no-repeat 100% 100%;
	background-size: 100% 100%;
	float:left;
	margin-left:3%;
	overflow: hidden;
	position: relative;
}
.leftStates .mt1 {
	margin-top:1%;
}
.leftStates .jtState .stateTxt {
	width:65%;
	height:15%;
	margin:0 auto;
	background:url(../images/status/tborder.png) no-repeat 100% 100%;
	background-size: 100% 100%;
	text-align: center;
	margin-top:5%;
	font-size: 0.8em;
	line-height: 2.1em;
}
.leftStates .jtState .myState {
	position: absolute;
	width:80%;
	height:70%;
	background: url(../images/status/temperature_bg.png) no-repeat 100% 100%;
	background-size: 100% 100%;
	top:24%;
	left:11%;
	z-index: 10;
}
.leftStates .jtState .track {
	width:9.5%;
	height:36%;
	background: rgba(43, 236, 229, .3);
	position: absolute;
	left:46.5%;top:35%;
	border-radius: 1em 1em 0 0;
	overflow: hidden;
}
.state-box-contain {
	height:87%;
	width:98.5%;
	overflow: hidden;
	float:left;
	position: relative;
}
.state-box{
	height:100%;
	width:200%;
	left:0;top:0;
    transition: left .5s ease;	
    position: absolute;
}

.bxDoor {
	width:90%;
	height:76%;
	margin:1% auto;
}
.bxDoor .bxImgLeft {
	/*background: #dd0;*/
	width:60%;
	height:95%;
	margin-top:3%;
	margin-left: 22%;
}
.bxDoor .bxImgLeft img{
	float:left;
	height:47%;width:47%;
	margin:0 auto;
}
.bxDoor .bxImgLeft img:nth-child(3),.bxDoor .bxImgLeft img:nth-child(4) {
	width:94%;
}
.bxDoor .bxImgLeft img:nth-child(3) {
	height:25%;
}
.bxDoor .bxImgLeft img:nth-child(4) {
	height:28%;
}
.bxDoor .bxTxt{
	float:left;
	font-size: 0.5em;
	width:37%;
	height:95%;
	margin-top:3%;
	padding:28% 1%;
}


.track .liquid {
	width:100%;
	height:0;
	bottom:0%;
	position: absolute;
	background:#54d9f2;
	transition: height 1.5s ease;
}
.max, .mid, .min {
    position: absolute;
    width: 2em;
    text-align: left;
    color: #61cbff;
    font-size: .7em;
    right: 25%;
    top: 38%;
}
.tempTxt {
	position: absolute;
	text-align: center;
	color:#fff;
    width: 2em;
    font-size: .7em;
    right: 43%;
    top: 76%;
    z-index: 999;
}

.mid {
    top: 53%;
}
.min {
    top: 66%;
}
.canvBox {
	width:80%;
	height:60%;
	margin:0 auto;
	margin-top:13%;
}

.jtState .myImgBox {
	width:50%;
	height:60%;
	margin:4% auto;
}
.jtState .myImgBox img {
	display: block;
	width: 100%;
	height:100%;
}
.jtState .txtInfo {
	width: 100%;
	font-size: .8em;
	text-align: center;
}

/****************************************使用分析****************************************/

.syfxBox {
	display: none;
	width: 50%;
	height:100%;
	/* float: left; */
}
.syfxBox .problemBox {
	width:30%;
	height:46%;
	margin: 0 1% 1%;
	float:left;
	background: url(../images/status/syfx-border.png) no-repeat 100% 100%;
	background-size: 100% 100%;
}

.syfxBox .margleft {
/* 	margin-left:2%;
 */}
.syfxBox .margtop {
/* 	margin-top:2%;
 */}

.problemBox .imgBox {
	float:left;
	width:48%;
	height:85%;
	margin-left: 3%;
	margin-top:3%;
}
.problemBox .rightInfo {
	float:left;
	width:43%;
	height:85%;
	margin-left: 3%;
	margin-top:3%;
}

.problemBox .rightInfo h6{
	width:50%;
	height:17%;
	background:url(../images/status/tborder.png) no-repeat 100% 100%;
	background-size: 100% 100%;
	margin:0 auto;
	margin-top:1%;
	color:#fff;
	font-size: .8em;
	line-height:2.1em;
	text-align: center;
}

.problemBox .rightInfo p {
	margin-top:3%;
	padding-left:6%;
	font-size: .7em;
}
.problemBox .rightInfo p:first-of-type {
	margin-top:6%;
}

.problemBox .imgBox img {
	display: block;
	width:100%;
	height:100%;
}
/****************************************状态趋势****************************************/
.ztqsBox {
	display: none;
	width: 95%;
	height:98%;
	margin-left: 4%;
}
/****************************************故障诊断****************************************/
.gzzdBox {
	display: none;
	width: 95%;
	height:98%;
	margin-left: 4%;
	color: #fff;
	text-align: center;
	line-height: 98%;
}
/****************************************故障预测****************************************/
.gzycBox {
	display: none;
	width: 95%;
	height:98%;
	margin-left: 4%;
	line-height: 98%;
}
.totalInfo {
	width:100%;
	height:100%;
	background:url(../images/status/syfx-border.png) no-repeat;
	background-size:100% 100%;
}
.titleintro {
    padding-left: 5%;
    padding-top: 1%;
}
.item {
    font-size: .8em;
    padding: .5% 2%;
}
.items {
	 padding-top:0;
}
.smycBox {
    width: 98%;
    height: 78%;
    margin-left: 1%;
}


