
<% 
var headContent = {
	include("/pages/template/head.html"){}
};

var bodyContent = {
%>
<form name="form1" action="" method="post" class="form-horizontal">
	<!-- 数据列表 -->
		<table class="table">
		<tr>
			<td>订单分配规则编码</td>
			<td>${model.order_allocation_id}</td>
		</tr>
		<tr>
			<td>订单分配规则类型</td>
			<td>${model.detail_name}</td>
		</tr>
		<tr>
			<td>分配值</td>
			<td> ${model.allocation_value}</td>
		</tr>
		
		</table>
	<div style="height: 50px;clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
		<button class="btn btn-default" onclick="closeIframe();return false;">关 闭</button>
	  </div>
	</nav>
</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>

