<% var usabled = tempDict.getSysDictDetailString2('usabled',model.usabled ); %>
<% var currency = tempDict.getSysDictDetailString2('currency',model.currency ); %>
<% var agenttype = tempDict.getSysDictDetailString2('agenttype',model.agent_type ); %>
<% var speed = tempDict.getSysDictDetailString2('agentspeed',model.speed ); %>
<% var agent_category = tempDict.getSysDictDetailString2('agentcategory',model.agent_category ); %>
<% var order_rule = tempDict.getSysDictDetailString2('orderAllocationRule',model.order_allocation_id ); %>
<% 
DIRECTIVE SAFE_OUTPUT_OPEN;
var headContent = {
	include("/pages/template/head.html"){}
	include("/pages/includes/my97.html"){}
%>
<script type="text/javascript">
var oper = {
	save:function(id){
		if(!validForm()) {
			return false;
		}
		id = id || '0';
		var url = 'credit/orderrule/save?order_allocation_id='+id;
		form1.action = url;
		form1.submit();
		return true;
	}
   
};
$(function(){
	oper.initpage();
})	
</script>
<style>
.tags {
	line-height: 22px;
	height: 22px;
	border-top: 1px solid rgb(210, 210, 210);
}

.tags .tags_label {
	float: left;
	margin-right: 20px;
	margin-left: 5px;
	padding: 5px 1px 1px 3px;
}

.tags .tags_content {
	float: left;
	width: 500px;
	margin: 5px 5px 0 0;
	padding: 1px;
	border: 1px solid #ccc;
	background: #fff;
	vertical-align: middle;
}

.tags .tags_remark {
	padding: 5px 1px 1px 3px;
	color: #999999;
	font-size: 12px;
	z-index: 10000;
}
</style>

<%
};
var bodyContent = {
%>
<form name="form1" action="" method="post" class="form-horizontal">
	<input type="hidden" name="model.order_allocation_id" value=" ${model.order_allocation_id}" />
	<!-- 数据列表 -->
	<table class="table">
	<tr>
	<tr>
			<td>订单分配规则类型</td>
			 <td><select id="order_allocation_id" name="allocation_id" class="form-control" style="width: 200px;">	
			 ${order_rule!}
			</select></td>		
		</tr>
		<tr>
			<td>分配值：</td>
			<td><input type="text" name="allocation_value" class="form-control"  valid="text"
				value="${model.allocation_value}" style="width: 205px"/></td>
		</tr>
	</table>
	<div style="height: 50px;clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
	  		<button class="btn btn-primary save" onclick="oper.save(${model.order_allocation_id!'0'});return false;">确定</button>
			<button class="btn btn-default" onclick="closeIframe();return false;">取消</button>
	  </div>
	</nav>
</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
DIRECTIVE SAFE_OUTPUT_CLOSE;
<%} %>

