<!DOCTYPE html>
<% var sandbar =
tempDict.getSysDictDetailString('continent',model.continent); %> <% var
ordertype = tempDict.getSysDictDetailString('ordertype'); %> <% var
language = tempDict.getSysDictDetailString('language'); %> <% var
orderspeed = tempDict.getSysDictDetailString('orderspeed'); %> <% var
reportType = reportType.getReportTypeString2(model.report_type!''); %>
<% var upload_busType =
tempDict.getSysDictDetailString('upload_busType',model.business_type !);
%>

<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>联信</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<link rel="stylesheet"
	href="${BASE_PATH }static/credit/css/order_manage/create_order.css">
<link rel="stylesheet"
	href="${BASE_PATH }static/credit/css/order_manage/order_filing.css">
<script type="text/javascript">
	    var BASE_PATH = "${BASE_PATH }";
    </script>
</head>
<div id="container" class="row animated fadeIn">
	<!-- 内容 -->
	<div class="main">
		<!--标题-->
		<div class="main-header">
			<ul class="breadcrumb">
				<li class="breadcrumb-item"><a href="/credit/front/home/menu">首页</a>
				</li>
				<li class="breadcrumb-item active"><a>新建订单</a></li>
			</ul>
			<p class="main-title">新建订单</p>
		</div>
		<!--表单-->
		<div class="table-content">
			<div
				class="right-btn btn-group d-flex align-items-center justify-content-end mt-3">
				<form action="" enctype="multipart/form-data" id="form_File">
					<input type="file" style="visibility: hidden" id="more_upload">
					<button type="button" id="btn_import" class="btn btn-primary">
						<i class="fa fa-download"></i>批量导入
					</button>
					<button type="button" id="btn_download"
						class="btn btn-default ml-3">下载模板</button>
				</form>
			</div>

			<button id="show_modal" data-toggle="modal"
				data-target="#importModal" style="display: none"></button>
			<form id="orderForm" class="form-inline layui-form "
				enctype="multipart/form-data" action="/credit/front/home/saveOrder"
				method="post">

				<div class="form-group row d-flex justify-content-around mb-3">
					<div class="input-group mt-2 col-md-6">
						<label class="control-label col-md-4" for=""><span>*</span>客户ID：</label>
						<select name="attr.custom_id" lay-filter="customChange"
							valid="vselect" validname="客户ID"
							class="search-input  col-md-8 layui-input" id="client_ID">
							<option value="0" disabled selected>请输入客户ID</option> <%for(item
							in customs){%>
							<option value="${item.id}">${item.id}</option> <%}%>
						</select>
						<p class="errorInfo col-md-8">请输入客户ID</p>
					</div>
					<div class="input-group mt-2 col-md-6">
						<label class="control-label col-md-4" for="">客户用户名：</label> <input
							name="customname" type="text" class="form-control  col-md-8"
							id="client_userNname" placeholder="请输入客户用户名">
					</div>
				</div>
				<div class="form-group row d-flex justify-content-around mb-3">
					<div class="input-group mt-2 col-md-6">
						<label class="control-label col-md-4" for=""><span>*</span>地区：</label>
						<select name="attr.continent" lay-filter="continentchange"
							valid="vselect" validname="地区"
							class="search-input  col-md-8 layui-input" id="client_area">
							${sandbar!}
						</select>
						<p class="errorInfo col-md-8">请选择地区</p>
					</div>
					<div class="input-group mt-2 col-md-6">
						<label class="control-label col-md-4" for=""><span>*</span>国家：</label>
						<select name="attr.country" lay-filter="countrychange"
							valid="vselect" validname="国家" class=" col-md-8" lay-search=""
							ay-verify="" id="client_country">
							<option m-type="" value="0" disabled selected>请选择国家</option>
						</select>
						<p class="errorInfo col-md-8">请选择国家</p>
					</div>
				</div>
				<div class="form-group row d-flex justify-content-around mb-3">
					<div class="input-group mt-2 col-md-6">
						<label class="control-label col-md-4" for=""><span>*</span>接单日期：</label>
						<input name="attr.receiver_date" valid="vselect" validname="接单日期"
							type="text" class="form-control  col-md-8" id="client_order_date"
							disabled />
					</div>
					<div class="input-group mt-2 col-md-6">
						<label class="control-label col-md-4" for=""><span>*</span>报告类型：</label>
						<select name="attr.report_type" lay-filter="reportTypeChange"
							valid="vselect" validname="报告类型"
							class="search-input  col-md-8 layui-input" id="client_reportType">
							${reportType!}
						</select>
						<p class="errorInfo col-md-8">请选择报告类型</p>
					</div>
				</div>
				<div class="form-group row d-flex justify-content-around mb-3">
					<div class="input-group mt-2 col-md-6">
						<label class="control-label col-md-4" for=""><span>*</span>订单类型：</label>
						<select name="attr.order_type" lay-filter="ordertypechange"
							valid="vselect" validname="订单类型"
							class="search-input  col-md-8 layui-input"
							id="client_orderType"> ${ordertype!}
						</select>
						<p class="errorInfo col-md-8">请选择订单类型</p>
					</div>
					<div class="input-group mt-2 col-md-6">
						<label class="control-label col-md-4" for=""><span>*</span>报告语言：</label>
						<select name="attr.report_language" valid="vselect"
							validname="报告语言" class="search-input  col-md-8 layui-input"
							id="client_reportLanguage"> 
						<option m-type="" value="0" disabled selected>请选择报告语言</option>
						</select>
						<p class="errorInfo col-md-8">请选择报告语言</p>
					</div>
				</div>
				<div class="form-group row d-flex justify-content-around mb-3">
					<div class="input-group mt-2 col-md-6 layui-form">
						<label class="control-label col-md-4" for="txt_search_statu"><span>*</span>订单公司名称：</label>
						<input class="reste col-md-8 layui-input formInput"
							id="right_company_name_en" name="attr.right_company_name_en"
							type="text" value="">
						<!--  <select name="attr.company_id" class=" col-md-8 layui-input" lay-search="" ay-verify="" >
                                            <option value="0" disabled selected>请选择公司</option>
                                        </select> -->
						<p class="errorInfo col-md-8">请输入订单公司名称</p>
					</div>
					<div class="input-group mt-2 col-md-6">
						<label class="control-label col-md-4" for=""><span>*</span>速度：</label>
						<select name="attr.speed" lay-filter="speedchange" valid="vselect"
							validname="速度" class=" search-input  col-md-8 layui-input"
							id="client_speed"> ${orderspeed!}
						</select>
						<p class="errorInfo col-md-8">请选择速度</p>
					</div>
				</div>
				<div class="form-group row d-flex justify-content-around mb-3">
					<div class="input-group mt-2 col-md-6">
						<label class="control-label col-md-4" for="">报告用时：</label> <input
							name="attr.user_time" type="text" class="form-control  col-md-8"
							id="client_reportTime" readonly> <input
							name="attr.user_time_id" type="hidden"
							class="form-control  col-md-8">

					</div>
					<div class="input-group mt-2 col-md-6">
						<label class="control-label col-md-4" for="">客户参考号：</label> <input
							name="attr.reference_num" type="text"
							class="reste form-control  col-md-8" id="client_referenceNumber"
							placeholder="请输入客户参考号">
					</div>
				</div>
				<div class="form-group row d-flex justify-content-around mb-3">
					<div class="input-group mt-2 col-md-6">
						<label class="control-label col-md-4" for="">地址：</label> <input
							name="attr.address" type="text"
							class="reste form-control  col-md-8" id="client_address"
							placeholder="请输入地址">
					</div>
					<div class="input-group mt-2 col-md-6">
						<label class="control-label col-md-4" for="">电话：</label> <input
							name="attr.telphone" type="text"
							class="reste form-control  col-md-8" id="client_telephone"
							placeholder="请输入电话">
					</div>
				</div>
				<div class="form-group row d-flex justify-content-around mb-3">
					<div class="input-group mt-2 col-md-6">
						<label class="control-label col-md-4" for="">传真：</label> <input
							name="attr.fax" type="text" class="reste form-control  col-md-8"
							id="client_fax" placeholder="请输入传真">
					</div>
					<div class="input-group mt-2 col-md-6">
						<label class="control-label col-md-4" for="">联系人：</label> <input
							name="attr.contacts" type="text"
							class="reste form-control  col-md-8" id="client_contact"
							placeholder="请输入联系人">
					</div>
				</div>
				<div class="form-group row d-flex justify-content-start mb-4">
					<div class="input-group mt-2 col-md-6">
						<label class="control-label col-md-4" for="">Email：</label> <input
							name="attr.email" type="text"
							class="reste form-control search-input col-md-8"
							id="client_email" onblur="Events.emailAdd(this)"
							placeholder="请输入邮箱地址">
						<p class="errorInfo col-md-8">请输入正确格式</p>
					</div>

				</div>
				<div class="form-group row d-flex justify-content-start mb-4">
					<div class="input-group mt-2 col-md-12">
						<label class="control-label col-md-2" for="">备注：</label>
						<textarea name="attr.remarks"
							class="reste form-control search-input  col-md-10" name=""
							rows="4" cols="" placeholder="请输入其他细节"></textarea>
					</div>

				</div>
				<div class="reste form-group row d-flex mb-4 file-upload-box">
					<div class="file-upload">
						<label class=" ml-3">上传附件：</label>
						<div class="uploadFile mr-3 mt-3">
							<input type="file" name="file_url" id="upload_file" value=""
								class="file-input" />
							<div class="over-box">
								<img
									src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABxSURBVGhD7c9BCsAwCABB//82/9RcPJRibg1rYAe8BCRuSDojM5/31PM9DKAZQDOAZgDNAJoBNANoBtCwgO/H06bO3OuWJk2dudctTZo6c69bmjR15nnYx38xgGYAzQCaATQDaAbQDKAZQLs+QLpCxAKykAXNUf4CGwAAAABJRU5ErkJggg==">
								<p class="mt-2">上传附件</p>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group row d-flex justify-content-around">
					<div
						class="right-btn btn-group d-flex align-items-center justify-content-around mr-4 myBtn">
						<button type="button" id="btn_submit"
							class="btn btn-primary btn-submit">提交</button>
						<!-- <button type="button" id="btn_save" class="btn btn-light btn-save">保存</button> -->
					</div>
				</div>
				<input name="attr.create_by" type="hidden" value="${user.userid}">
				<input name="attr.status" type="hidden" value="0"> <input
					name="id" type="hidden" value="0"> <input id="priceid"
					name="attr.price_id" type="hidden" value="0"> <input
					id="is_fastsubmit" name="attr.is_fastsubmmit" type="hidden"
					value="-1"> <input name="attr.source" type="hidden"
					value="0"> <input name="attr.end_date" type="hidden"
					value="0"> <input name="attr.company_by_report"
					type="hidden" value=""> <input
					name="attr.right_company_name_en" type="hidden" value="">
				<!--<input type="submit" value=""/>-->
			</form>
		</div>
	</div>
</div>
<div class="modal fade" id="importModal" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">批量导入订单列表</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="table-modal-content">
					<table id="tableOrder" data-toggle="table"
						style="position: relative">


					</table>
				</div>
				<div class="err-box">
					<span></span>
				</div>
				<div class="tips-box">
					<span></span>
				</div>


			</div>
			<div class="modal-footer justify-content-center">
				<button type="button" class="btn btn-primary" id="modal_submit">提交</button>

			</div>
		</div>
	</div>
</div>
<!-- 检测到相同公司报告Modal -->
<button id="show_checked_modal" data-toggle="modal"
	data-target="#checkedModal" style="visibility: hidden"></button>
<div class="modal fade" id="checkedModal" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title m-auto d-flex" id="checkedModalLongTitle">
					<img src="${BASE_PATH }static/credit/imgs/order/icons8-notice.png"
						alt=""> 检测到相同公司报告
				</h5>
				 <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="display:none">
                    <span aria-hidden="true">&times;</span>
                </button>
			</div>
			<div class="modal-body">
				<div class="text-center my-3 modal-label">报告时间：</div>
				<div class="text-center my-3 modal-text" id="reporttime">*</div>
				<div class="text-center my-3 modal-label">是否有财务信息：</div>
				<div class="text-center my-3 modal-text" id="isfinance">*</div>
				<div class="text-center my-3 modal-label">最近财务报告时间：</div>
				<div class="text-center my-3 modal-text" id="lastFiscalYear">*</div>

			</div>
			<div class="modal-footer justify-content-center">
				<button type="button" class="btn btn-default mr-4"
					id="modal_checked_submit">递交订单</button>
				<button type="button" class="btn btn-primary"
					id="modal_checked_create">新建订单</button>
			</div>
		</div>
	</div>
</div>

<script src="${BASE_PATH }static/credit/assets/layui/layui.all.js"></script>
<script src="${BASE_PATH }static/credit/js/order_manage/create_order.js"></script>
<script type="text/javascript" src="${BASE_PATH }static/common/valid.js"></script>
<script type="text/javascript">
   
	   layui.use('form', function(){
			var form = layui.form;  
			form.render(); //更新全部
			form.on('select(customChange)',function(data){
				price();//获取代理价格
				$.post('/admin/ordermanager/getCustom',{"id":data.value},function(data1){
					console.log(data1)
	   			$("#client_userNname").val(data1.name);
				$("#client_userNname").attr("disabled","disabled");
	   		})
			})
			form.on('select(continentchange)',function(data){
				var html="";
	   			console.log(data.value)
	   			$.post('/credit/country/getCountrySelect2',{"attr.continent":data.value},function(data){
	    		 	console.log(data)
	    		  for(item in data){
					html+="<option  m-type='"+data[item].type+"' value='"+data[item].id+"'>"+data[item].name+"</option>";	        	
	 	           }
	 	           $("select[name='attr.country']").html(html);
				   form.render('select'); 
		 	       
	    	 })
		
	   		})
	   		form.on('select(countrychange)',function(data){
	   			usetime();
	   			price()
	   		})
	   		form.on('select(speedchange)',function(data){
	   			usetime();
	   	 		price();
	   		})
	   		form.on('select(reportTypeChange)',function(data){
	   			var html="";
	   	        var report_id=data.value   
	    		if(report_id==='1'||report_id==='10'){
					html+="<option  m-type='' value='213'>中文简体 </option>";	
					html+="<option  m-type='' value='216'>中文简体+英文 </option>";	        	
	    		}
	    		else if(report_id==='7'||report_id==='11'){
					html+="<option  m-type='' value='215'>英文 </option>";	
					html+="<option  m-type='' value='216'>中文简体+英文 </option>";	        	
	    		}
	    		else if(report_id==='8'){
					html+="<option  m-type='' value='213'>中文简体</option>";
					html+="<option  m-type='' value='216'>中文简体+英文 </option>";
				}
				else if(report_id==='9'){
					html+="<option  m-type='' value='215'>英文</option>";
					html+="<option  m-type='' value='216'>中文简体+英文 </option>";
				}
	    		else if(report_id==='12'||report_id==='14'||report_id==='11'){
					html+="<option  m-type='' value='217'>中文繁体+英文 </option>";	
					       	
	    		}
	    		else if(report_id==='15'){
					html+="<option  m-type='' value='213'>中文简体 </option>";	
					       	
	    		}
	    		else if(report_id==='16'||report_id==='17'||report_id==='18'
	    				||report_id==='19'||report_id==='20'||report_id==='21'){
					html+="<option  m-type='' value='215'>英文 </option>";	
					       	
	    		}
	 	           $("select[name='attr.report_language']").html(html);
				   form.render('select'); 
	   			usetime();
	   	 		price();
	   		})
	   		form.on('select(ordertypechange)',function(data){
	   	 		price();
	   		})
	   		
		});
	   


   	 	function usetime(){
   	 	var value1=$("select[name='attr.country']").find("option:selected").attr("m-type");
    	var value2=$("select[name='attr.speed']").find("option:selected").val();
    	var value3=$("select[name='attr.report_type']").find("option:selected").val();
    	var value4=$("select[name='attr.order_type']").find("option:selected").val();
    	var value5=$("#client_order_date").val();
    	console.log(value5);
   	 	var html="";
	   	 $.ajax({
		        url:"/admin/ordermanager/getTime",
		        data:{
		        	"countrytype":value1,
		        	"speed":value2,
		        	"reporttype":value3,
		        	"ordertype":value4,
		        	"receivedate":encodeURI(value5),
		        },	
		        type:"get",
		        dataType:"json",
		        success: function(data) {
		        	console.log(data)
		        	  if(data!=null){
		        		  $("input[name='attr.user_time']").val(data.usetime.use_time)
		        		  $("input[name='attr.user_time_id']").val(data.usetime.id)
						  $("input[name='attr.end_date']").val(data.enddate)
		        }
		        },
		    });
   	 	}
   	 	function price(){
   	 	var value1=$("select[name='attr.country']").find("option:selected").attr("m-type");
    	var value2=$("select[name='attr.speed']").find("option:selected").val();
    	var value3=$("select[name='attr.report_type']").find("option:selected").val();
    	var value4=$("select[name='attr.order_type']").find("option:selected").val();
    	var value5=$("select[name='attr.custom_id']").find("option:selected").val();
    	var value6=$("select[name='attr.country']").find("option:selected").val();

   	 	var html="";
	   	 $.ajax({
		        url:"/admin/ordermanager/getPrice",
		        data:{
		        	"countrytype":value1,
		        	"speed":value2,
		        	"reporttype":value3,
		        	"ordertype":value4,
		        	"customid":value5,
		        	"countryid":value6
		        },		
		        type:"post",
		        dataType:"json",
		        success: function(data) {
		        	console.log(data)
		        	  if(data!=null){
		        		  $("#priceid").val(data.id)
		        	  }
		        	
		          }
		    });
   	 	}

   	 	
   	
   </script>
<script type="text/javascript">
function piliangDingDan(){
	 var html="";
   	 $.ajax({
	        url:"/credit/orderpoimanager/importExcel",
	        type:"post",
	        dataType:"json",
	        success: function(data) {
	        	console.log(data)
	        	$.each(data,function(index,item){
	        		
	        	})
	        },
	    });
}
layui.use('form', function(){
		var form = layui.form;  
		form.render(); //更新全部
	});
</script>
</html>
