* {
    padding: 0;
    margin: 0;
}

#right {
    overflow: hidden;
}

#tab2 {
    width: 200%;
    height: 91%;
    position: relative;
    left: 0;
    /*left: -100%;*/
}

#tab2_left, #tab2_right {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    padding: 0 0.4%;
}

#tab2  .nextpage {
    width: 1000px;
    height: 500px;
    float: left;
    position: absolute;
}

#tab2  .fenye {
    position: absolute;
    top: 0;
    right: 2%
}

#tab2  .fenye div {
    width: 2.2em;
    height: 2.2em;
    margin-right: 1em;
    float: left;
    cursor: pointer;
}

#tab2  .fenye div img {
    width: 2.2em;
    height: 2.2em;
}

#tab2  .yunying {
    /*width: 100%;*/
    height: 94%;
    /*background-color: pink;*/
    margin: 1.5% 0 0 0.5%;
}

#tab2  .content_box {
    background: url("../../img/tab2/content-border.png") no-repeat;
    background-size: 100% 100%;
    width: 49%;
    height: 100%;
    /*background-color: #00a9b4;*/
    float: left;
    position: relative;
}
#tab2  .content_box:first-of-type{
    margin-right: 1%;
}
#tab2  .yunying_left_top {
    width: 98%;
    height: 38%;
    margin-top: 6%;
    margin-left: 1%;
    border-bottom: 0.15em dashed #234f65;
}

#tab2  .box_title {
    position: absolute;
    top: 0.5%;
    left: 9%;
    color: white;
    font-size: 1.7em;
}

#tab2  .rate {
    height: 20%;
    width: 98%;
    margin: 0 auto;
}
/*#tab2  #tab2_right .rate{*/
    /*height: 30%;*/
/*}*/
#tab2  .echarts_box {
    height: 80%;
    width: 98%;
    margin: 0 auto;
}
#tab2  #tab2_left .yunying_left .echarts_box{
    padding-left: 3%;
}
#myChart1, #myChart2, #myChart3,#myChart25, #myChart26, #myChart27, #myChart28, #myChart29, #myChart30, #myChart31,#myChart32 {
    width: 100%;
    height: 95%;
    padding: 0;
    margin: 0;
}

#tab2  .title {
    width: 21.4%;
    height: 100%;
    background: url("../../img/tab2/title.png") no-repeat;
    background-size: 100% 100%;
    float: left;
    text-align: center;
    padding-top: 1%;
    font-size: 1.6em;
    color: white;
}

#tab2  #tab2_left .yunying_left .title {
    width: 23%;
    margin-left: 9%;
}
#tab2  #tab2_left .yunying_right .title{
    height: 99%;
    margin: 0 5.8% 1.3% 5.8%;
}
#tab2  .yunying_left_bottom {
    width: 100%;
    height: 50%;
    margin-left: 1%;
    margin-top: 2%;
}
#tab2 .yunying_right .yunying_left_bottom{
    width: 98%;
    height: 53%;
    margin-left: 2%;
}
#tab2  .yunying_left_bottom div table {
    width: 100%;
    height: 100%;
}

#tab2  .yunying_left_bottom .shebei_chanxian {
    width: 33.3%;
    height: 95%;
    float: left;
}

#tab2  .yunying_left_bottom .shebei_chanxian table tr th {
    width: 33%;
    text-align: center;
}

#tab2  .yunying_left_bottom .shebei_chanxian table tr td {
    width: 20%;
    padding: 0;
    color: #66ccff;
    font-size: 1.2em;
    position: relative;
    text-align: center;
}

#tab2  .yunying_left_bottom .shebei_chanxian table tr td img {
    width: 0.7em;
    height: 0.7em;
    display: inline-block;
    margin-right: 0.5em;
}

/*#tab2  .yunying_left_bottom .shebei_chanxian table tr td:nth-of-type(2) {*/
    /*width: 45%;*/
/*}*/
#tab2  .yunying_left_bottom .shebei_chanxian table .td_progress{
    width: 35%;
}
#tab2  .yunying_left_bottom .shebei_chanxian table tr td .progress {
    width: 45%;
    margin-bottom: 0;
    height: 0.3em;
    background-color: #234f65;
}

#tab2  .yunying_left_bottom .shebei_chanxian table tr td .progress .progress-bar {
    background-color: #66CCFE;
}

#tab2  .yunying_left_bottom .shebei_chanxian table tr td .zaixianlv {
    position: absolute;
    top: 25%;
    right: 35%;
    display: inline-block;
    width: 1em;
    height: 1em;
    color: #f93;
}

#tab2  .yunying_right_top .echarts_box ul {
    width: 25%;
    height: 100%;
    float: left;
    position: relative;
    margin-left: 4%;
}

#tab2  .yunying_right_top .echarts_box ul:nth-of-type(2) {
    margin-left: 9%;
}

#tab2 .yunying_right_top .echarts_box ul:nth-of-type(3) {
    margin-left: 8%;
}

#tab2 .yunying_right_top .echarts_box ul li {
    height: 24%;
}

#tab2  .yunying_right_top .echarts_box ul > li .progress {
    display: inline-block;
    width: 69%;
    height: 65%;
    /*  height: 1em;*/
    border-radius: 2px;
    border: 1px solid #66ccff;
    margin-bottom: 3%;
    background-color: transparent;
}

#tab2 .yunying_right_top .echarts_box ul > li .bar_name {
    position: absolute;
    right: 33%;
    font-size: 1.2em;
    color: white;
    margin-top: 2.2%;
}

#tab2  .yunying_right_top .echarts_box ul > li span:last-of-type {
    position: absolute;
    right: -1em;
    color: #ff9933;
    font-size: 2.2em;
}

#tab2  .yunying_right_top .echarts_box ul > li .progress .progress-bar1 {
    background-color: #66ccff;
    border-radius: 2px;
}

#tab2  .yunying_right_top .echarts_box ul > li .progress .progress-bar2 {
    background-color: #66ccff;
    border-radius: 2px;
}

#tab2  .yunying_right_top .echarts_box ul > li .progress .progress-bar3 {
    background-color: #66ccff;
    border-radius: 2px;
}

#tab2  .renyuan_box {
    width: 33.33%;
    height: 95%;
    /*background-color: pink;*/
    float: left;
}

/*下一页 标准状态*/
#tab2  .normal_rate_left {
    width: 30%;
    height: 98%;
    /*background-color: pink;*/
    float: left;
}

#tab2 .normal_rate_right {
    width: 70%;
    height: 98%;
    /*background-color: bisque;*/
    float: left;
}

#tab2  .normal_rate_left ul {
    width: 100%;
    height: 40%;
    text-align: center;
    padding: 12%;
}

#tab2  .normal_rate_left ul li {
    width: 100%;
    display: inline-block;
    color: #66CCFE;
    font-size: 1.5em;
}

#tab2  .normal_rate_left ul li.num {
    font-size: 2.5em;
    color: #ff9933;
}

#tab2  .normal_rate_right .biaozhun_line {
    width: 52%;
    height: 7%;
    position: absolute;
    top: 22%;
    left: 37%;
    background: url(../../img/tab2/line-2-2.png) no-repeat;
    background-size: 100% 100%;
}

#tab2  .right_nextpage .bottom_left {
    width: 50%;
    height: 100%;
    float: left;
}

#tab2  .right_nextpage .bottom_right {
    width: 50%;
    height: 100%;
    float: left;
}

#tab2  .right_nextpage .rate {
    height: 18%;
}

#tab2  .right_nextpage .title {
    width: 60%;
    margin-left: 20%;
    padding-top: 1.5%;
    height: 77%;
}

#tab2  .right_nextpage .biaozhun_left_left {
    width: 20.5em;
    height: 20.5em;
    margin: 0;
    margin-left: 17%;
    background: url("../../../static/img/tab2/bg.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
}

#tab2  .biaozhun_left_left > div {
    width: 5em;
    height: 4em;
    text-align: center;
    vertical-align: middle;
    /*background-color: pink;*/
    position: absolute;
    font-size: 1.6em;
    color: #66ccff;
}

#tab2  .biaozhun_left_left .biaozhun_world {
    top: 16%;
    left: 4%;
    text-align: right;
}

#tab2  .biaozhun_left_left .biaozhun_country {
    top: 16%;
    right: 4%;
    text-align: left;
}

#tab2  .biaozhun_left_left .biaozhun_hangye {
    bottom: 11%;
    left: 15%;
    text-align: left;
}

#tab2  .biaozhun_left_left .biaozhun_qiye {
    bottom: 11%;
    right: 15%;
    text-align: right;
}

#tab2  .sheshi_bottom_left .biaozhun_right {
    width: 64%;
    height: 90%;
    float: left;
    text-align: center;
    font-size: 1.2em;
}

#tab2  .sheshi_bottom_left .biaozhun_right .biaozhun_right_echarts {
    width: 100%;
    height: 100%;
}

#tab2  .sheshi_bottom_left .biaozhun_right ul {
    width: 100%;
    height: 44%;
    display: inline-block;
}

#tab2  .sheshi_bottom_left .biaozhun_right ul li {
    width: 50%;
    height: 100%;
    float: left;
}

#tab2  .biaozhun_right_echarts {
    width: 100%;
    height: 78%;
}

#tab2 .biaozhun_box {
    width: 79%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
}
#tab2  .biaozhun_box_echarts{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
}
#tab2  .biaozhun_box_echarts{
    opacity: 0;
}
#tab2  .biaozhun_box_echarts:first-of-type{
    opacity: 1;
}

#tab2  .biaozhun_tabs {
    width: 21%;
    height: 100%;
    float: left;
}

#tab2  .biaozhun_tabs ul {
    width: 100%;
    height: 100%;
}

#tab2 .biaozhun_tabs ul li {
    width: 99%;
    height: 15%;
    margin: 23% auto;
    text-align: center;
    padding-top: 10%;
    font-size: 1.2em;
}

#tab2  .biaozhun_tabs_unselected {
    background: url("../../img/tab2/btn-unselect.png") no-repeat;
    background-size: 100% 100%;
    color: #66CCFE;
}

#tab2  .biaozhun_tabs_selected {
    background: url("../../img/tab2/btn-select.png") no-repeat;
    background-size: 100% 100%;
    color: #66ffcc;
}

#tab2  .nengli_top {
    width: 96%;
    height: 97%;
    margin-left: 2%;
}

#tab2  .nengli_bottom {
    width: 98%;
    height: 99%;
    margin-left: 1%;
}

#tab2  .nengli_bottom .rate .title {
    width: 35%;
    margin-left: 30%;
    padding-top: 0.5%;
}

#tab2  .nengli_bottom_box {
    width: 100%;
    height: 85%;
}