.shujuWajue{
    display: flex;
    height: 92%;
    padding: 0.7% .6% .9% 0;
}
.shujuWajue>div{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 98%;
    background-image: url("../../img/tab4/bigBorder_wajue.png");
    background-size: 100% 100%;
    margin: 1% 1.4% 0;
    padding: 2% 1%;
}
.shujuWajue>div>div{
    /*outline: 1px dashed yellowgreen;*/
    flex:1;
}
.shujuWajue>div>.title{
    position: absolute;
    top: 1%;
    color: #fff;
    font-size: 1.6em;
    left: 18%;
    transform: translateX(-50%);
}
.shujuWajue>div>div h3{
    text-align: center;
    margin-top: 2%;
    font-size: 1.3em;
}

.shujuWajue_left>.shujuWajue_left_top {
    font-size: 1.1em;
    flex:.7;
}
.shujuWajue_left_top h3{
    color: #fff;
}
.shujuWajue_left_top .rename-ppm{
    display: inline-block;
    position: absolute;
    left: 83%;
    top: 11%;
}
.shujuWajue_left_top_list>div{
    float: left;
}
.shujuWajue_left_top_list>form{
    float: left;
    width: 60%;
}
.shujuWajue_left_top_list select{
    background-color: rgba(255,255,255,.2);
}

.shujuWajue_left_bottom {
    height: 70%;
    margin-top: 2.5%;
}

/*此處用flex總是出問題*/
.shujuWajue_left_bottom>div {
    height:90%;
    float: left;
}

.shujuWajue_left_bottom_spc{
    width:58%;
}
.shujuWajue_left_bottom_cpk{
    width: 32%;
    /*margin-left: 6%;*/
}
.shujuWajue_left_bottom p.result{
    color: #00e673;
    font-size: 1.1em;
    text-align: center;
    margin-top: .5em;
    margin-bottom: -.5em;
}
#myChart14,
#myChart16{
    height: 82%;
}
#myChart15,
#myChart15_2{
    height:46%;
}

.shujuWajue_right_top{
    padding-left: 12%;
}

#myChart17,
#myChart18{
    /*background-color: pink;*/
    height:100%;
    /*width: 100%;*/
}
