#l.fullScreen_map{
    font-size: 1em;
}

.login_box{
    width: 14%;
    height: 77%;
    margin: auto auto;
    border: 1px solid #66ccff;
    box-shadow: 0px 0px 10px #66ccff;
    display: inline-block;
    margin-left: 43%;
    margin-top: 2%;
    position: relative;
    background-color: rgba(102,204,255,0.2);
    border-radius: 5px;
}
.welcome{
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    color: white;
    height: 30%;
}
.welcome h3{
    padding-top: 8%;
    font-size: 1.2em;
    letter-spacing: 0.8em;
    padding-left: 8%;
    color: #66ccff;
}
.input-box{
    text-align: center;
    height: 70%;
}
.input-box input{
    padding: 0.5em 2em;
    border-radius: 5px;
    border: 1px solid #66ccff;
    box-shadow: 0px 0px 6px #66ccff;
    padding-left: 2em;
    padding-right: 0;
    width: 60%;
    background-color: transparent;
    margin-bottom: 8%;
    color: white;
    font-size: 1.2em;


}
.username,.pwd{
    position: relative;
}
.username div{
    width: 1.5em;
    height: 1.5em;
    display: block;
    background: url("../img/name.png") no-repeat;
    background-size:80% 80%;
    position: absolute;
    left: 13%;
    top:5%;
    margin: 0.5em 1em;
}
.pwd div{
    width: 1.5em;
    height:1.5em;
    display: block;
    background: url("../img/pwd.png") no-repeat;
    background-size:80% 80%;
    position: absolute;
    left: 13%;
    top:5%;
    margin: 0.5em 1em;
}
.input-box div a{
    font-size:0.7em;
    color: #666;
    display: inline-block;
    position: absolute;
    bottom: 10em;
    right: 4.5em;

}
.error_ms{
    width: 13em;
    height: 1.2em;
    margin: 0 auto;
    margin-top: 0.3em;
    display: none;
}
.input-box .submit{
    padding: 0.3em 1em;
    border-radius: 5px;
    background-color: #66ccff;
    border: none;
    color: #184266;
    margin-top: 2%;
    font-weight: 600;
    font-size: 1.2em;
    display: inline-block;
    width: 30%;
}