.labMain_cb_left{
    display: none;
}
.labMain_cb_left_show{
    display: block;
}
.labMain_cbr_one .labMain_cbro_content{
    background: url("../img/labMain/right01.jpg") no-repeat;
    background-size: 100% 100%;
}
.labMain_cbr_two .labMain_cbro_content{
    background: url("../img/labMain/right02.jpg") no-repeat;
    background-size: 100% 100%;
}
.labMain_cbr_three .labMain_cbro_content{
    background: url("../img/labMain/right03.jpg") no-repeat;
    background-size: 100% 100%;
}
.zhbr_lab h3.lab_title {
    left: 9.5%;
}
.zhbr_lab{
    height: 97%;
}
.shishi_right .video_box{
	width: 97%;
    height: 98%;
}
