.labMain_content_country{
    width: 98%;
    height: 100%;
}
.labMain_content_country .labMain_cbr_three {
    background: url(../img/labMain/lab_right_border.png) 0 0 no-repeat;
    background-size: 100% 100%;
    margin: 0.4em 1em .8em;
    position: relative;
    height: 35%;
}
.labMain_content_country .labMain_cbr_onedemo,.labMain_cbr_twodemo{
    flex: 1;
}
.labMain_content_country .labMain_cbr_three ul{
    padding-top: 2em;
}
.shishi_right .sheshi_right_right #legend_ul_world{
    width: 100%;
    overflow: hidden;
}
.labMain_content_country .zhbr_lab h3.lab_title {
    top: 1%;
    left: 8.8%;
    font-size: 1.8em;
    width: 12%;
    text-align: center;
}