/* global CssReset*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote {
  margin: 0;
  padding: 0;
}
*{
  padding: 0;
  margin: 0;
}
body,html{
  width: 100%;
  height: 100%;
  font-family: "Microsoft yahei", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
fieldset, img {
  border: 0;
}
iframe {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-y: hidden;
}
ul, ol, dl, li, dt, dd {
  list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  line-height: 1;
  font-weight: normal;/*这里是新增的*/
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}


/*定义公共样式*/

@font-face {/*fontinSansCR常规*/
  font-family: DIGITAL-Regular;
  src: url('../asserts/fonts/DIGITAL-Regular.ttf') format("truetype");
  font-weight: normal;
}
.clear:after{/*清除浮动*/
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.clear{
  zoom: 1;/*为解决IE6，IE7的兼容性问题*/
}
.hidden{
  display: none;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.placeHolder{/*拖动时放置位置的背景色*/
  background-color: rgba(0, 255, 167, 0.29);
}

/*整个页面布局*/
#content{
  display: flex;
  width:3186px;
  height:100%;
  background: url("../img/bg_star.png") ;
  background-size: 100%;
}
@media (min-width: 13000px) {
  #content{
    width:100%;
  }
}

#content>div{
  position: relative;
  outline: 1px dashed #ccc;
  outline-offset: -1px;
}
#l{
  flex: 3;
  /*background-color: rgba(205, 92, 92, 0.29);*/
}
#right{
  flex: 4;
  /*background-color: rgba(135, 206, 235, 0.28);*/
}

#mask{
  position: fixed;
  width:100%;
  height:100%;
  z-index: 999999;
  /*background: blue;*/
}

video{
  position: relative;
}

