/* global CssReset*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote {
    margin: 0;
    padding: 0;
}

* {
    padding: 0;
    margin: 0;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: "Microsoft yahei", "微软雅黑", "Source Sans Pro", "Helvetica Neue", 'Helvetica', 'Arial', sans-serif;
    color: #64ccff;
}
fieldset, img {
    border: 0;
}

iframe {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-y: hidden;
}

ul, ol, dl, li, dt, dd {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    line-height: 1;
    font-weight: normal; /*这里是新增的*/
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h3 {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0em;
    -webkit-margin-end: 0em;
    /*font-weight: bold;*/
}

/*定义公共样式*/

@font-face {
    /*fontinSansCR常规*/
    font-family: DIGITAL-Regular;
    src: url('../asserts/fonts/DIGITAL-Regular.ttf') format("truetype");
    font-weight: normal;
}

.clear:after { /*清除浮动*/
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.clear {
    zoom: 1; /*为解决IE6，IE7的兼容性问题*/
}

.hidden {
    display: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.placeHolder { /*拖动时放置位置的背景色*/
    background-color: rgba(0, 255, 167, 0.29);
}

/*整个页面布局*/
#content {
    display: flex;
    height: 100%;
    /*background-color: #04032d;*/
    background: url("../img/bg-2.jpg") no-repeat;
    background-size: 100% 100%;
}

#content > div {
    position: relative;
    outline-offset: -1px;
    overflow: hidden;
}

#l {
    flex: 3;
}

#r {
    flex: 4;
}

#mask {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-size: 100% 100%;
}

video {
    position: relative;
    /*为了让视频溢出水印*/
    left: -2%;
    top: -3%;
}

/*鼠标样式设置*/
/* @media (min-width:4000px) {
	body * {
	cursor:url("../img/mouse.ico"),auto!important;
	}
	a{
		cursor:url("../img/pointer.ico"),pointer!important;
	}
} */

/*修改页面切换时的白底色背景以及柔和过度*/

@media all {
    @keyframes webEase {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    body {
        /* background-color:black;*/
        background: url(../img/bg-2.jpg) no-repeat;
    	background-size: 100% 100%; 
       /*  animation-name: webEase;
        animation-duration: 2s;
        transition-timing-function: fast; */
    }
}

::-webkit-scrollbar {
    width: .5em;
    height:1.6em;
}
::-webkit-scrollbar-button {
    background-color: transparent;
    height: 0;
    width:0;
}
::-webkit-scrollbar-thumb {
    margin-right: 2px;
    background: rgba(51, 187, 255, 0.81);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(42, 141, 191, 0.81);
}
::-webkit-scrollbar-track {
    background: rgba(14, 19, 39, 0.81);
}