/* 3/7 = 0.4285714285714286 */
/* 3/7 = 0.1428571428571429 */

html, body {
    height: 100%;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
}

button {
    border: none;
    background-color: #82BECD;
    border-radius: 2px;
    padding: 7px 10px;
    color: white;

    cursor: pointer;
    font-size: 14px;
    outline: none;

    text-transform: uppercase;
}

button:hover {
    background-color: #5895A5;
}

button:active {
    background-color: #537C86;
}

#toolbar {
    float: right;
    margin-right: 20px;
}

#toolbar button {
    margin: 10px;
}

body {
    margin: 0;
}

#mapFlat {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;

    background: -webkit-linear-gradient(#22466F, #452525);
    background: -o-linear-gradient(#22466F, #452525);
    background: linear-gradient(#22466F, #452525);
}

#chart {
    height: 100%;
}
