
#l.fullScreen_map {
    width: 100%;
    height: 100%;
    position: absolute;
    color:#6cf;
    z-index: 10;
     background-image: url(../img/bg-2.jpg);
     background-size: 100% 100%;
    font-size: 1.5em;
    overflow: hidden;
}

#l.fullScreen_map header h1{
    line-height: 1.2em;
    /* font-weight: bold; */
}
#l.fullScreen_map header h1:nth-of-type(2) {
    padding-top: 0;
    letter-spacing: 0.1em;
}
#l.fullScreen_map .sphere,
#l.fullScreen_map .flat{
    position: relative;
}
#l.fullScreen_map .sphere .mapArea{
    flex:.81;
    padding-top: 0;
}
#l.fullScreen_map .flat .mapArea{
    flex:1;
}
#l.fullScreen_map .sphere .sphere-left,
#l.fullScreen_map .sphere .sphere-right,
#l.fullScreen_map .flat .flat-left,
#l.fullScreen_map .flat .flat-right{
    flex-direction: row;
    padding-bottom: 2%;
}
#l.fullScreen_map .flat .flat-left,
#l.fullScreen_map .flat .flat-right{
    padding-bottom: 0;
}
#l.fullScreen_map .sphere .sphere-left>div,
#l.fullScreen_map .sphere .sphere-right>div,
#l.fullScreen_map .flat .flat-left>div,
#l.fullScreen_map .flat .flat-right>div{
    flex:1;
}
#l.fullScreen_map .sphere .mapArea h2,
#l.fullScreen_map .flat .mapArea h2 {
    color: rgba(255,255,255,.8);
    position: absolute;
    left: 50%;
    top: 42%;
    transform: translateX(-50%);
    font-size: 2.4em;
    font-weight: bold;
    z-index: 9;
    text-shadow: 1px 1px 1px black;
}
/*地球上文字点击可弹窗*/
#l.fullScreen_map .sphere .mapArea h2:hover{
    cursor: pointer;
    color: #fff;
}
#l.fullScreen_map .sphere .mapArea .popWindow{
    position: relative;
    z-index: 12;
    top: 2em;
}
#l.fullScreen_map .sphere .mapArea .popWindow img{
    width:100%;
}
#l.fullScreen_map .sphere .mapArea .popWindowMask{
    position: fixed;
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 10;
    left: 0;
    top: 0;
}

#l.fullScreen_map .flat .mapArea h2 {
    top: -7%;
    font-size: 1.4em;
}

#l.fullScreen_map .flat .flat-main{
    flex: 2;
}
#l.fullScreen_map header{
    padding-bottom: 1em;
    background-image: url(../img/bg_title_full.png);
}
#l.fullScreen_map header .mainLogo{
    background-image: url(../img/logo_haier.png);
    width: 4%;
    height: 7%;
    top: 2.6%;
    left: 39%;
}
#l.fullScreen_map h1:nth-of-type(1) {
    margin: 0 auto 0;
    padding: .5% 0 .3% 4.2%;
    letter-spacing: .25em;
}

#l.fullScreen_map .btnGroup {
    margin-right: 30%;
    z-index: 10000;
}

#l.fullScreen_map .flat-left>div .chartBorder,
#l.fullScreen_map .flat-right>div .chartBorder{
    height:80%;
    overflow: hidden;
    position: relative;
}

#l.fullScreen_map .sphere .mapArea iframe,
#l.fullScreen_map .flat .mapArea iframe {
    position: absolute;
    left:50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -10%;
    height: 123%;
    width: 33%;
    margin: 0 auto;
}

#l.fullScreen_map .sphere .chartBorder h4.noBG {
    margin-top: -11%;
}

#l.fullScreen_map .flat .mapArea iframe {
    height: 130%;
    width: 100%;
    left: 41%;
}
#l.fullScreen_map .toLabData{
    padding: .5em 5em .4em;
    bottom:2%;
}
#l.fullScreen_map .toLabData>a{
    color: #6cf;
}

#l.fullScreen_map .flat-footer .legend{
    z-index: 9999;
    font-size: .9em;
    width: 22%;
    height: 41%;
    top: 30%;
    background-image: url(../img/nav-border_noBottom.png);
}
#l.fullScreen_map .flat-footer .legend .labLine {
    margin-top: 0;
}
#l.fullScreen_map .flat-footer .legend-l,
#l.fullScreen_map .flat-footer .legend-r {
    height: 83%;
    width: 13%;
    line-height: 3.4em;
    top: 17.6%;
    z-index: 10;
}
#l.fullScreen_map .flat-footer .legend .selectAll{
    padding-top: 0.5%;
}
#l.fullScreen_map .legend-l{
    left: -11%;
}
#l.fullScreen_map .legend-r{
    right: -11%;
}

#l.fullScreen_map .flat .chartBorder ul li {

    margin-top: 5%;
}
#l.fullScreen_map .flat-right-bottom .myChart .myChart_num li:nth-of-type(2n) {
    margin-top: 18%;
}


