:root {
    --themeColor: #6cf;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--themeColor);
    text-decoration: none;
}
li{
    list-style: none;

}
strong{
    font-weight: normal;
    color: #f93;
}

/*布局*/
@media all {
    html, body, #myContainer {
        height: 100%;
    }

    body {
        background: url("../../static/img/bg-2.jpg") no-repeat;
        background-size: cover;
    }

    #myContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 0 1rem;
    }
    .styleIn7x3 #myContainer {
        padding: 0;
    }
    #container,
    #container > div {
        display: flex;

    }

    .left,
    .right {
        flex: .8;
        display: flex;
        flex-direction: column;
    }

    .left > div,
    .right > div {
        flex: 1;
        padding: 0 1rem 1rem;
    }
    .styleIn7x3 .left > div,
    .styleIn7x3 .right > div {
        padding-top: auto;
    }

    .styleIn7x3 .left > div,
    .styleIn7x3 .right > div {
        padding-top: 1.5rem;
    }

    .mid {
        flex: 2;
    }
}

.box {
    height: 100%;
    font-size: .75rem;
    background: url("../img/hallMap/bd_item.png") no-repeat;
    background-size: 100% 100%;
}

.box h3 {
    position: relative;
    font-size: .875rem;
    font-weight: normal;
    text-align: center;
    line-height: 1.5rem;
    color: #fff;
    /*top: .1875rem;*/
}

/*header*/
@media all{
    header {
        position: relative;
        height: 6.5rem;
        font-size: .875rem;
        text-align: center;
        background: url(../img/hallMap/bg_header_ulab.png) no-repeat;
        background-position-x: 50%;
        background-position-y: 1em;
        background-size: 98% 63%;
    }

    h1 {
        position: relative;
        font-size: 2.5em;
        letter-spacing: .05em;
        line-height: 1.2em;
        font-weight: normal;

    }

    h1:nth-of-type(1) {
        margin: 0 auto;
        padding: .5% 0 .3% 2.5em;
        letter-spacing: .125em;
    }
    .styleIn7x3 h1{
        letter-spacing: .0625em;
        font-size: 2.125em;
    }

    h1:nth-of-type(2) {
        font-size: 1.9em;
        margin-top: 0;
        padding-left: 1rem;
        letter-spacing: initial;
    }

    header .mainLogo {
        display: inline-block;
        position: absolute;
        width: 5.5em;
        height: 2.5em;
        top: .75em;
        left: 29.5em;
        background: url(../img/logo_haier.png) no-repeat;
        background-size: 100% 100%;
    }
    .styleIn7x3 header .mainLogo {
        left: 28em;
        width: 4.5em;
        height: 2em;
    }
}

#container {
    display: flex;
    height: calc(100% - 6.5rem);
}

.mapBox {
    flex: 3;
    display: flex;
    flex-direction: column;
    /*overflow: hidden;*/
}

.textBox {
    flex: 1;
}

.mapBox > iframe {
    position: relative;
    flex: 3.3;
    top: 0;
    right: 1.875rem;
    width: 100%;
    transform: scale(1.08);
}
.styleIn7x3 .mapBox > iframe {
    flex: 4;
}
.mapBox > .flatMapCtr {
    flex: 1;
}
/*导航*/
@media all {
    .flatMapCtr .legend {
        position: relative;
        margin: 0 auto;
        width: 28rem;
        height: 100%;
    }
    .styleIn7x3 .flatMapCtr .legend {
        top: 1rem;
    }
    .legend-m {
        height: 4rem;
        background: url("../img/hallMap/bd_mapNav.png") no-repeat;
        background-size: 100% 100%;
    }

    .legend-b {
        margin: 0 auto;
        width: 13em;
        height: 1.875em;
        background: url(../img/hallMap/bd_mapNav_b.png) 50% no-repeat;
        background-size: contain;
        cursor: pointer;
    }

    .legend-l,
    .legend-r {
        position: absolute;
        height: 3.4375em;
        width: 4em;
        top: .625em;
        left: -3.5em;
        background: url(../img/hallMap/bd_btn.png) no-repeat;
        background-size: contain;
        cursor: pointer;
    }
    .legend-l.active,
    .legend-r.active {
        background-image: url(../img/hallMap/bd_btn_a.png)
    }
    .active *{
        color: #00e673;
    }
    .legend-r {
        left: auto;
        right: -3.5em;
    }
    .legend .text{
        font-size: .75em;
    }

    .legend-l > .text,
    .legend-r > .text {
        transform: translate(-50%, -50%);
        text-align: center;
        position: absolute;
        width: 100%;
        left: 50%;
        top: 50%;
        transition: transl;
    }
    .legend-m>.text{
        position: relative;
        height: 1.25em;
        overflow: hidden;
        top: 2em;
        font-size: .875em;
    }
    .styleIn7x3 .legend-m>.text {
        top: 2.25em;
        font-size: .75rem;
    }
    /*全选*/
    .legend-m>.selectAll{
        position: absolute;
        left: 50%;
    }
    .legend-m>.selectAll>label{
        position: relative;
        font-size: .75rem;
        cursor: pointer;
        filter: grayscale(1);
    }
    .legend-m>.selectAll>input ~ label:before{
        content: "";
        position: absolute;
        left: -1rem;
        top: 55%;
        display: inline-block;
        transform: translateY(-50%);
        width: 1em;
        height: 1em;
        color: #999;
        background: url("../img/hallMap/i_selectAll.png") no-repeat;
        background-size: contain;
    }
    .legend-m>.selectAll>input:checked ~ label{
        filter: grayscale(0);
    }
    .legend-m ul{
        position: relative;
        top: 0;
        text-align: center;
        transition: 300ms;
    }
    .legend-m ul>li{
        display: inline-block;
        width: auto;
        margin: 0 .375em;
    }
    .legend-m ul:nth-of-type(1)>li{
        margin: 0 1.25em;
    }
    .legend-m ul>li>a{
        color: #999;
        display: block;
    }
    .legend-m ul>li.active>a{
        /*text-shadow: 0 0 .0625em;*/
    }
    .legend-m ul>li>a:before{
        content: "";
        position: relative;
        top: .125em;
        display: inline-block;
        margin-right: .5em;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        background: radial-gradient(circle,#999,rgba(0,0,0,0))
    }
    .legend-m ul>li.active>a:before{
        box-shadow: 0 0 0.0625em;
    }
    .legend{
        --c_lab1:#00e673;
        --c_lab2:#f5222d;
        --c_lab3:#b37feb;
        --c_lab4:#ff85c0;
        --c_line1:#6fc;
        --c_line2:#0af;
        --c_line3:#01da92;
        --c_line4:#0060ff;
        --c_line5:#00a870;
        --c_line6:#f93;
        --c_line7:#f09;
    }

    .legend-m ul:first-of-type>li.active>a,
    .legend-m ul:last-of-type>li.active>a{
        background: none!important;
    }
    .legend-b>.text{
        position: relative;
        text-align: center;
        top: .625em;
    }
}

/*全球分布*/
.distribution{
    text-align: center;
}
.distribution .totalNum>span{
    display: inline-block;
    margin-right: 1rem;
    margin-top: 1rem;
}
.styleIn7x3 .distribution .totalNum>span{
    margin-top: 1rem;
}
.styleIn7x3 .distribution ul{
    margin-bottom: 1rem;
}

.distribution ul>li{
    list-style: none;
    margin: .5rem 2rem;
    padding: .5rem;
    background: url("../img/hallMap/bg_distributionLi.png");
    background-size: 100% 100%;
}
.distribution strong{
    font-size: .875rem;
}
/*全流程测试*/
.test table{
    border-collapse: collapse;
    margin: 1rem auto 0;
    text-align: center;
}
.styleIn7x3 .test table{
    margin: 1rem auto .5rem;
}
.test table thead{
    background-color: #66ccff44;
}
.test table th{
    font-weight: normal;
}
.test table tr:nth-of-type(odd){
    background-color: rgba(99,99,99,.23);
}
.test table tr:nth-of-type(even){
    background-color: rgba(199,199,199,.05);
}
.test table th,
.test table td{
    padding: .5rem .75rem;
}
.test table td:nth-of-type(2),
.test table td:nth-of-type(3){
    color: #f93;
}
/*互联数*/
.interconnection table {
    margin:  1rem auto .5rem;
}
.styleIn7x3 .interconnection table {
    margin:  1rem auto .75rem;
}

.interconnection table th{
    padding-bottom: .5rem;
}
.interconnection table td:nth-of-type(2),
.interconnection table td:nth-of-type(3){
    padding: .375rem 0 .25rem 1rem;
    text-align: right;
    font-size: .875rem;
    letter-spacing: 0.375rem;
    color: #f90;
    background: url(../img/hallMap/bg_interconnectionTd.png) 12% 50% no-repeat;
    background-size: 94% 80%;
}
.styleIn7x3 .interconnection table td:nth-of-type(2),
.styleIn7x3 .interconnection table td:nth-of-type(3){
    padding: .375rem 0 .375rem 1rem;
}

/*实验室管理*/
.management {
    text-align: center;
}
.management ul{
    margin: .875rem auto .25rem;
}
.styleIn7x3 .management ul{
    margin: .5rem auto;
}
.management ul>li{
    position: relative;
    display: inline-block;
    margin: .125rem .5rem;
    width: 4.5rem;
    height: 4.5rem;
    text-align: center;
    border-radius: 50%;
    border: .0625rem solid #66ccff88;
    background-color: #66ccff22;
}
.management ul>li>div{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 4rem;
    transform: translate(-50%,-50%);
}

footer .text {
    margin: 0 auto;
    width: 59rem;
    height: 4.75rem;
    padding-bottom: 1rem;
    text-align: justify;
    line-height: 1.25rem;
    font-size: .9325rem;
    letter-spacing: .0625rem;

}

footer .text p {
    text-indent: 2em;
}









