
.tab {
    width: 90%;
    height: 8%;
    text-align: center;
    margin: 0 auto;
}

.tab ul {
    text-align: center;
}

.tab ul li {
    display: inline-block;
    padding: 0.3em 0.3em 0.3em 0;
    width: 8%;
    margin: 0.9em 3.5em 0 0;
    background: url("../img/TotalState/border-normal.png") no-repeat;
    background-size: 100% 100%;
    color: #66ccff;
    cursor: pointer;
    font-size: 1.4em;


}

#right .lab{
    width: 20%;
    height: 8%;
    position: absolute;
    top: 3%;
    right: 1%;
    color: #66CCFE;
    cursor: pointer;
    display: none;
}
#right .lab .lab_name{
    width: 100%;
    height: 100%;
    /*background-color: red;*/
    padding-top: 10%;
}
#right .lab .lab_name li{
    float: left;
    width: 25%;
    text-align: center;
    font-size: 0.8em;

}
#right .lab .lab_icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    cursor: pointer;
}
#right .lab .lab_icon li{
    float: left;
    width: 25%;
    height: 60%;
    display: inline-block;
    text-align: center;
    font-size: 0.8em;

}
#right .lab .lab_icon li img{
    width: 35%;
    height: 100%;
}
/*鎬荤姸鎬�*/
.total_state {
    width: 100%;
    height: 92%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.total_state .total_top {
    flex: 1;
    display: flex;
    flex-direction: row;
    background: url("../img/TotalState/border-1 .png") no-repeat;
    background-size: 100% 97%;
    position: relative;

}
.total_name{
    position: absolute;
    top:31%;
    left: 1px;
    width: 1.6em;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 1.2em;

}
.total_center .total_name{
    top: 35%;
}
.total_bottom .total_name{
    top:35%;
}
.total_state .total_center {
    background: url("../img/TotalState/border-1 .png") no-repeat;
    background-size: 100% 97%;
    flex: 1;
    position: relative;
}

.total_state .total_bottom {
    flex: 1;
    /*height: 34%;*/
    background: url("../img/TotalState/border-1-2.png") no-repeat;
    background-size: 100% 97%;
    position: relative;
}

.total_top_1 {
    flex: 1;
    /*background-color: palegoldenrod;*/
}

.total_top_2 {
    flex: 1;
    /*background-color: paleturquoise;*/
}

.total_top_3 {
    flex: 1;
    /*background-color: peachpuff;*/
}

.total_top_4 {
    flex: 1;
    /*background-color: plum;*/
    position: relative;
}

.echarts_title {
    width: 43%;
    color: white;
    background: url("../img/TotalState/title-border.png") no-repeat;
    background-size: 100% 100%;
    margin: 6% auto 1% auto;
    font-size:1.2em;
    padding: 0.2em;
}

.echarts_title1 {
    width: 53%;
    margin-top: 7%;
}
.echarts_title2{
    margin-top: 4%;
    width:33%;
}
#myChart1 {
    width: 80%;
    height: 63%;
    margin: 0 auto;
    /*border: 1px solid red;*/
}

.total_top_2 .total_top_2_box {
    height: 80%;
    color: #66ccff;
}

.total_top_2 .total_top_2_box > ul {
    height: 88%;
    /*background-color:red;*/
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    margin-left: 4%;
}

.total_top_2 .total_top_2_box > ul > li {
    flex: 1;
    /*height: 100%;*/
    position: relative;
    padding-right: 3.5%;
    font-size: 1.1em;
}
.total_top_2 .total_top_2_box > ul > li ul{
    height:100%;
}
.total_top_2 .total_top_2_box > ul > li ul li{
    height:24%;
}
.total_top_2_box > ul > li .progress {
    display: inline-block;
    width:70%;
    height: 40%;
    /*  height: 1em;*/
    border-radius: 2px;
    border: 1px solid #66ccff;
    margin-bottom: 1%;
    background-color: transparent;

}

/*  
.total_top_2_box > ul .xueli .progress {
    margin-bottom: 14%;
}
*/

.total_top_2_box > ul > li .bar_name {
    position: absolute;
    right: 26%;
    font-size: 0.8em;
    /*margin-top: 0em;*/
}

.total_top_2 .total_top_2_box > ul > li span:last-of-type {
    position: absolute;
    right: 0;
    color: #ff9933;
    /*margin-top: 0.1em;*/
}

.total_top_2_box > ul > li .progress .progress-bar1 {
    background-color: #66ccff;
    border-radius: 2px;
}

.total_top_2_box > ul > li .progress .progress-bar2 {
    background-color: #66ccff;
    border-radius: 2px;
}

.total_top_2_box > ul > li .progress .progress-bar3 {
    background-color: #66ccff;
    border-radius: 2px;
}

.xueli > ul > li .progress {
    border: 1px solid  #66ccff;
    border-radius: 2px;
}

.zizhi > ul > li .progress {
    border: 1px solid #66ccff;
    border-radius: 2px;
}

.total_top_3 .total_top_3_left {
    width: 30%;
    /*background-color: pink;*/
    float: left;
}

.total_top_3 .total_top_3_left ul {
    margin-top: 10%;
    font-size: 1.2em;
}

.total_top_3 .total_top_3_right {
    width: 70%;
    height: 70%;
    /*background-color: #bce8f1;*/
    float: left;
    position: relative;
}
.biaozhun_line{
    width: 70%;
    height: 10%;
    background-color: plum;
    position: absolute;
    top: 38%;
    left: 15%;
    background: url("../img/TotalState/line.png") no-repeat;
    background-size: 100% 100%;
}
#myChart2 {
    width: 100%;
    height: 90%;
}

.total_top_3_left > ul li:first-of-type {
    color: #66ccff;
}

.total_top_3_left > ul li:last-of-type {
    color: #ff9933;
    font-size: 1.4em;
}

#myChart3 {
    padding-left: 2%;
    width: 98%;
    height: 63%;
    /*background-color: pink;*/
}

.echarts_line {
    width: 74%;
    height: 1px;
    border: 1px solid #ff9933;
    position: absolute;
    top: 39%;
    left: 11%;
}

.echarts_line span:first-of-type {
    position: absolute;
    /*bottom: 5%;*/
    right: -15%;
    color: #66ccff;

}
.echarts_line span:last-of-type{
    position: absolute;
    bottom: 1%;
    right: -10%;
    color: #ff9933;
}

.total_center {
    display: flex;
    flex-direction: row;
    padding-left: 1%;
    /*padding-right: 2%;*/
}

.total_center_1 {
    flex: 1;
    width: 20%;
    position: relative;
}

.total_center_2 {
    flex: 1;
    width: 20%;
}

.total_center_3 {
    flex: 1;
    width: 20%;
}

.total_center_4 {
    flex: 1;
    width: 20%;
}

.echarts_title_left {
    width: 33%;
    height: 80%;
    float: left;
    padding-left: 10%;
    margin-top: 3%;
}


#myChart4 {
    width: 64%;
    height: 70%;
    float: left;
}

.echarts_title_left ul {
    width: 100%;
    height: 50%;
    margin-top: 25%;
    /*margin-left: 15%;*/
    /*background-color: plum;*/
    margin-left:10%;
    font-size: 1em;
}

.echarts_title_left ul li {
    color: #66ccff;
}

.echarts_title_left ul span {
    color: #ff9933;
    font-size: 1.2em;
}

#myChart5 {
    width:66%;
    height: 70%;
    float: left;
}

#myChart6 {
    width: 100%;
    height: 65%;
}

#myChart7 {
    width: 100%;
    height: 65%;
}

/*鎸栨帢搴旂敤*/
.total_bottom {
    display: flex;
    flex-direction: row;
}

.total_bottom_left {
    flex: 1;
    /*background-color: pink;*/
}

.total_bottom_right {
    flex: 1;
}

.total_bottom_pie {
    width: 28%;
    height: 65%;
    /*background-color: yellow;*/
    float: left;
}

.total_bottom_bar1,.total_bottom_bar2 {
    width: 31%;
    height: 65%;
    float: left;
}
.total_bottom_tab{
    width: 9%;
    height: 65%;
    float: left;
    background-color: transparent;
    margin-right: 1%;

}
.total_bottom_tab ul {
    width: 100%;
    height: 95%;
    overflow-y: scroll;
    padding-top: 11%;
    background: url("../img/TotalState/scroll bar-border.png") no-repeat;
    background-size: 100% 100%;
}
.total_bottom_tab ul li{
    width: 100%;
    height: 20%;
    display: inline-block;
    color: #66CCFE;
    font-size: 1em;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
.total_bottom_tab ::-webkit-scrollbar
{
    width: 10%;
    height: 100%;
    background-color: transparent;
}

/*定义滚动条轨道 内阴影+圆角*/
.total_bottom_tab ::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: transparent;
}

/*定义滑块 内阴影+圆角*/
.total_bottom_tab ::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
    background-color: #66ccff;
}


.total_bottom_right .total_bottom_bar1{
    width: 70%;
}

#myChart8,#myChart11 {
    width: 100%;
    height: 100%;
}

#myChart9,#myChart10,#myChart12,#myChart13 {
    width: 100%;
    height: 100%;
}

/*设施状态*/
.sheshi_state{
    width: 100%;
    height: 90%;
    /*background-color: #00B2F8;*/
    display: none;
    flex-direction:column;
    color: white;
}

.sheshi_top{
    margin-top: 1%;
    flex: 1;
    display: flex;
    flex-direction:row ;
}
.sheshi_bottom{
    flex: 1;
    display: flex;
    flex-direction: row;
}
.sheshi_title{
    position:absolute;
    top:0;
    left:3%;
    color: white;
    font-size: 1.2em;
}
.sheshi_top_left{
    flex: 1;
    background: url("../img/sheshiState/border .png") no-repeat;
    background-size: 98% 98%;
    position:relative;
    padding-top: 2%;
    /*padding-left: 0.7%;*/
    height: 100%;

}
.sheshi_top_left>ul{
    height: 92%;
}
.sheshi_top_left>ul>li{
    height: 100%;
    display: inline-block;
    width: 32%;
}
.sheshi_top_left .zaixian{
    padding-top: 1%;
    height: 15%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #00aaff;
    background: url("../img/sheshiState/gznx-bg.png") no-repeat;
    background-size: 100% 100%;
    font-size: 0.8em;
}
.sheshi_top_left .zaixian table{
    width:100%;
    /*background-color: pink;*/
    margin-top: 1.5em;
    text-align: center;
}

.sheshi_top_left .zaixian table tr th{
    width: 33%;
    text-align: center;
}
.sheshi_top_left .zaixian table tr td{
    width: 25%;
    padding: 0.7em 0;
    color:  #66ccff;
    font-size: 1.1em;
    position: relative;

}
.sheshi_top_left .zaixian table tr td img{
    width: 0.7em;
    height: 0.7em;
    display: inline-block;
    margin-right: 0.5em;
}

.sheshi_top_left .zaixian table tr td:nth-of-type(2){
    width: 50%;
}
.sheshi_top_left .zaixian table tr td .progress{
    width:50%;
    margin-bottom: 0;
    height: 0.5em;
    background-color: #234f65;
}
.sheshi_top_left .zaixian table tr td .progress .progress-bar{
    background-color: #66CCFE;
}
.sheshi_top_left .zaixian table tr td  .zaixianlv{
    position: absolute;
    top: 25%;
    right:25%;
    display: inline-block;
    width: 1em;
    height: 1em;
    color: #f93;
}
.sheshi_num{
    font-size: 1.4em;
    color: #f93;
}
.sheshi_num img{
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    margin-right: 0.2em;
}
.up_num{
    font-size: 0.7em;
    color: #6cf;
}


.sheshi_top_rihght{
    flex: 1;
    background: url("../img/sheshiState/border .png") no-repeat;
    background-size: 98% 98%;
    position:relative;
    padding-top: 2%;
    height: 100%;
}
.sheshi_top_rihght .renyuan_top{
    width: 100%;
    height: 30%;
}
.sheshi_top_rihght .renyuan_top>ul{
    width: 98%;
    height: 30%;
}
.sheshi_top_rihght .renyuan_top>ul>li{
    width: 33%;
    height: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    font-size: 1.2em;
}
#myChart22,#myChart23,#myChart24{
    margin: 0 auto;
    width:50%;
    height:4.5em;
}
#myChart23{
    width: 100%;
}
#myChart24{
    width: 100%;
}
.sheshi_top_rihght .renyuan_bottom{
    height: 64%;
}
.sheshi_top_rihght .renyuan_bottom>ul{
    width: 98%;
    height: 100%;
}
.sheshi_top_rihght .renyuan_bottom>ul>li{
    width: 33%;
    height: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}
#myChart25,#myChart26,#myChart27{
    width: 100%;
    height: 100%;
    background-color: #00aaff;
}

.sheshi_bottom_left{
    flex: 1;
    background: url("../img/sheshiState/border .png") no-repeat;
    background-size: 98% 98%;
    position:relative;
    padding-top: 2%;
    color: #66CCFE;
    font-size: 1.2em;
}
.sheshi_bottom_left .biaozhun_left{
    width: 34%;
    height: 95%;
    float: left;
    text-align: center;
    font-size: 1.2em;
}
.biaozhun_left_left{
    width: 75%;
    height: 75%;
    margin: 4% auto;
    background: url("../img/sheshiState/bg.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.biaozhun_left_left>div{
    width: 5em;
    height: 5em;
    text-align: center;
    vertical-align: middle;
    /*background-color: pink;*/
    position: absolute;
    font-size: 0.8em;
}
/*.biaozhun_left_left>div>ul li:first-of-type{*/
/*font-size: 1.2em;*/
/*}*/
.biaozhun_left_left .biaozhun_world{
    top: 16%;
    left: 15%;
}
.biaozhun_left_left .biaozhun_country{
    top:16%;
    right: 14%;
}
.biaozhun_left_left .biaozhun_hangye{
    bottom: 5%;
    left:16%;
}
.biaozhun_left_left .biaozhun_qiye{
    bottom: 5%;
    right: 14%;
}
.biaozhun_left_left .biaozhun_total{
    top: 40%;
    left: 39%;
    color: white;
    font-size: 0.6em;
}
.sheshi_bottom_left .biaozhun_right{
    width: 64%;
    height: 90%;
    float: left;
    text-align: center;
    font-size: 1.2em;
}
.sheshi_bottom_left .biaozhun_right .biaozhun_right_echarts{
    width: 100%;
    height: 100%;
}
.sheshi_bottom_left .biaozhun_right ul{
    width: 100%;
    height: 44%;
    display: inline-block;
}
.sheshi_bottom_left .biaozhun_right ul li{
    width: 50%;
    height: 100%;
    float: left;
}
#myChart28,#myChart29,#myChart30,#myChart31{
    width: 100%;
    height: 100%;
}

.sheshi_bottom_right{
    flex: 1;
    background: url("../img/sheshiState/border .png") no-repeat;
    background-size: 98% 98%;
    position:relative;
    text-align: center;
    padding-top: 2%;
    color: #66CCFE;
    font-size: 1.2em;

}
.sheshi_bottom_right .nengli_top{
    width: 100%;
    height: 20%;
}
.sheshi_bottom_right .nengli_top ul{
    width: 85%;
    height: 100%;
    margin: 0 auto;
    background: url("../img/sheshiState/nengli-name.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 1%;
}
.sheshi_bottom_right .nengli_top ul li{
    width: 14%;
    height: 100%;
    line-height: 100%;
    float: left;
    color: white;
    padding-top: 3%;
    padding-left: 2%;
}
.nengli_bottom{
    width: 100%;
    height: 65%;
    padding-bottom: 2%;
}
.nengli_bottom ul{
    width: 95%;
    height: 100%;
}
.nengli_bottom ul li{
    width: 14%;
    height: 100%;
    float: left;
    position:relative ;
}
.nengli_bottom ul li{
    width: 13%;

}
.nengli_bottom ul .echarts_lines{
    width: 1px ;
    height: 40%;
    display: inline-block;
    background-color: #66ccff;
    position: absolute;
    top: 45%;
    left: 0;
}
.nengli_bottom ul .echarts_line1{
    left: 17%;
}
.nengli_bottom ul .echarts_line2{
    left:29%;
}
.nengli_bottom ul .echarts_line3{
    left: 41%;
}
.nengli_bottom ul .echarts_line4{
    left: 53%;
}
.nengli_bottom ul .echarts_line5{
    left: 65%;
}
.nengli_bottom ul .echarts_line6{
    left: 77%;
}
.nengli_bottom ul .echarts_line7{
    left: 89%;
}

.nengli_bottom ul li:first-of-type{
    width: 19%;
}
.yingjubei{
    display: inline-block;
    width: 4em;
    position: absolute;
    bottom: -24%;
    left: -1.5em;
    color: #66ccff;
    font-size: 0.8em;
}

#myChart32,#myChart33,#myChart34,#myChart35,#myChart36,#myChart37,#myChart38{
    width: 100%;
    height: 100%;

}
#myChart39,#myChart40,#myChart41,#myChart42,#myChart43,#myChart44,#myChart45,#myChart46,#myChart47,#myChart48,#myChart49 {
    width: 95%;
    height: 100%;
    background-color: #00aaff;
}

/*鏁版嵁缁撴灉*/
.shuju_result{
    width: 100%;
    height: 90%;
    /*background-color: #00B2F8;*/
    display: none;
    flex-direction:column;
    color: white;
}
.shuju_result_top{
    margin-top: 1%;
    flex: 1;
    display: flex;
    flex-direction:row ;

}
.shuju_result_bottom{
    flex: 1;
    display: flex;
    flex-direction: row;
}
.shuju_result_top_left{
    flex: 1;
    background: url("../img/sheshiState/border .png") no-repeat;
    background-size: 98% 98%;
    height: 100%;
    padding-top: 2%;
    position: relative;

}
.shuju_result_top_left>ul{
    width: 98%;
    height: 92%;
    /*background-color: pink;*/
    text-align: center;
    vertical-align: middle;
}
.shuju_result_top_left>ul .order_left{
    width: 50%;
    height: 100%;
    margin: 0 auto;
    /*background-color: #00aaff;*/
    float: left;
}
.shuju_result_top_left>ul .order_left .order_all{
    width: 100%;
    height: 100%;
}
.shuju_result_top_left>ul .order_left ul:last-of-type{
    height: 80%;
}
.shuju_result_top_left>ul .order_left ul:first-of-type{
    width: 47%;
    height: 18%;
    display: inline-block;
    background: url("../img/shujuJieguo/bz-bg.png") no-repeat;
    background-size: 100% 100%;
    padding-top: 1%;
}
.shuju_title{
    position: absolute;
    top: 0;
    left: 1%;
    font-size: 1.2em;
}
.shuju_title1{
    position: absolute;
    top: 0;
    left: 2.5%;
    font-size: 1.2em;
}
.shuju_result_top_center{
    flex: 1;
    background: url("../img/sheshiState/border .png") no-repeat;
    background-size: 98% 98%;
    padding-top: 2%;
    position: relative;
}
.shuju_result_top_center>ul{
    width: 98%;
    height: 92%;
    /*background-color: pink;*/
    text-align: center;
    vertical-align: middle;
}
.shuju_result_top_center>ul .order_left{
    width: 50%;
    height: 100%;
    margin: 0 auto;
    /*background-color: #00aaff;*/
    float: left;
}
.shuju_result_top_center>ul .order_left .order_all{
    width: 100%;
    height: 100%;
}
.shuju_result_top_center>ul .order_left ul:last-of-type{
    height: 80%;
}
.shuju_result_top_center>ul .order_left ul:first-of-type{
    width: 47%;
    height: 18%;
    display: inline-block;
    background: url("../img/shujuJieguo/bz-bg.png") no-repeat;
    background-size: 100% 100%;
    padding-top: 1%;
}




.shuju_result_top_right{
    flex: 1;
    background: url("../img/sheshiState/border .png") no-repeat;
    background-size: 98% 98%;
    padding-top: 2%;
    position: relative;
}
.shuju_result_top_right>ul{
    width: 98%;
    height: 92%;
    /*background-color: pink;*/
    text-align: center;
    vertical-align: middle;
}
.shuju_result_top_right>ul .order_left{
    width: 50%;
    height: 100%;
    margin: 0 auto;
    /*background-color: #00aaff;*/
    float: left;
}
.shuju_result_top_right>ul .order_left .order_all{
    width: 100%;
    height: 100%;

}
.shuju_result_top_right>ul .order_left ul:last-of-type{
    height: 80%;
}
.shuju_result_top_right>ul .order_left ul:first-of-type{
    width: 47%;
    height: 18%;
    display: inline-block;
    background: url("../img/shujuJieguo/bz-bg.png") no-repeat;
    background-size: 100% 100%;
    padding-top: 1%;
}



.shuju_result_bottom_left{
    flex: 1;
    background: url("../img/sheshiState/border .png") no-repeat;
    background-size: 98% 98%;
    padding-top: 2%;
    position: relative;
}
.shuju_result_bottom_left>ul{
    width: 98%;
    height: 92%;
    /*background-color: pink;*/
    text-align: center;
    vertical-align: middle;
}
.shuju_result_bottom_left>ul .order_left{
    width: 50%;
    height: 100%;
    margin: 0 auto;
    /*background-color: #00aaff;*/
    float: left;
}
.shuju_result_bottom_left>ul .order_left .order_all{
    width: 100%;
    height: 100%;

}
.shuju_result_bottom_left>ul .order_left ul:last-of-type{
    height: 80%;
}
.shuju_result_bottom_left>ul .order_left ul:first-of-type{
    width: 30%;
    height: 18%;
    display: inline-block;
    background: url("../img/shujuJieguo/bz-bg.png") no-repeat;
    background-size: 100% 100%;
    padding-top: 1%;
}


.shuju_result_bottom_right{
    flex: 1;
    background: url("../img/sheshiState/border .png") no-repeat;
    background-size: 98% 98%;
    padding-top: 2%;
    position: relative;
}
.shuju_result_bottom_right .jiance_left{
    width: 49%;
    height: 92%;
    float: left;
}
.shuju_result_bottom_right .jiance_left>ul{
    width: 98%;
    height: 92%;
    /*background-color: pink;*/
    text-align: center;
    vertical-align: middle;
}
.shuju_result_bottom_right .jiance_left>ul .order_left{
    width: 50%;
    height: 100%;
    margin: 0 auto;
    /*background-color: #00aaff;*/
    float: left;
}
.shuju_result_bottom_right .jiance_left>ul .order_left .order_all{
    width: 100%;
    height: 100%;

}
.shuju_result_bottom_right .jiance_left>ul .order_left ul:last-of-type{
    height: 90%;
}
.shuju_result_bottom_right .jiance_left>ul .order_left ul:first-of-type{
    width: 55%;
    height: 18%;
    display: inline-block;
    background: url("../img/shujuJieguo/bz-bg.png") no-repeat;
    background-size: 100% 100%;
    padding-top: 1%;
}


.shuju_result_bottom_right .jiance_right{
    width: 49%;
    height: 92%;
    float: left;
}
.jiance_right_name{
    height: 15%;
    width: 100%;
    text-align: center;
    color: #66CCFE;
    font-size: 1.3em;
}
.shuju_top_right{
    flex: 1;
}
#myChart49{
    height: 85%;
}

/*鏁版嵁鎸栨帢*/
.shuju_apply{
    width: 100%;
    height: 90%;
    /*background-color: #00B2F8;*/
    display: none;
    flex-direction:column;
}
.shuju_apply_top{
    margin-top: 1%;
    flex: 1;
    background: url("../img/shujuWajue/border .png") no-repeat;
    background-size:100% 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    height: 100%;
}
.shuju_apply_center{
    flex: 1;
}
.shuju_apply_bottom{
    flex: 1;
    /*background: url("../img/TotalState/border-2-2.png") no-repeat;*/
    /*background-size: 98% 98%*/
}


.shuju_apply_bottom_left {
    flex: 1;
    /*background-color: pink;*/
}

.shuju_apply_bottom_right {
    flex: 1;
}

.shuju_apply_bottom_pie {
    width: 28%;
    height: 65%;
    /*background-color: yellow;*/
    float: left;
}

.shuju_apply_bottom_bar1,.shuju_apply_bottom_bar2 {
    width: 31%;
    height: 65%;
    float: left;
}
.shuju_apply_bottom_tab{
    width: 9%;
    height: 65%;
    float: left;
    background-color: transparent;
    margin-right: 1%;

}
.shuju_apply_bottom_tab ul {
    width: 100%;
    height: 95%;
    overflow-y: scroll;
    padding-top: 11%;
    background: url("../img/TotalState/scroll bar-border.png") no-repeat;
    background-size: 100% 100%;
}
.shuju_apply_bottom_tab ul li{
    width: 100%;
    height: 20%;
    display: inline-block;
    color: #66CCFE;
    font-size: 1em;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
.shuju_apply_bottom_tab ::-webkit-scrollbar
{
    width: 10%;
    height: 100%;
    background-color: transparent;
}

/*定义滚动条轨道 内阴影+圆角*/
.shuju_apply_bottom_tab ::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: transparent;
}

/*定义滑块 内阴影+圆角*/
.shuju_apply_bottom_tab ::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
    background-color: #66ccff;
}


.shuju_apply_bottom_right .shuju_apply_bottom_bar1{
    width: 70%;
}


#myChart14,#myChart15,#myChart16,#myChart17,#myChart18,#myChart19 {
    width: 100%;
    height: 100%;
}




/*tab鏍忓垏鎹㈡牱寮�*/
#right .tab .active_right {
    background: url("../img/TotalState/border-click.png") no-repeat;
    background-size: 100% 100%;
    color: #00e673;
}

#right .box {
    display: none;
}

#right .selected {
    display: flex;
}




