#l header{
    text-align: center;
}
#l h1{
    margin:.5em auto;
    font-size: 1.4em;
    color: #66CCFE;
}

#l .numberInfo .item{
    text-align: center;
    width:25%;
    color: #fff;
    transform: translateX(-50%);
    float: left;
}

#l .numberInfo .item:nth-of-type(1){
    margin-left: 25%;
}

#l .numberInfo .item h3{
    text-align: center;
    font-size: .7em;
}
#l .numberInfo .item .nb{
    font-family: DIGITAL-Regular;
    font-size: 2em;
    font-style: italic;
    color: orange;
}

#l .switch{
    height:24em;
    border:1px solid pink;
}
#l .mapArea{
    width:60%;
    height: 22em;
    margin:0 auto;
    outline: 1px solid yellow;
}

#l .flat .mapArea{
    height:85%;
}
#l .sphere .mapArea{
    /*height:100%;*/
}

#l .flat iframe{
    width:100%;
    height:100%;
}

#l .btnGroup{
    text-align: center;
    margin-top: .5em;
}
#l .btnGroup img{
    cursor:pointer;
    margin-right: 1em;
    width:3em;
}

#l #switchlegend{
    position: absolute;
    left: 10px;
    bottom:10px;
}






