
#r .tab {
    /*width: 100%;*/
    height: 8%;
    text-align: center;
    margin-left: 7%;
}

#r .tab ul {
    text-align: center;
}

#r .tab ul li {
    display: inline-block;
    padding: 0.3em 0.3em 0.3em 0;
    width: 12%;
    margin: 0.9em 5.5em 0 0;
    background: url("../img/tabCom/border-normal.png") no-repeat;
    background-size: 100% 100%;
    color: #66ccff;
    cursor: pointer;
    font-size: 1.9em;
   /*   font-weight:700; */
}

#r .white {
    color: #fff
}
#r .orange{
    color: #f93;
}
#r .bigger{
    font-size: 1.2em;
}

#r .box{
    display: none;
}
#r .box.selected {
    display: flex;
}

/*tab鏍忓垏鎹㈡牱寮�*/
#r .tab .active_right {
    background: url("../img/tabCom/border-click.png") no-repeat;
    background-size: 100% 100%;
    color: #00e673;
}

#r .labIcon{
    z-index: 10;
    position: absolute;
    left: 1%;
    top: 2.5%;
    width: 18%;
}
#r .labIcon>ul>li{
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin-left: 12%;
    width: 9.5%;
}
#r .labIcon>ul>li>span{
    /*display: block;*/
    font-size: 1em;
}

#r .labIcon>ul>li>img{
    width:100%;
}
#r .labIcon>ul>li>span.text{
    position: absolute;
    margin-top: 12%;
    left: 50%;
    transform: translateX(-50%);
    width: 6em;
}
#r .labIcon>ul>li.active{
    color: #00e673;
}



