.lab > div:nth-of-type(1),
.lab > div > div > div {
    /*outline: 1px dotted rgba(255, 165, 0, 0.44);*/
    outline-offset: -1px;
}

/*主页面布局*/
@media all {
    #content > .lab {
        flex: 4;
        flex-direction: column;
        display: flex;
    }

    .lab_head {
        flex: 1;
    }

    .lab_content {
        flex: 8;
        display: flex;
        padding: 1.2em 1.2em 1.2em 2.4em;
    }

    .lab_content_l {
        flex: .7;
    }

    .lab_content_r {
        flex: 3;
        display: flex;
        flex-direction: column;
        margin-top: -1em;
        margin-left: 2em;
        margin-right: 1em;
        /*text-align: right;*/
    }

    .lab_content_r > .labSubNav {
        flex: 1;
    }

    .lab_content_r > .switchBox {
        flex: 10;
    }
}

/*全局样式*/
[class^=btn-],
li:not(.hasChildren),
.labMainNav > .switchBox > ul > li > header {
    cursor: pointer;
}

li:not(.hasChildren).active {
    color: #00e673;
}

/*顶部标题栏*/
@media all {
    .lab_head {
        /*height: 10%;*/
        background: url(../img/labMain/labtitle_bg.png) no-repeat;
        background-size: 100% 100%;
        position: relative;
    }

    .lab_head [class^=btn-] {
        position: absolute;
        text-align: center;
        top: 2em;
    }

    .lab_head [class^=btn-]:nth-of-type(1) {
        left: 3em;
    }

    .lab_head [class^=btn-]:nth-of-type(2) {
        right: 4em;
    }

    .lab_head [class^=btn-] .icon {
        width: 2em;
        height: 2em;
        margin: 0 auto .5em;
        background-size: 100% 100%;
    }

    .lab_head [class^=btn-]:hover {
        color: #069;
    }

    .lab_head [class^=btn-]:nth-of-type(1) .icon {
        background-image: url("../img/labMain/labMain_toTotalStatus.png");
    }

    .lab_head [class^=btn-]:nth-of-type(1):hover .icon {
        background-image: url("../img/labMain/labMain_toTotalStatus_active.png");
    }

    .lab_head [class^=btn-]:nth-of-type(2) .icon {
        background-image: url("../img/labMain/home.png");
    }

    .lab_head [class^=btn-]:nth-of-type(2):hover .icon {
        background-image: url("../img/labMain/home_active.png");
    }

    .lab_head h2 {
        font-size: 2.6em;
        letter-spacing: .05em;
        color: #66CCFE;
        text-align: center;
        line-height: 2em;
    }
}

/*左侧导航栏*/
@media all {
    .labMainNav {
        height: 100%;
        font-size: 1.2em;
        /*border: 1px solid #64ccff;*/
        background-image: url("../img/lab/labMainNavBoard.png");
        background-size: 100% 100%;
    }

    .labMainNav > header > ul {
        text-align: center;
    }

    .labMainNav > header > ul > li {
        display: inline-block;
        margin: 2em 1em;
        padding: .8em 2.2em;
        background-image: url(../img/tabCom/btn_off.png);
        background-size: 100% 100%;
    }

    .labMainNav > header > ul > li.active {
        background-image: url(../img/tabCom/btn_on.png);
    }

    .labMainNav > .switchBox {
        height: 33em;
        overflow: auto;
    }

    .labMainNav > .switchBox > ul {
        /*padding-left: 4em;*/
    }

    .labMainNav > .switchBox > ul > li {
        padding: .8em 0 .8em 4em;
        list-style: inside disc;
    }

    .labMainNav > .switchBox > ul > li > header {
        display: inline-block;
        width: 80%;
        padding: .6em 0;
    }

    .labMainNav > .switchBox > ul > li > header > span { /*折叠符号*/
        position: absolute;
        right: 4em;
    }
    .labMainNav > .switchBox > ul > li > ul > li>span.icon { /*小图标*/
        display: inline-block;
        position: relative;
        top: 0.16em;
        margin-right: 1em;
        width: 1em;
        height: 1em;
        background-image: url(../img/ico/line_yf.png);
        background-size: contain;
    }
    .labMainNav > .switchBox > ul > li > ul > li:hover>span.icon,
    .labMainNav > .switchBox > ul > li > ul > li.active>span.icon{
        filter: hue-rotate(-45deg);
    }
    .labMainNav > .switchBox > ul.inland > li:nth-of-type(2) > ul > li:nth-of-type(1)>span.icon{
        background-image: url(../img/ico/line_bl.png);
    }
    .labMainNav > .switchBox > ul.inland > li:nth-of-type(2) > ul > li:nth-of-type(2)>span.icon{
        background-image: url(../img/ico/line_xd.png);
    }
    .labMainNav > .switchBox > ul.inland > li:nth-of-type(2) > ul > li:nth-of-type(3)>span.icon{
        background-image: url(../img/ico/line_jk.png);
    }
    .labMainNav > .switchBox > ul.inland > li:nth-of-type(2) > ul > li:nth-of-type(4)>span.icon{
        background-image: url(../img/ico/line_sk.png);
    }
    .labMainNav > .switchBox > ul.inland > li:nth-of-type(2) > ul > li:nth-of-type(5)>span.icon{
        background-image: url(../img/ico/line_cd.png);
    }
    .labMainNav > .switchBox > ul.inland > li:nth-of-type(2) > ul > li:nth-of-type(6)>span.icon{
        background-image: url(../img/ico/line_rsq.png);
    }
    .labMainNav > .switchBox > ul.inland > li:nth-of-type(2) > ul > li:nth-of-type(7)>span.icon{
        background-image: url(../img/ico/line_qt.png);
    }
    .labMainNav > .switchBox > ul > li > header:hover > span {
        font-weight: bold;
    }

/*    .labMainNav > .switchBox > ul > li > header.fold > span {
        !*top: -.2em;*!
    }*/

    .labMainNav > .switchBox > ul > li.noChildren:hover,
    .labMainNav > .switchBox > ul > li > ul > li:hover {
        outline: .1em solid rgba(0, 230, 115, 0.7);
        outline-offset: -.1em;
        background-color: rgba(0, 4, 21, 0.2)
    }

    .labMainNav > .switchBox > ul > li.noChildren.active,
    .labMainNav > .switchBox > ul > li > ul > li.active {
        outline: .1em solid #00e673;
        outline-offset: -.1em;
        background-color: rgba(0, 4, 21, 0.67)
    }

    .labMainNav > .switchBox > ul > li > ul {
        margin-left: -4em;
    }

    .labMainNav > .switchBox > ul > li > ul > li {
        padding: 0.6em 0 .6em 7em;
    }

    .labMainNav > .switchBox > ul > li {
        position: relative;
    }

}

/*右侧tab标签*/
@media all {
    .lab_content_r {
        background-image: url("../img/lab/labTabBoardInland_4.png");
        background-size: 100% 100%;
    }

    .labSubNav > ul {
        margin-left: 8em;
    }

    .labSubNav > ul > li {
        display: inline-block;
        text-align: center;
        width: 10em;
        padding: .75em 0;
        font-size: 1.6em;
        color: #fff;
    }

    .labSubNav > ul > li.active {
        color: #6cf;
    }

}

/*右侧切换的div*/
@media all {
    .lab_content_r > .switchBox {
        background-size: 100% 100%;
    }

    .lab_content_r > .switchBox > div.item,
    .lab_content_r > .switchBox > div.item > div {
        height: 100%;
    }

    .lab_content_r > .switchBox > div.item:not(:nth-of-type(4)) {
        display: none;
    }

    .lab_content_r > .switchBox > div.item.labHome .labMain_cbl_one {
        flex: 1;
        margin: 0.1% 1em 0.5% 1em;
        display: flex;
        flex-direction: row;
        height: 98%;
    }

    .lab_content_r > .switchBox > div.item > iframe {
        height: 100%;
        background-color: #fff;
    }

}

/*视频监控页面*/
.monitoring .sheshi_tab.disabled {
    filter: grayscale(100%) brightness(80%);
    cursor: not-allowed;
}
.monitoring .bigVideoBox {
    padding: 1em;
    height: 45em;
    overflow: auto;
}
.monitoring .bigVideoBox > #bigVideo > iframe{
    height: 42em;
}
#smallVideoWeb > iframe,
#smallVideo > iframe{
    height: 11em;
}
.monitoring .bigVideoBox > div > div {
    display: inline-block;
    outline: 1px dotted darkgray;
    margin:0 .2em;
    max-height: 44em;
}

.monitoring .bigVideoBox > .video_4x4 > div {
    width: calc(100% / 4 - .5em);
    height: 10.5em;
}

.monitoring .bigVideoBox > .video_3x3 > div {
    width: calc(100% / 3 - .5em);
    height: 14em;
}

.monitoring .bigVideoBox > .video_2x2 > div {
    width: calc(100% / 2 - .5em);
    height: 21em;
}

.monitoring .bigVideoBox > .video_1x1 > div {
    width: calc(100% - .5em);
    height: 42em;
}

.monitoring .shishi_right .smallVideoBox{
    position: absolute;
    width: 19.2em;
    height: 19.5em;
    top: -.0em;
    left: 1em;
}
.monitoring .shishi_right .smallVideoBox>.hideShow{
    width: 100%;
    text-align: right;
    padding: .2em 0;
    cursor: pointer;
    box-shadow: 0 0 2em 1em rgba(0,0,0,.6);
}
.monitoring .shishi_right .smallVideoBox>object{
    box-shadow: 0 0 1.5em 1.2em rgba(0,0,0,.4);
}
.monitoring .shishi_right .smallVideoBox>.hideShow>.icon{
    position: relative;
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    top: .3em;
    margin: 0 .5em;
    background-image: url(../img/lab/close.png);
    background-size: contain;
}
.monitoring .loadingAnimation{
    position: absolute;
     display: none;
    left: 39%;
    top: 45%;
    /*偏移不用百分比是防止整句话移动*/
    transform: translateX(-5em);
    font-size: 1.6em;
}
.monitoring .smallVideoBox>.loadingAnimation{
    left: 10em;
    top: 8em;
    font-size: 1em;
}

.monitoring .bigVideoBox .loadingAnimation{
    left: 30em;
    top: 12em;
    font-size: 1.4em;
}
