
.labMain_cb_left {
    /*flex: 3;*/
    /*background: url(../img/labMain/lab_left_border_wider.png) 0 0 no-repeat;*/
    /*background-size: 100% 100%;*/
    position: relative;
    margin: 0 1em;
    display: flex;
    flex-direction: row;
}

.labMain_cb_left_column {
    flex-direction: column;
}

.lab_title {
    font-size: 1.6em;
    position: absolute;
    top: .5em;
    left: 9em;
}

.zhbr_lab {
    height: 90%;
    width: 100%;
    /*padding-top: 2%;*/
}

.zhbr_lab .labMain_cbl_one {
    /*height: 100%;
    width: 50%;
    float: left;*/

}

.labMain_cbl_one {
    flex: 1;
    margin: 0.1% 1em 0.5% 1em;
    display: flex;
    flex-direction: row;
    height: 98%;

}

.labMain_cbl_one img {
    /*width: 90%;
    margin: 4em 3em;*/
    vertical-align: middle;

}

.labMain_cbl_two {
    flex: 1;
    margin: 2% 1em 0.5% 1em;
    display: flex;
    flex-direction: row;
    height: 46%;

}

.zhbr_lab .labMain_cbl_two {
    /*width: 50%;
    height: 100%;
    display: flex;
    float: left;
    flex-direction: column;*/

}

.labMain_cblt_top {
    flex: 1;
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.labMain_cblt_tone {
    flex:3;
    /*width: 30%;*/
    margin: 0.5%;
    font-size: 1.3em;

}

.labMain_cblt_tone h3, .labMain_cblt_ttwo h3 {
    font-size: 1.3em;
    height: 2em;
    line-height: 2em;
    width: 13em;
    /*background: url(../img/labMain/gznx-bg.png) 0 0 no-repeat;*/
    background-size: 100% 100%;
    margin: 3% 1%;
    color: #fff;
    padding-left: 22%;
}

.labMain_cblt_tone p, .labMain_cblt_ttwo p {
    margin: 1em;

}

.labMain_cbl_one .labMain_cblt_tone p {
    font-size: .92em;
    text-indent: 2em;
}

.labMain_cbl_two .labMain_cblt_ttwo {

    background: url("../img/labMain/znjd-bg.png") no-repeat;
    background-size: 100% 100%;
    /*margin:0 0.5% ;*/
    width: 65%;

}
.labMain_cblt_ttwo.labMain_cblt_ttwo_world{
    flex: 7;
    height: 48em;
}


.labMain_cblt_ttwo img {
    width: 70em;
    max-height: 44em;
    margin-left: 1.5em;
    margin-top: -.2em;
}

.labMain_cblt_bottom {
    flex: 1;
    /*background:red;*/
    margin: 1em;

}

.labMain_cb_right {
    flex: 1;
    display: flex;
    flex-direction: column;

}

.labMain_cbr_tab {
    cursor: pointer;
}

.labMain_cbr_one {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin: 0.8em 1em .4em;
    background: url(../img/labMain/lab_right_border.png) 0 0 no-repeat;
    background-size: 100% 100%;
    position: relative;

}

.labMain_cb_right h3 {
    font-size: 1.5em;

}

.lab_one_title {
    position: absolute;
    left: 10.5%;
    top: 2%;

}

.labMain_cbr_two {
    flex: 1;
    display: flex;
    flex-direction: row;
    background: url(../img/labMain/lab_right_border.png) 0 0 no-repeat;
    background-size: 100% 100%;
    margin: 0.4em 1em;
    position: relative;

}

.labMain_cbr_three {
    flex: 1;
    display: flex;
    flex-direction: row;
    background: url(../img/labMain/lab_right_border.png) 0 0 no-repeat;
    background-size: 100% 100%;
    margin: 0.4em 1em .8em;
    position: relative;
}



.labMain_cbr_three ul {
    padding-top: 0;
}

.labMain_cbr_three .labMain_cbro_ul ul li {
    padding: 0 1.5em;
    height: 30%;
}

.labMain_cbro_content {
    flex: 4;
    height: 75%;
    /*border: 1px solid #00ccff;*/
    margin: 3em 1em 1em 1em;
}
