/*右上角翻页按钮*/
@media all {
    .pageSwitch {
        z-index: 100;
        position: absolute;
        right: 51%;
    }

    .pageSwitch:nth-of-type(2) {
        right: 1%;
    }

    .pageSwitch > span {
        display: inline-block;
        width: 1.8em;
        height: 1.8em;
        margin-right: 1em;
        background-size: 100% 100%;
        cursor: pointer;
    }

    .pageSwitch:nth-of-type(1) > span.page_pre {
        background-image: url("../img/tabCom/page_pre.png");
    }

    .pageSwitch:nth-of-type(1) > span.page_next {
        background-image: url("../img/tabCom/page_next_act.png");
    }

    .pageSwitch:nth-of-type(2) > span.page_pre {
        background-image: url("../img/tabCom/page_pre_act.png");
    }

    .pageSwitch:nth-of-type(2) > span.page_next {
        background-image: url("../img/tabCom/page_next.png");
    }

}

/*头部和整体*/
@media all {
    #tab3 {
        position: relative;
        display: flex;
        width: 200%;
        height: 92%;
        /*padding: 1%;*/
        padding: 0.2% 1% .6% 0;
        left: -100%;
        color: #6cf;

    }

    #t3_l,
    #t3_r {
        display: flex;
        flex: 1;
        /*outline: 1px dotted skyblue;*/
    }

    #t3_l > div,
    #t3_r > div {
        position: relative;
        flex: 1;
        padding: 2% 1%;
        height: 97%;
        background-size: 100% 100%;
    }

    #t3_l > div {
        margin: 1% .5%;
        background-image: url("../img/tabCom/bigBorder_p3.png");
    }

    #t3_r > div {
        margin: 1%;
        background-image: url("../img/tabCom/bigBorder_p5.png");
    }

    #tab3 > div > div > div[class$=_top],
    #tab3 > div > div > div[class$=_bottom] {
        height: 48%;
        /*outline: 1px dotted skyblue;*/
    }

    #tab3 > div > div > .title {
        position: absolute;
        top: 1%;
        color: #fff;
        font-size: 1.6em;
        left: 16%;
        transform: translateX(-50%);
    }

    #tab3 > div > div h3 {
        width: 43%;
        padding: 3%;
        text-align: center;
        margin: 3% auto 0;
        font-size: 1.7em;
        color: #fff;
        background-image: url(../img/tab3/border_h3.png);
        background-size: 100% 100%;
    }

    #t3_l > div > span.title {
        left: 21%;
    }

    #tab3 > div > div div.divideLine {
        position: absolute;
        top: 47%;
        width: 94%;
        height: .4%;
        background-image: url(../img/tabCom/divideLine.png);
        background-size: 100%;
    }

    #tab3 > div > div > div > .btnGroup {
        text-align: center;
    }

    #tab3 > div > div > div > .btnGroup > span {
        font-size: 1.2em;
        display: inline-block;
        padding: 2.6% 6.8%;
        margin: 1% 1% .5%;
        height: 10%;
        background-image: url(../img/tabCom/btn_off.png);
        background-size: 100% 100%;
        cursor: pointer;
    }

    #tab3 > div > div > div > .btnGroup > span.active {
        color: #00e673;
        background-image: url(../img/tabCom/btn_on.png);
    }

}
@media all {
    #t3_l > div > div[class$=_top] > p.explain {
        position: absolute;
        left: 4%;
        top: 21%;
        font-size: 1.3em;
        line-height: 1.3em;
    }
}
/*左边第1屏*/
@media all {
    #tab3 > div > div > .t3_l_1_top {
        padding-top: 7%;
    }

    #tab3 > div > div > .t3_l_1_top > div {
        text-align: center;
        width: 40%;
        background-image: url(../img/tab3/borderHigher.png);
        background-size: 100% 100%;
        margin: 0 auto 5%;
        padding: 3.3% 0;
        font-size: 1.6em;
    }

    #tab3 > div > div > .t3_l_1_top > div > .num {
        font-size: 1.5em;
        margin-bottom: -.2em;
    }

    #myChart39 {
        height: 63%;
        width: 100%;
    }
}

/*左边第2屏和第3屏*/
@media all {

    #myChart43,
    #myChart44 {
        height: 90%;
    }

    #myChart41,
    #myChart42 {
        height: 72%;
    }
}

/*右边2屏样式*/
@media all {

    #t3_r > div > span.title{
        left: 14.5%;
    }
    #t3_r > div > div[class$=_bottom] {
        display: flex;
    }

    #t3_r > div > div[class$=_bottom] > div {
        flex: 1;
    }

    #t3_r > div > div[class$=_bottom] h3 {
        width: 60%;
        padding: 5%;
    }

    #tab3 > div > div > div > p.explain {
        text-align: center;
        font-size: 1.5em;
    }

    #tab3 > div > div > div > p.explain > strong {
        font-weight: normal;
        font-size: 1.7em;
    }

    #myChart6,
    #myChart7 {
        height: 72%;
    }

    #myChart45,
    #myChart46 {
        height: 90%;
    }
    #myChart47,
    #myChart49 {
        height: 92%;
    }

}



