ul{
    list-style: none;
}

html, body, #totalState {
    height: 100%;
}
#totalState *{
    box-sizing: border-box;
}
.lab .btn-back,
.btn-back {
    position: absolute;
    right: 1em;
    top: 1.25em;
    z-index: 1;
}

.lab .btn-back,
.btn-back > .icon {
    display: inline-block;
    width: 3em;
    height: 3em;
    background: url("../img/3rd/home.png") no-repeat;
    background-size: contain;
}

.lab .btn-back,
.btn-back > .icon:hover {
    filter: brightness(2);
    display: none;
}

.tab {
    /*width: 100%;*/
    height: 8%;
    text-align: center;
    margin-left: 7%;
}

.tab ul {
    text-align: center;
}

.tab ul li {
    display: inline-block;
    padding: 0.3em 0.3em 0.3em 0;
    width: 12%;
    margin: 0.9em 5.5em 0 0;
    background: url("../img/tabCom/border-normal.png") no-repeat;
    background-size: 100% 100%;
    color: #66ccff;
    cursor: pointer;
    font-size: 1.9em;
    /*   font-weight:700; */
}

.white {
    color: #fff
}

.orange {
    color: #f93;
}

.bigger {
    font-size: 1.2em;
}

.box {
    display: none;
}

.box.selected {
    display: flex;
}

/*tab鏍忓垏鎹㈡牱寮�*/
.tab .active_right {
    background: url("../img/tabCom/border-click.png") no-repeat;
    background-size: 100% 100%;
    color: #00e673;
}

.labIcon {
    z-index: 10;
    position: absolute;
    left: 1%;
    top: 2.5%;
    width: 18%;
}

.labIcon > ul > li {
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin-left: 12%;
    width: 9.5%;
}

.labIcon > ul > li > span {
    /*display: block;*/
    font-size: 1em;
}

.labIcon > ul > li > img {
    width: 100%;
}

.labIcon > ul > li > span.text {
    position: absolute;
    margin-top: 12%;
    left: 50%;
    transform: translateX(-50%);
    width: 6em;
}

.labIcon > ul > li.active {
    color: #00e673;
}



