<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>中海博睿实验室</title>
    <!--<link rel="stylesheet" href="../static/asserts/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="../static/css/common.css">-->
    <link rel="stylesheet" href="../static/css/labMain.css">
    <link rel="stylesheet" href="../static/css/labAnalysis.css">
    <link rel="stylesheet" href="../static/css/labOprateState.css">
    <link rel="stylesheet" href="../static/css/labLine.css">
    <link rel="stylesheet" href="../static/css/centerLab.css">
    <link rel="stylesheet" href="../static/css/centerLabWorld.css">
</head>

<body>
<div class="labMain_content_country" style="display: none;">
    <!--<div class="labMain_content" >-->
    <div class="labMain_content_top">
        <h1 id="labName">中海博睿数据中心</h1>
        <div class="labMain_ct_btn">
            <div class="icon"></div>
            <h3>返回上一级</h3>
        </div>
        <div class="labMain_ct_btn">
            <div class="icon"></div>
            <h3 id="labnameIcon">中海博睿实验室</h3>
        </div>
    </div><!--头部content_top-->

    <div class="labMain_content_bottom">
        <!--中海博睿实验室-->
        <div class="labMain_cb_left labMain_cb_left_column zhbr_lab labMain_cb_left_show">
            <h3 class="lab_title" id="secondName">中海博睿实验室</h3>

            <!--上侧-->
            <div class="labMain_cbl_one">
                <div class="labMain_cblt_tone">
                    <h3>基本介绍</h3>
                    <p>
                        日本研发中心拥有冰箱检测实验室39个，测试台位290个，具备冰箱性能、结构、电子电器以及超前研发技术检测能力。
                    </p>
                    <p>
                        The Japan R&D Center has 39 refrigerator testing labs, 290 test stations, covering the testing capabilities of  refrigerator performance, structure, electronic and electrical appliances and advanced R&D technology.
                    </p>
                </div>
                <!--labMain_cblt_tone-->

                <div class="labMain_cblt_ttwo"><img src="${contextPath!}/static/img/labMain/Japan.jpg"/></div>
                <!--labMain_cblt_ttwo-->

            </div>
            <!--上侧-->

            <!--<div class="labMain_cbl_two"> -->
            <!---->
            <!--<div class="labMain_cblt_tone labMain_lunbo">-->
            <!---->
            <!--<ul class="clearfloat lbul">-->
            <!--<li><img src="${contextPath!}/static/img/labMain/labmain_01.jpg"/><span>中海博睿实验室</span></li>-->
            <!--<li><img src="${contextPath!}/static/img/labMain/labmain_02.jpg"/><span>中海博睿实验室</span></li>-->
            <!--<li><img src="${contextPath!}/static/img/labMain/labmain_01.jpg"/><span>中海博睿实验室</span></li>-->
            <!--<li><img src="${contextPath!}/static/img/labMain/labmain_02.jpg"/><span>中海博睿实验室</span></li>-->
            <!--<li><img src="${contextPath!}/static/img/labMain/labmain_01.jpg"/><span>中海博睿实验室</span></li>-->
            <!--<li><img src="${contextPath!}/static/img/labMain/labmain_02.jpg"/><span>中海博睿实验室</span></li>-->
            <!--<li><img src="${contextPath!}/static/img/labMain/labmain_01.jpg"/><span>中海博睿实验室</span></li>-->
            <!--<li><img src="${contextPath!}/static/img/labMain/labmain_02.jpg"/><span>中海博睿实验室</span></li>-->
            <!---->
            <!--</ul>-->
            <!--</div>-->
            <!--&lt;!&ndash;labMain_lunbo&ndash;&gt;-->
            <!---->
            <!--<div class="labMain_cblt_ttwo"> <img src="${contextPath!}/static/img/labMain/znjd.gif"/> </div>-->
            <!--&lt;!&ndash;labMain_cblt_ttwo&ndash;&gt; -->

            <!---->
            <!---->
            <!--</div>-->
            <!--labMain_cbl_two-->


            <!-- <div class="labMain_cbl_one">
                <img src="${contextPath!}/static/img/labMain/lab_com.jpg"/>
            </div> -->
            <!--  <div class="labMain_cbl_two">
                 <div class="labMain_cblt_tone">
                     <h3>基本介绍</h3>
                     <p>实验室建成时间为20xx年，占地面积为12000平方米，实验室共25个，高、精、尖专业测试设备800余套</p>
                 </div>
                 <div class="labMain_cblt_ttwo">
                     <h3>监测项目</h3>
                     <p>可进行电子电器产品的运输、安全、性能、EMC、噪音、可靠性等测试及零部件的性能、材料、ROHS等500多项标
                         准2000多个项目的测试。</p>

                     <p>公司具有完善的环境可靠性试验能力，人工气候室可以模拟再现自然界的各种严酷气候环境，全球环境室可以模拟热
                         带、寒带、温带各种气候变化，从而提升产品适应能力。
                     </p>
                     <p>
                         可靠性试验室通过输出顾客化的加速试验方案并验证，从而优化设计提高产品可靠性。
                     </p>
                 </div>
             </div> --><!--labMain_cbl_two-->
        </div>

        <!--运营状态-->
        <!--<div class="labMain_cb_left">-->
            <!--<h3 class="lab_title">运营状态</h3>-->
            <!--<div class="pageBtn">-->
                <!--<span class="icon" onclick="prePage()"></span>-->
                <!--<span class="icon" onclick="nextPage()"></span>-->
            <!--</div>-->

            <!--<div class="leftContent">-->
                <!--&lt;!&ndash;第一行&ndash;&gt;-->
                <!--<div class="l-top">-->
                    <!--<div class="l-top-title">-->
                        <!--<h3>实验室状态</h3>-->
                    <!--</div>-->
                    <!--<div class="l-top-header">-->
                        <!--<div class="item1">-->
                            <!--<h5>实验室总数：</h5>-->
                            <!--<span class="data" id="lab_center_id_left_0">0</span>-->
                        <!--</div>-->
                        <!--<div class="item2" id="lab_center_id_left_1">-->
                            <!--<h5>负荷率最低：</h5>-->
                            <!--<div class="progress">-->
                                <!--<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"-->
                                     <!--aria-valuemax="100" style="width: 80%;height: 100%"></div>-->
                            <!--</div>-->
                            <!--<span class="data">80%</span>-->
                        <!--</div>-->
                        <!--<div class="item3" id="lab_center_id_left_2">-->
                            <!--<h5>负荷率最高：</h5>-->
                            <!--<div class="progress">-->
                                <!--<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"-->
                                     <!--aria-valuemax="100" style="width: 90%;height: 100%"></div>-->
                            <!--</div>-->
                            <!--<span class="data">90%</span>-->
                        <!--</div>-->
                        <!--<div class="item4" id="lab_center_id_left_3">-->
                            <!--<h5>平均负荷率：</h5>-->
                            <!--<div class="progress">-->
                                <!--<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"-->
                                     <!--aria-valuemax="100" style="width: 85%;height: 100%"></div>-->
                            <!--</div>-->
                            <!--<span class="data">85%</span>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="l-top-body" id="center_lab_top_div">-->
                        <!--&lt;!&ndash;  <div class="l-top-body-1">-->
                             <!--<h4>A室</h4>-->
                             <!--<div class="item1">-->
                                 <!--<h5>实验室状态：<span></span></h5>-->
                                 <!--<span class="data">在用</span>-->
                             <!--</div>-->
                             <!--<div class="item2">-->
                                 <!--<h5>台位负荷：<span></span></h5>-->
                                 <!--<div class="progress">-->
                                     <!--<div class="progress-bar" role="progressbar" aria-valuenow="84" aria-valuemin="0"-->
                                          <!--aria-valuemax="100" style="width: 84%;height: 100%"></div>-->
                                 <!--</div>-->
                                 <!--<span class="data">80/90</span>-->
                             <!--</div>-->
                             <!--<div class="item3">-->
                                 <!--<h5>月负荷率：<span></span></h5>-->
                                 <!--<div class="progress">-->
                                     <!--<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"-->
                                          <!--aria-valuemax="100" style="width: 80%;height: 100%"></div>-->
                                 <!--</div>-->
                                 <!--<span class="data">80/90</span>-->
                             <!--</div>-->
                         <!--</div>-->
                         <!--<div class="l-top-body-2">-->
                             <!--<h4>A室</h4>-->
                             <!--<div class="item1">-->
                                 <!--<h5>实验室状态：<span></span></h5>-->
                                 <!--<span class="data">在用</span>-->
                             <!--</div>-->
                             <!--<div class="item2">-->
                                 <!--<h5>台位负荷：<span></span></h5>-->
                                 <!--<div class="progress">-->
                                     <!--<div class="progress-bar" role="progressbar" aria-valuenow="84" aria-valuemin="0"-->
                                          <!--aria-valuemax="100" style="width: 84%;height: 100%"></div>-->
                                 <!--</div>-->
                                 <!--<span class="data">80/90</span>-->
                             <!--</div>-->
                             <!--<div class="item3">-->
                                 <!--<h5>月负荷率：<span></span></h5>-->
                                 <!--<div class="progress">-->
                                     <!--<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"-->
                                          <!--aria-valuemax="100" style="width: 80%;height: 100%"></div>-->
                                 <!--</div>-->
                                 <!--<span class="data">80/90</span>-->
                             <!--</div>-->
                         <!--</div>-->
                         <!--<div class="l-top-body-3">-->
                             <!--<h4>A室</h4>-->
                             <!--<div class="item1">-->
                                 <!--<h5>实验室状态：<span></span></h5>-->
                                 <!--<span class="data">在用</span>-->
                             <!--</div>-->
                             <!--<div class="item2">-->
                                 <!--<h5>台位负荷：<span></span></h5>-->
                                 <!--<div class="progress">-->
                                     <!--<div class="progress-bar" role="progressbar" aria-valuenow="84" aria-valuemin="0"-->
                                          <!--aria-valuemax="100" style="width: 84%;height: 100%"></div>-->
                                 <!--</div>-->
                                 <!--<span class="data">80/90</span>-->
                             <!--</div>-->
                             <!--<div class="item3">-->
                                 <!--<h5>月负荷率：<span></span></h5>-->
                                 <!--<div class="progress">-->
                                     <!--<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"-->
                                          <!--aria-valuemax="100" style="width: 80%;height: 100%"></div>-->
                                 <!--</div>-->
                                 <!--<span class="data">80/90</span>-->
                             <!--</div>-->
                         <!--</div>-->
                         <!--<div class="l-top-body-4">-->
                             <!--<h4>A室</h4>-->
                             <!--<div class="item1">-->
                                 <!--<h5>实验室状态：<span></span></h5>-->
                                 <!--<span class="data">在用</span>-->
                             <!--</div>-->
                             <!--<div class="item2">-->
                                 <!--<h5>台位负荷：<span></span></h5>-->
                                 <!--<div class="progress">-->
                                     <!--<div class="progress-bar" role="progressbar" aria-valuenow="84" aria-valuemin="0"-->
                                          <!--aria-valuemax="100" style="width: 84%;height: 100%"></div>-->
                                 <!--</div>-->
                                 <!--<span class="data">80/90</span>-->
                             <!--</div>-->
                             <!--<div class="item3">-->
                                 <!--<h5>月负荷率：<span></span></h5>-->
                                 <!--<div class="progress">-->
                                     <!--<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"-->
                                          <!--aria-valuemax="100" style="width: 80%;height: 100%"></div>-->
                                 <!--</div>-->
                                 <!--<span class="data">80/90</span>-->
                             <!--</div>-->
                         <!--</div>-->
                         <!--<div class="l-top-body-5">-->
                             <!--<h4>A室</h4>-->
                             <!--<div class="item1">-->
                                 <!--<h5>实验室状态：<span></span></h5>-->
                                 <!--<span class="data">在用</span>-->
                             <!--</div>-->
                             <!--<div class="item2">-->
                                 <!--<h5>台位负荷：<span></span></h5>-->
                                 <!--<div class="progress">-->
                                     <!--<div class="progress-bar" role="progressbar" aria-valuenow="84" aria-valuemin="0"-->
                                          <!--aria-valuemax="100" style="width: 84%;height: 100%"></div>-->
                                 <!--</div>-->
                                 <!--<span class="data">80/90</span>-->
                             <!--</div>-->
                             <!--<div class="item3">-->
                                 <!--<h5>月负荷率：<span></span></h5>-->
                                 <!--<div class="progress">-->
                                     <!--<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"-->
                                          <!--aria-valuemax="100" style="width: 80%;height: 100%"></div>-->
                                 <!--</div>-->
                                 <!--<span class="data">80/90</span>-->
                             <!--</div>-->
                         <!--</div> &ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;第二行&ndash;&gt;-->
                <!--<div class="l-mid">-->
                    <!--<div class="l-mid-title">-->
                        <!--<h3>设备状态</h3>-->
                    <!--</div>-->
                    <!--<div class="l-mid-header">-->
                        <!--<div class="item1">-->
                            <!--<h5>设备总数：<span></span></h5>-->
                            <!--<span class="data" id="lab_center_id_left_4">0</span>-->
                        <!--</div>-->
                        <!--<div class="item2">-->
                            <!--<h5>当年故障数：<span></span></h5>-->
                            <!--<span class="data" id="lab_center_id_left_6"></span>-->
                        <!--</div>-->
                        <!--<div class="item3">-->
                            <!--<h5>当前完好数：<span></span></h5>-->
                            <!--<span class="data" id="lab_center_id_left_5"></span>-->
                        <!--</div>-->
                        <!--<div class="item4" id="lab_center_id_left_7">-->
                            <!--<h5>当前完好率：<span></span></h5>-->
                            <!--<div class="progress">-->
                                <!--<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"-->
                                     <!--aria-valuemax="100" style="width: 98%;height: 100%"></div>-->
                            <!--</div>-->
                            <!--<span class="data">98%</span>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="l-mid-body" id="center_lab_center_div">-->
                        <!--&lt;!&ndash;  <div class="l-mid-body-1">-->
                             <!--<h4>A室</h4>-->
                             <!--<div class="item4">-->
                                 <!--<h5>设备数：<span></span></h5>-->
                                 <!--<span class="data">12</span>-->
                             <!--</div>-->
                             <!--<div class="item1">-->
                                 <!--<h5>停机时间：<span></span></h5>-->
                                 <!--<span class="data">12小时</span>-->
                             <!--</div>-->
                             <!--<div class="item2">-->
                                 <!--<h5>停机次数：<span></span></h5>-->
                                 <!--<span class="data">4次</span>-->
                             <!--</div>-->
                             <!--<div class="item3">-->
                                 <!--<h5>当前完好率：<span></span></h5>-->
                                 <!--<div class="progress">-->
                                     <!--<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"-->
                                          <!--aria-valuemax="100" style="width: 98%;height: 100%"></div>-->
                                 <!--</div>-->
                                 <!--<span class="data">98%</span>-->
                             <!--</div>-->
                         <!--</div>-->
                         <!--<div class="l-mid-body-2">-->
                             <!--<h4>A室</h4>-->
                             <!--<div class="item4">-->
                                 <!--<h5>设备数：<span></span></h5>-->
                                 <!--<span class="data">12</span>-->
                             <!--</div>-->
                             <!--<div class="item1">-->
                                 <!--<h5>停机时间：<span></span></h5>-->
                                 <!--<span class="data">12小时</span>-->
                             <!--</div>-->
                             <!--<div class="item2">-->
                                 <!--<h5>停机次数：<span></span></h5>-->
                                 <!--<span class="data">4次</span>-->
                             <!--</div>-->
                             <!--<div class="item3">-->
                                 <!--<h5>当前完好率：<span></span></h5>-->
                                 <!--<div class="progress">-->
                                     <!--<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"-->
                                          <!--aria-valuemax="100" style="width: 98%;height: 100%"></div>-->
                                 <!--</div>-->
                                 <!--<span class="data">98%</span>-->
                             <!--</div>-->
                         <!--</div>-->
                         <!--<div class="l-mid-body-3">-->
                             <!--<h4>A室</h4>-->
                             <!--<div class="item4">-->
                                 <!--<h5>设备数：<span></span></h5>-->
                                 <!--<span class="data">12</span>-->
                             <!--</div>-->
                             <!--<div class="item1">-->
                                 <!--<h5>停机时间：<span></span></h5>-->
                                 <!--<span class="data">12小时</span>-->
                             <!--</div>-->
                             <!--<div class="item2">-->
                                 <!--<h5>停机次数：<span></span></h5>-->
                                 <!--<span class="data">4次</span>-->
                             <!--</div>-->
                             <!--<div class="item3">-->
                                 <!--<h5>当前完好率：<span></span></h5>-->
                                 <!--<div class="progress">-->
                                     <!--<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"-->
                                          <!--aria-valuemax="100" style="width: 98%;height: 100%"></div>-->
                                 <!--</div>-->
                                 <!--<span class="data">98%</span>-->
                             <!--</div>-->
                         <!--</div>-->
                         <!--<div class="l-mid-body-4">-->
                             <!--<h4>A室</h4>-->
                             <!--<div class="item4">-->
                                 <!--<h5>设备数：<span></span></h5>-->
                                 <!--<span class="data">12</span>-->
                             <!--</div>-->
                             <!--<div class="item1">-->
                                 <!--<h5>停机时间：<span></span></h5>-->
                                 <!--<span class="data">12小时</span>-->
                             <!--</div>-->
                             <!--<div class="item2">-->
                                 <!--<h5>停机次数：<span></span></h5>-->
                                 <!--<span class="data">4次</span>-->
                             <!--</div>-->
                             <!--<div class="item3">-->
                                 <!--<h5>当前完好率：<span></span></h5>-->
                                 <!--<div class="progress">-->
                                     <!--<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"-->
                                          <!--aria-valuemax="100" style="width: 98%;height: 100%"></div>-->
                                 <!--</div>-->
                                 <!--<span class="data">98%</span>-->
                             <!--</div>-->
                         <!--</div>-->
                         <!--<div class="l-mid-body-5">-->
                             <!--<h4>A室</h4>-->
                             <!--<div class="item4">-->
                                 <!--<h5>设备数：<span></span></h5>-->
                                 <!--<span class="data">12</span>-->
                             <!--</div>-->
                             <!--<div class="item1">-->
                                 <!--<h5>停机时间：<span></span></h5>-->
                                 <!--<span class="data">12小时</span>-->
                             <!--</div>-->
                             <!--<div class="item2">-->
                                 <!--<h5>停机次数：<span></span></h5>-->
                                 <!--<span class="data">4次</span>-->
                             <!--</div>-->
                             <!--<div class="item3">-->
                                 <!--<h5>当前完好率：<span></span></h5>-->
                                 <!--<div class="progress">-->
                                     <!--<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"-->
                                          <!--aria-valuemax="100" style="width: 98%;height: 100%"></div>-->
                                 <!--</div>-->
                                 <!--<span class="data">98%</span>-->
                             <!--</div>-->
                         <!--</div> &ndash;&gt;-->
                    <!--</div>-->

                <!--</div>-->
                <!--&lt;!&ndash;第三行&ndash;&gt;-->
                <!--<div class="l-bottom">-->
                    <!--<div class="l-bottom-title">-->
                        <!--<h3>订单状态</h3>-->
                    <!--</div>-->
                    <!--<div class="l-bottom-header">-->
                        <!--<div class="item1">-->
                            <!--<h5>已测订单数：<span></span></h5>-->
                            <!--<span class="data" id="lab_center_id_left_8"></span>-->
                        <!--</div>-->
                        <!--<div class="item1">-->
                            <!--<h5>在测订单数：<span></span></h5>-->
                            <!--<span class="data" id="lab_center_id_left_9"></span>-->
                        <!--</div>-->
                        <!--<div class="item1">-->
                            <!--<h5>待测订单数：<span></span></h5>-->
                            <!--<span class="data" id="lab_center_id_left_10"></span>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="l-bottom-body" id="center_lab_bottom_div">-->
                        <!--&lt;!&ndash;  <div class="l-bottom-body-1">-->
                             <!--<h4>A室</h4>-->
                             <!--<div class="item1">-->
                                 <!--<h5>已测订单数：<span></span></h5>-->
                                 <!--<span class="data"><strong>412</strong></span>-->
                             <!--</div>-->
                             <!--<div class="item1">-->
                                 <!--<h5>在测订单数：<span></span></h5>-->
                                 <!--<span class="data"><strong>284</strong></span>-->
                             <!--</div>-->
                             <!--<div class="item1">-->
                                 <!--<h5>待测订单数：<span></span></h5>-->
                                 <!--<span class="data"><strong>437</strong></span>-->
                             <!--</div>-->
                         <!--</div>-->
                         <!--<div class="l-bottom-body-2">-->
                             <!--<h4>A室</h4>-->
                             <!--<div class="item1">-->
                                 <!--<h5>已测订单数：<span></span></h5>-->
                                 <!--<span class="data"><strong>412</strong></span>-->
                             <!--</div>-->
                             <!--<div class="item1">-->
                                 <!--<h5>在测订单数：<span></span></h5>-->
                                 <!--<span class="data"><strong>284</strong></span>-->
                             <!--</div>-->
                             <!--<div class="item1">-->
                                 <!--<h5>待测订单数：<span></span></h5>-->
                                 <!--<span class="data"><strong>437</strong></span>-->
                             <!--</div>-->
                         <!--</div>-->
                         <!--<div class="l-bottom-body-3">-->
                             <!--<h4>A室</h4>-->
                             <!--<div class="item1">-->
                                 <!--<h5>已测订单数：<span></span></h5>-->
                                 <!--<span class="data"><strong>412</strong></span>-->
                             <!--</div>-->
                             <!--<div class="item1">-->
                                 <!--<h5>在测订单数：<span></span></h5>-->
                                 <!--<span class="data"><strong>284</strong></span>-->
                             <!--</div>-->
                             <!--<div class="item1">-->
                                 <!--<h5>待测订单数：<span></span></h5>-->
                                 <!--<span class="data"><strong>437</strong></span>-->
                             <!--</div>-->
                         <!--</div>-->
                         <!--<div class="l-bottom-body-4">-->
                             <!--<h4>A室</h4>-->
                             <!--<div class="item1">-->
                                 <!--<h5>已测订单数：<span></span></h5>-->
                                 <!--<span class="data"><strong>412</strong></span>-->
                             <!--</div>-->
                             <!--<div class="item1">-->
                                 <!--<h5>在测订单数：<span></span></h5>-->
                                 <!--<span class="data"><strong>284</strong></span>-->
                             <!--</div>-->
                             <!--<div class="item1">-->
                                 <!--<h5>待测订单数：<span></span></h5>-->
                                 <!--<span class="data"><strong>437</strong></span>-->
                             <!--</div>-->
                         <!--</div>-->
                         <!--<div class="l-bottom-body-5">-->
                             <!--<h4>A室</h4>-->
                             <!--<div class="item1">-->
                                 <!--<h5>已测订单数：<span></span></h5>-->
                                 <!--<span class="data"><strong>412</strong></span>-->
                             <!--</div>-->
                             <!--<div class="item1">-->
                                 <!--<h5>在测订单数：<span></span></h5>-->
                                 <!--<span class="data"><strong>284</strong></span>-->
                             <!--</div>-->
                             <!--<div class="item1">-->
                                 <!--<h5>待测订单数：<span></span></h5>-->
                                 <!--<span class="data"><strong>437</strong></span>-->
                             <!--</div>-->
                         <!--</div> &ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash;数据分析&ndash;&gt;-->
        <!--<div class="labMain_cb_left  zhbr_analysis">-->
            <!--<h3 class="lab_title">数据分析</h3>-->
            <!--<div class="lab_main">-->

                <!--<div class="la_top">-->
                    <!--<div class="la_data_left">-->
                        <!--<h3>一次合格率</h3>-->
                        <!--<div class="la_datal_content clearfloat">-->
                            <!--<div class="la_datal_legend">-->
                                <!--<ul>-->
                                    <!--<li id="hg_rate_center_lab_pj"></li>-->
                                    <!--<li id="hg_rate_center_lab_height"></li>-->
                                    <!--<li id="hg_rate_center_lab_low"></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<div class="la_data_left_data">-->
                                <!--<div class="la_data_echart" id="echart_one">-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="la_data_right">-->
                        <!--<p>近12个月一次合格率趋势图</p>-->
                        <!--<div class="right_echart" id="echart_two"></div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;center&ndash;&gt;-->
                <!--<div class="la_center">-->
                    <!--<div class="la_data_left">-->
                        <!--<h3>订单及时率</h3>-->
                        <!--<div class="la_datal_content clearfloat">-->
                            <!--<div class="la_datal_legend">-->
                                <!--<ul>-->
                                    <!--<li id="order_rate_center_lab_pj"></li>-->
                                    <!--<li id="order_rate_center_lab_height"></li>-->
                                    <!--<li id="order_rate_center_lab_low"></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<div class="la_data_left_data">-->
                                <!--<div class="la_data_echart" id="echart_three">-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="la_data_right">-->
                        <!--<p>近12个月订单及时率趋势图</p>-->
                        <!--<div class="right_echart" id="echart_four"></div>-->
                    <!--</div>-->
                <!--</div>&lt;!&ndash;center&ndash;&gt;-->
                <!--<div class="la_bottom">-->

                    <!--<div class="la_data_left">-->
                        <!--<h3>用户满意度</h3>-->
                        <!--<div class="la_datal_content clearfloat">-->
                            <!--<div class="la_datal_legend">-->
                                <!--<ul>-->
                                    <!--<li id="satisfaction_rate_center_lab_pj"></li>-->
                                    <!--<li id="satisfaction_rate_center_lab_height"></li>-->
                                    <!--<li id="satisfaction_rate_center_lab_low"></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<div class="la_data_left_data">-->
                                <!--<div class="la_data_echart" id="echart_five">-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="la_data_right">-->
                        <!--<p>近12个月用户满意度趋势图</p>-->
                        <!--<div class="right_echart" id="echart_six"></div>-->
                    <!--</div>-->
                <!--</div>&lt;!&ndash;la_bottom&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->

        <!--视频监控和曲线-->
        <div class="labMain_cb_left">
            <!--结构不要改呦-->
            <h3 class="lab_title shishijiance">实时监测</h3>
            <div class="shishi_left">
                <!--<div class="sheshi_tab">视频监控</div>-->
                <div class="sheshi_tab sheshi_tab_active sheshi_tab_lines">曲线监控</div>
                <div class="sheshi_tab_list">
                    <ul id="lab_unit_selected_center_world">

                        <!--  <li><span></span><a href="#">实验室1</a>
                             <ul class="taiwei_hide">
                                 <li>台位A3</li>
                                 <li>台位A3</li>
                                 <li>台位A3</li>
                                 <li>台位A3</li>
                                 <li>台位A3</li>
                                 <li>台位A3</li>
                             </ul>

                         </li>

                         <li><span></span><a href="#">实验室1</a>
                             <ul class="taiwei_hide">
                                 <li>台位A3</li>
                                 <li>台位A3</li>
                                 <li>台位A3</li>
                                 <li>台位A3</li>
                                 <li>台位A3</li>
                                 <li>台位A3</li>
                             </ul>
                         </li>
                         <li><span></span><a href="#">实验室1</a>
                             <ul class="taiwei_hide">
                                 <li>台位A3</li>
                                 <li>台位A3</li>
                                 <li>台位A3</li>
                                 <li>台位A3</li>
                                 <li>台位A3</li>
                                 <li>台位A3</li>
                             </ul>
                         </li> -->
                    </ul>
                </div>
            </div>
            <div class="shishi_right shishi_right_show">
                <div class='sheshi_right_top'>
                    <ul>
                      <li>试验编号：<span id="center_sybh_id_world"></span></li>
                        <li>样品编号：<span id="center_ypbm_id_world"></span></li>
                        <li>产品型号：<span id="center_cpxh_id_world"></span></li>
                        <li>试验项目：<span id="center_testPro_id_world"></span></li>
                    </ul>
                </div>
                <div class="sheshi_right_left">
                    <div id="main1_world"></div>
                    <div id="main2_world"></div>
                    <div class="message_box">
                        <div>该台位未开测</div>
                    </div>
                </div>

                <div class="sheshi_right_right">
                    <ul id="legend_ul_world">
                    </ul>
                </div>
            </div>
            <div class="shishi_right">
                <div class="video_box">
                    <iframe src="" frameborder="0" width="100%"
                            height="100%"></iframe>
                </div>
            </div>
        </div>


        <!--labMain_cb_left-->
        <div class="labMain_cb_right">
            <div class="labMain_cbr_tab labMain_cbr_three">
                <h3 class="lab_one_title">实施监测</h3>
                <div class="labMain_cbro_ul">
                    <ul>
                        <li><span></span></li>
                        <li><span class="li_bg li_bg_08"></span><a>曲线监控</a></li>
                        <li><span></span></li>
                    </ul>
                </div><!--labMain_cbro_ul-->

                <div class="labMain_cbro_content">
                    <div></div>

                </div><!--labMain_cbr_content-->

            </div><!--labMain_cbr_three-->
            <div class="labMain_cbr_tabdemo labMain_cbr_onedemo">
            </div><!--labMain_cbr_one-->
            <div class="labMain_cbr_tabdemo labMain_cbr_twodemo">
            </div><!--labMain_cbr_two-->

        </div>
        <!--labMain_cb_right-->

    </div><!--content_bottom-->

</div><!--content-->

</body>
</html>

<!--<script src="../static/asserts/js/jquery-2.2.4.js"></script>-->
<!--<script src="../static/asserts/echarts/echarts-3.5.2.js"></script>-->
<!--<script src="../static/js/manyEcharts.js"></script>-->
<!--<script src="../static/asserts/js/bootstrap.min.js"></script>-->
<script src="../static/js/centerLabWorld.js"></script>
<script>
    var bodyScale = 1;//原始比例1
    $(document).ready(function (e) {
        resetDataCenterLabWorld();
        $(".labMain_cbr_tab").click(function () {
//            $(this).addClass("active_right").siblings().removeClass("active_right");
            // 3. 获取到当前菜单的索引号
            var index = $(this).index() + 1;
            // 4. 通过索引号对应关系 让这个索引号对应的内容展示出来
            //.selected display:flex
            $(".labMain_content_country .labMain_cb_left:eq(" + index + ")").addClass("labMain_cb_left_show").siblings().removeClass("labMain_cb_left_show");
            echartsResizeWorld();
        });
    });
function echartsResizeWorld() {
    	myChartWorld1.resize();
    	myChartWorld2.resize();
    }
</script>
<script>
    $(function () {
        //中心实验室顶上的“返回总状态”和“中海博睿实验室”两个按钮
        var $labMain_ct_btn = $(".labMain_content_country .labMain_ct_btn");
        $labMain_ct_btn.eq(0).hover(function () {
            $(this).css("color", "#069").find(".icon").css("background-image", "url(${contextPath!}/static/img/labMain/labMain_toTotalStatus_active.png)")
        }, function () {
            $(this).css("color", "#64ccff").find(".icon").css("background-image", "url(${contextPath!}/static/img/labMain/labMain_toTotalStatus.png)")
        }).click(function () {
            $(".labMain_content_country").hide();
            $("#r").show();
            var $li = $(".left3x3").find(".flat-footer .legend ul.legend-bottom li");
            $li.removeClass("active").each(function () {
                bgImgOff($(this))
            })
        });
        $labMain_ct_btn.eq(1).hover(function () {
            $(this).css("color", "#069").find(".icon").css("background-image", "url(${contextPath!}/static/img/labMain/home_active.png)")
        }, function () {
            $(this).css("color", "#64ccff").find(".icon").css("background-image", "url(${contextPath!}/static/img/labMain/home.png)")
        }).click(function () {
            $(".zhbr_lab").addClass("labMain_cb_left_show").siblings().removeClass("labMain_cb_left_show");
        })
    })
</script>
