<head>
    <link rel="stylesheet" href="${contextPath!}/static/css/cover.css">
    <style>
        header {
            /* height: 10%; */
            background: url(../../../static/img/labMain/labtitle_bg.png) no-repeat;
            background-size: 100% 100%;
            position: relative;
        }
        .lab_head h2 {
            font-size: 2.6em;
            letter-spacing: .05em;
            color: #66CCFE;
            text-align: center;
            line-height: 2em;
        }
    </style>
</head>
<div id="cover" style="display: flex;">
    <header class="lab_head">
        <h2 id="labName_world">检测中心</h2>
        <div class="btn-totalStatus">
            <div class="icon"></div>
            <span>返回总状态</span>
        </div>
    </header>
</div>
<script src="${contextPath!}/static/js/cover.js"></script>
<script>

</script>
