<head>
    <link rel="stylesheet" href="${contextPath!}/static/css/cover.css">
    <style>

    </style>
</head>
<div id="cover" style="display: flex;">
    <header class="cover-head">
        <h2><span class="bg"></span><span class="text"> 全球实验室运营状态实时监控</span><span class="bg"></span></h2>
    </header>
    <div class="switchBox">
        <div class="statusCover">
            <div class="top">
                <div class="top-1">
                    <div class="box">
                        <h4>实验室在线率</h4>
                        <div class="number"><span class='value'></span>
                            <div class="level best">
                                <span class="circle"></span>
                                <span class="text">优</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="top-2">
                    <div class="box">
                        <h4>设备完好率</h4>
                        <div class="number"><span class='value'></span>
                            <div class="level good">
                                <span class="circle"></span>
                                <span class="text">良</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="top-3">
                    <div class="box">
                        <h4>设备负荷率</h4>
                        <div class="number"><span class='value'></span>
                            <div class="level bad">
                                <span class="circle"></span>
                                <span class="text">差</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="bottom-1">
                    <div class="box">
                        <h4>在线检测订单量</h4>
                        <div class="number"><span class='value'></span>
                            <div class="level best">
                                <span class="circle"></span>
                                <span class="text">优</span>
                            </div>
                        </div>
                        <div class="YoY">同比：
                            <span class="value"></span>%
                        </div>
                    </div>
                </div>
                <div class="bottom-2">
                    <div class="box">
                        <h4>订单及时率</h4>
                        <div class="number"><span class='value'></span>
                            <div class="level best">
                                <span class="circle"></span>
                                <span class="text">优</span>
                            </div>
                        </div>
                        <div class="YoY">同比：
                            <span class="value"></span>%
                        </div>
                    </div>
                </div>
                <div class="bottom-3">
                    <div class="box">
                        <h4>问题闭环率</h4>
                        <div class="number"><span class='value'></span>
                            <div class="level best">
                                <span class="circle"></span>
                                <span class="text">优</span>
                            </div>
                        </div>
                        <div class="YoY">同比：
                            <span class="value"></span>%
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="deviceLoad" style="display: none;">
            <span class="btn-back">
                <span class="icon"></span>
                <!--<span>返回总状态</span>-->
            </span>
            <div class="deviceLoad-l">
                <div class="viewAll">
                    <h4>设备负荷率</h4>
                    <table>
                        <tbody>
                        <tr>
                            <td class="name">检测中心</td>
                            <td class="barBox"><span class="bar"><span class="fill"></span></span></td>
                            <td class="value">95.2%</td>
                            <td class="YoY up">同比：<span>1.3%</span></td>
                        </tr>
                        <tr>
                            <td class="name">检测中心</td>
                            <td class="barBox"><span class="bar"><span class="fill"></span></span></td>
                            <td class="value">95.2%</td>
                            <td class="YoY down">同比：<span>1.3%</span></td>
                        </tr>
                        <tr>
                            <td class="name">检测中心</td>
                            <td class="barBox"><span class="bar"><span class="fill"></span></span></td>
                            <td class="value">95.2%</td>
                            <td class="YoY up">同比：<span>1.3%</span></td>
                        </tr>
                        <tr>
                            <td class="name">检测中心</td>
                            <td class="barBox"><span class="bar"><span class="fill"></span></span></td>
                            <td class="value">95.2%</td>
                            <td class="YoY down">同比：<span>1.3%</span></td>
                        </tr>
                        <tr>
                            <td class="name">检测中心</td>
                            <td class="barBox"><span class="bar"><span class="fill"></span></span></td>
                            <td class="value">95.2%</td>
                            <td class="YoY up">同比：<span>1.3%</span></td>
                        </tr>
                        <tr>
                            <td class="name">检测中心</td>
                            <td class="barBox"><span class="bar"><span class="fill"></span></span></td>
                            <td class="value">95.2%</td>
                            <td class="YoY up">同比：<span>1.3%</span></td>
                        </tr>
                        <tr>
                            <td class="name">检测中心</td>
                            <td class="barBox"><span class="bar"><span class="fill"></span></span></td>
                            <td class="value">95.2%</td>
                            <td class="YoY up">同比：<span>1.3%</span></td>
                        </tr>
                        <tr>
                            <td class="name">检测中心</td>
                            <td class="barBox"><span class="bar"><span class="fill"></span></span></td>
                            <td class="value">95.2%</td>
                            <td class="YoY up">同比：<span>1.3%</span></td>
                        </tr>
                        <tr>
                            <td class="name">检测中心</td>
                            <td class="barBox"><span class="bar"><span class="fill"></span></span></td>
                            <td class="value">95.2%</td>
                            <td class="YoY up">同比：<span>1.3%</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="deviceLoad-r">
                <div class="detail">
                    <h4>负荷率低于80%的设备明细</h4>
                    <table>
                        <tr>
                            <th>产线或平台</th>
                            <th>实验室类型</th>
                            <th>实验室设备名称</th>
                            <th>当月负荷率</th>
                        </tr>
                    </table>
                    <div class="scrollBoard">
                        <table>
                            <tr>
                                <td class="name">冰冷</td>
                                <td class="type">整机</td>
                                <td class="deviceName">贵州冰箱噪音室</td>
                                <td class="value">60%</td>
                            </tr>
                            <tr>
                                <td class="name">冰冷</td>
                                <td class="type">整机</td>
                                <td class="deviceName">贵州冰箱噪音室</td>
                                <td class="value">60%</td>
                            </tr>
                            <tr>
                                <td class="name">冰冷</td>
                                <td class="type">整机</td>
                                <td class="deviceName">贵州冰箱噪音室</td>
                                <td class="value">60%</td>
                            </tr>
                            <tr>
                                <td class="name">冰冷</td>
                                <td class="type">整机</td>
                                <td class="deviceName">贵州冰箱噪音室</td>
                                <td class="value">60%</td>
                            </tr>
                            <tr>
                                <td class="name">冰冷</td>
                                <td class="type">整机</td>
                                <td class="deviceName">贵州冰箱噪音室</td>
                                <td class="value">60%</td>
                            </tr>
                            <tr>
                                <td class="name">冰冷</td>
                                <td class="type">整机</td>
                                <td class="deviceName">贵州冰箱噪音室</td>
                                <td class="value">60%</td>
                            </tr>
                            <tr>
                                <td class="name">冰冷</td>
                                <td class="type">整机</td>
                                <td class="deviceName">贵州冰箱噪音室</td>
                                <td class="value">60%</td>
                            </tr>
                            <tr>
                                <td class="name">冰冷</td>
                                <td class="type">整机</td>
                                <td class="deviceName">贵州冰箱噪音室</td>
                                <td class="value">60%</td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<script src="${contextPath!}/static/js/cover.js"></script>
<script>

var isRandom=false;//是否是随机订单
var orderNums=6;//如果是true每分钟上限6个订单，否则固定orderNums个
var dataSecond=[];
var mInterval;
var num=0;
$(function(){
	//alert(randomNumber(orderNums));
	start();
	//incrementNumber()
});
//启动订单模拟器
function start(){
	createArr();
	mInterval=setInterval(mIncreaseFunction,1000);
}
//操作数据库
function incrementNumber(num){
	$.post(contextPath + '/lab/getDingdan', {num:num}, function (data) {
		var rateMax =data[0].num;
        var rate = data[data.length-1].num;
        var change = (parseFloat(rateMax) - parseFloat(rate)).toFixed(1);
        var bilv=(change*100/parseFloat(rateMax)).toFixed(1)
		$(".bottom-1 .value").text(rateMax);
		 $(".bottom-1 .YoY .value").text(bilv);
		 if (parseFloat(change) > 0) {
            $(".bottom-1 .YoY").addClass("up");
         } else {
         	$(".bottom-1 .YoY").addClass("down");
         }
	    
	})
}
//自增处理
function mIncreaseFunction(){
	if(num<60){
         if(parseInt(dataSecond[num])>0){
        	 incrementNumber(parseInt(dataSecond[num]));
         }
		num++;
	}else{
		clearInterval(mInterval);
		num=0;
		start();
	}
};
//生成数组
function createArr(){
	dataSecond=[];
	for(var x=0;x<60;x++){
		dataSecond[x]=0;
	};
	for(var x=0;x<parseInt(randomNumber(orderNums));x++){
		dealIndex();
	}
	// console.log(dataSecond)
} 
function dealIndex(){
	var x=parseInt(59*Math.random());
	if(dataSecond[x]>0){
		dealIndex();
	}else{
		dataSecond[x]=1;
	}
}
//随机数字
function randomNumber(range){
	range=parseInt(range);
	var x=parseInt(range/10);
	var y=parseInt(range)%10;
	if(isRandom){
		return parseInt(y*Math.random())+x*10;
	}else{
		return orderNums;
	}
	
}

</script>
