<!doctype html>
<html lang="zh-CN" style="opacity: 0;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>海尔全球实验室</title>
    <link rel="stylesheet" href="${contextPath!}/static/css/hallMap.css">
    <script src="${contextPath!}/static/asserts/js/jquery-2.2.4.js"></script>
    <script>
        let [pageH, pageW] = [$(window).height(), $(window).width()];
        let bodyScale = pageH / 637;
        let htmlFontSize = bodyScale * 100 + "%";
        $(function () {
            pageResize();
        });

        function pageResize() {
            $("html").css("font-size", htmlFontSize).css("opacity", 1);
            $("#myContainer").css("width", pageH * 16 / 9);
            console.log("~~~~~~~~~窗口高度：" + pageH + ",\n宽度:" + pageW + " \nbody字号：" + htmlFontSize)
        }
    </script>
</head>
<body id="hallMap styleIn7x3">
<div id="myContainer">
    <header>
        <span class="mainLogo"></span>
        <h1><a href="${contextPath!}/phm" target="_top">全球实验室</a></h1>
        <h1>Haier Global Labs</h1>
    </header>
    <div id="container">
        <div class="left">
            <div class="left-top">
                <div class="box distribution">
                    <h3>全球实验室分布</h3>
                    <div class="totalNum"><span><strong>5</strong>大洲</span>
                        <span><strong>18</strong>个国家</span>
                    </div>
                    <ul>
                        <li><strong>10</strong>大研发中心</li>
                        <li><strong>23</strong>个工业园区</li>
                        <li><strong>108</strong>个工厂</li>
                    </ul>
                </div>
            </div>
            <div class="left-bottom">
                <div class="box test">
                    <h3>全流程测试指标监控(月)</h3>
                    <table>
                        <thead>
                        <tr>
                            <th>测试类别</th>
                            <th>订单量</th>
                            <th>通过率</th>
                        </tr>
                        </thead>
                        <tbody id="mine_tbody_order">
                        <!-- <tr>
                            <td>研发调试</td>
                            <td>3576</td>
                            <td>68.3%</td>
                        </tr>
                        <tr>
                            <td>新品认证</td>
                            <td>3969</td>
                            <td>93.0%</td>
                        </tr>
                        <tr>
                            <td>量产测试</td>
                            <td>3734</td>
                            <td>96.7%</td>
                        </tr>
                        <tr>
                            <td>监督抽查</td>
                            <td>383</td>
                            <td>100%</td>
                        </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="mid">
            <div class="mapBox">
                <iframe id="iframeFlat" name="iframeFlat" src="${contextPath!}/lab/flatMap?hallMap"
                        frameborder="0"></iframe>
                <div class="flatMapCtr" style="">
                    <div class="legend">
                        <div class="legend-l btn">
                            <div class="text">产线</div>
                        </div>
                        <div class="legend-m">
                            <div class="selectAll">
                                <input id="selectAll" type="checkbox" checked hidden>
                                <label for="selectAll">全选</label>
                            </div>
                            <div class="text">
                                <ul class="active">
                                    <li><a href>研发中心</a></li>
                                    <li><a href>检测中心</a></li>
                                    <li><a href>制造工厂</a></li>
                                    <!--<li><a href>模块商</a></li>-->
                                </ul>
                                <ul>
                                    <li><a href>冰冷</a></li>
                                    <li><a href>洗涤</a></li>
                                   <!--  <li><a href>检测中心</a></li> -->
                                    <li><a href>家空</a></li>
                                    <li><a href>商空</a></li>
                                    <li><a href>热水器</a></li>
                                    <li><a href>厨电</a></li>
                                    <li><a href>其它</a></li>
                                       
                                </ul>
                            </div>
                        </div>
                        <div class="legend-r btn active">
                            <div class="text">实验室</div>
                        </div>
                        <div class="legend-b toLabData">
                            <div class="text">进入实验室 &gt;&gt;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="right-top">
                <div class="box interconnection">
                    <h3>全球实验室互联</h3>
                    <table>
                        <thead>
                        <tr>
                            <th></th>
                            <th>实验室数</th>
                            <th>在线互联数</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>海尔全球：</td>
                            <td>882</td>
                            <td>509</td>
                        </tr>
                        <tr>
                            <td>研发中心：</td>
                            <td>405</td>
                            <td>195</td>
                        </tr>
                        <tr>
                            <td>检测中心：</td>
                            <td>57</td>
                            <td>48</td>
                        </tr>
                        <tr>
                            <td>制造工厂：</td>
                            <td>262</td>
                            <td>180</td>
                        </tr>
                        <tr>
                            <td>模块商：</td>
                            <td>158</td>
                            <td>86</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="right-bottom">
                <div class="box management">
                    <h3>实验室管理指标监控(月)</h3>
                    <ul>
                        <li>
                            <div>
                            <strong>91.5%</strong><br>
                                <div class="disc">实验室资源合格率</div>
                            </div>
                        </li>
                        <li>
                            <div>
                            <strong>93.0%</strong><br>
                                <div class="disc">人员资源<br>合格率</div>
                            </div>
                        </li>
                        <li>
                            <div>
                            <strong>96%</strong><br>
                                <div class="disc">设备完好率</div>
                            </div>
                        </li>
                        <li>
                            <div>
                            <strong>97.2%</strong><br>
                                <div class="disc">订单及时率</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <footer class="textBox">
        <div class="text">
            <p>全球实验室已实现互联互通，可随时随地查看过程和结果数据，并最终形成检测大数据库；合作的30多个国际认证机构如UL、VDE、TUV等可实现全球国际认证检测数据的互认，无需运送到国外测试；除认证测试外，更多的是进行各种模拟用户的体验测试，以用户的标准评价产品。
        </div>
    </footer>

</div>
<script src="${contextPath!}/static/js/hallMap.js"></script>
<script type="text/javascript">
$(function(){
	loadOrderNumsAjax();
});
function loadOrderNumsAjax() {
    $.post("${contextPath!}/lab/orderNumsAjax", function (data) {
       //console.log(data)
       var htmls=[];
       $.each(data,function(index,item){
    	   htmls.push('<tr><td>'+item.name+'</td><td id="m_td_order_'+item.id+'">'+item.nums+'</td><td>'+item.rate+'%</td></tr>');
       });
   	   changeData(data);
       $("#mine_tbody_order").html(htmls.join(''));
       
    });

}
function changeData(data){
	if(judgeChange()){
		//开启调度
		mData=data;
		setInterval(interValFun, parseInt(data[0].times));
	}
};
var indexs=0;
var mData;
function interValFun(){
	$.each(mData,function(index,item){
		var arr=item.interval.split(",");
		var change=arr[indexs%10];
		if(parseInt(change)>0){
			$("#m_td_order_"+item.id).html(parseInt($("#m_td_order_"+item.id).html())+parseInt(change));
			//更新数据
			updateOrderNumsAjax(item.id,change);
		}
	});
	indexs++;
}
//更新数据
function updateOrderNumsAjax(id,change) {
    $.post("${contextPath!}/lab/updateOrderNumsAjax",{"change":change,"id":id}, function (data) {
       console.log("更新成功");
    });

}
//判断时间范围
function time_range(beginTime, endTime, nowTime) {
	var strb = beginTime.split(":");
	if (strb.length != 2) {
		return false;
	}
	var stre = endTime.split(":");
	if (stre.length != 2) {
		return false;
	}

	var strn = nowTime.split(":");
	if (stre.length != 2) {
		return false;
	}
	var b = new Date();
	var e = new Date();
	var n = new Date();

	b.setHours(strb[0]);
	b.setMinutes(strb[1]);
	e.setHours(stre[0]);
	e.setMinutes(stre[1]);
	n.setHours(strn[0]);
	n.setMinutes(strn[1]);

	if (n.getTime() - b.getTime() > 0 && n.getTime() - e.getTime() < 0) {
		return true;
	} else {
		return false;
	}
}
//判断当前时间是否需要变化数字
function judgeChange(){
	var n = new Date ();
	var now= n.getHours() + ":" + n.getMinutes();
	if(time_range("00:00", "9:00",now)||time_range("12:30", "13:30",now)||time_range("17:00", "24:00",now)){
		return false;
	};
	if(time_range("9:00", "12:30",now)||time_range("13:30", "17:00",now)){
		return true;
	};
	
};

</script>
</body>
</html>