## layout("ulab.html",{title:"U-lab全球互联数据中心"}){
<html lang="zh-CN">
<link rel="stylesheet" href="${contextPath!}/static/asserts/css/bootstrap.min.css">
<link rel="stylesheet" href="${contextPath!}/static/css/common.css">
<link rel="stylesheet" href="${contextPath!}/static/css/index_left.css">
<link rel="stylesheet" href="${contextPath!}/static/css/index_right.css">
<!--<link rel="stylesheet" href="${contextPath!}/static/css/fullScreen_map.css">-->
<!--<script src="${contextPath!}/static/asserts/js/jquery-2.2.4.js"></script>-->
<script src="${contextPath!}/static/asserts/js/bootstrap.min.js"></script>
<script src="${contextPath!}/static/asserts/echarts/echarts-3.5.2.js"></script>
<script src="${contextPath!}/static/js/manyEcharts.js?time=New Date()"></script>
<script src="${contextPath!}/static/js/common.js?time=New Date()"></script>
<script src="${contextPath!}/static/asserts/echarts/wordcloudFromNet.js?time=New Date()"></script>
 
<body>

<div id="content" class="contai">
<script>
    pageResize();
</script>

     ##layout("left.html", {}){
	 ##}


    ##layout("right.html", {}){
    ##}


     ##layout("centerLab.html", {}){
     ##}

     ##layout("centerLabWorld.html", {}){
	 ##}

</div>
</body>
</html>
##}

<script>

    $(function () {
        //这里是为了方便测试的模拟事件代码，正式使用时请蔽掉
//        $("#l").find(".flat-footer .legend ul.legend-bottom li a").click()
//        $("#r .box:eq(0)").addClass("selected").siblings().removeClass("selected");
//        resetSizeRight();
    })


</script>