<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>中海博睿实验室</title>
    <link rel="stylesheet" href="../static/asserts/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/labMain.css">
    <link rel="stylesheet" type="text/css" href="../static/css/labAnalysis.css">
</head>
<body>
<div class="labMain_content">
    <div class="labMain_content_top">
        <h1>中海博睿介绍</h1>
        <div class="labMain_ct_btn">
            <p><img src="${contextPath!}/static/img/labMain/home.png"></p>
            <h3>中海博睿实验室</h3>
        </div>
        <div>
        </div><!--labMain_content_top-->
    </div>
    <!--content_top-->
    <div class="labMain_content_bottom">
        <div class="labMain_cb_left">
            <h3 class="lab_title">数据分析</h3>
            <div class="lab_main">

                <div class="la_top">
                    <div class="la_data_left">
                        <h3>一次合格率</h3>
                        <div class="la_datal_content clearfloat">
                            <div class="la_datal_legend">
                                <ul>
                                    <li>平均:95%</li>
                                    <li>最高:100% (5月)</li>
                                    <li>最低:85% (7月)</li>
                                </ul>
                            </div>
                            <div class="la_data_left_data">
                                <div class="la_data_echart" id="echart_one">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="la_data_right">
                        <p>近12个月一次合格率趋势图</p>
                        <div class="right_echart" id="echart_two"></div>
                    </div>
                </div>
                <!--center-->
                <div class="la_center">
                    <div class="la_data_left">
                        <h3>订单及时率</h3>
                        <div class="la_datal_content clearfloat">
                            <div class="la_datal_legend">
                                <ul>
                                    <li>平均:95%</li>
                                    <li>最高:100% (5月)</li>
                                    <li>最低:85% (7月)</li>
                                </ul>
                            </div>
                            <div class="la_data_left_data">
                                <div class="la_data_echart" id="echart_three">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="la_data_right">
                        <p>近12个月订单及时率趋势图</p>
                        <div class="right_echart" id="echart_four"></div>
                    </div>
                </div><!--center-->
                <div class="la_bottom">


                    <div class="la_data_left">
                        <h3>用户满意度</h3>
                        <div class="la_datal_content clearfloat">
                            <div class="la_datal_legend">
                                <ul>
                                    <li>平均:95%</li>
                                    <li>最高:100% (5月)</li>
                                    <li>最低:85% (7月)</li>
                                </ul>
                            </div>
                            <div class="la_data_left_data">
                                <div class="la_data_echart" id="echart_five">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="la_data_right">
                        <p>近12个月用户满意度趋势图</p>
                        <div class="right_echart" id="echart_six"></div>
                    </div>
                </div><!--la_bottom-->
            </div>
        </div>
        <!--labMain_cb_left-->
        <div class="labMain_cb_right">
            <div class="labMain_cbr_one">
                <h3 class="lab_one_title">运营状态</h3>
                <div class="labMain_cbro_ul">
                    <ul>
                        <li><span class="li_bg li_bg_01"></span><a>实验室状态</a></li>
                        <li><span class="li_bg li_bg_02"></span><a>设备状态</a></li>
                        <li><span class="li_bg li_bg_03"></span><a>订单状态</a></li>
                    </ul>
                </div>
                <!--labMain_cbro_ul-->
                <div class="labMain_cbro_content">
                    qqqqqq
                </div>
                <!--labMain_cbr_content-->
            </div>
            <!--labMain_cbr_one-->
            <div class="labMain_cbr_two">
                <h3 class="lab_one_title">数据分析</h3>
                <div class="labMain_cbro_ul">
                    <ul>
                        <li><span class="li_bg li_bg_04"></span><a>一次合格率</a></li>
                        <li><span class="li_bg li_bg_05"></span><a>订单及时率</a></li>
                        <li><span class="li_bg li_bg_06"></span><a>用户满意度</a></li>
                    </ul>
                </div>
                <!--labMain_cbro_ul-->
                <div class="labMain_cbro_content"> content</div>
                <!--labMain_cbr_content-->
            </div>
            <!--labMain_cbr_two-->
            <div class="labMain_cbr_three">
                <h3 class="lab_one_title">实时监测</h3>
                <div class="labMain_cbro_ul">
                    <ul>
                        <li><span></span></li>
                        <li><span class="li_bg li_bg_07"></span><a>视频监控</a></li>
                        <li><span class="li_bg li_bg_08"></span><a>曲线监控</a></li>
                    </ul>
                </div>
                <!--labMain_cbro_ul-->
                <div class="labMain_cbro_content"> content</div>
                <!--labMain_cbr_content-->
            </div>
            <!--labMain_cbr_three-->
        </div>
        <!--labMain_cb_right-->
    </div>
    <!--content_bottom-->
</div>
<!--content-->
</body>
</html>
<script src="../static/asserts/js/jquery-2.2.4.js"></script>
<script src="../static/asserts/echarts/echarts-3.5.2.js"></script>
<script src="../static/js/manyEcharts.js"></script>
<script>
    var bodyScale = 1;//原始比例1
    $(document).ready(function (e) {
        pageResize();
        function pageResize() {
            var h = $(window).height();
            var w = h * 16 * 7 / (9 * 3);
            $(".labMain_content").css("width", h * 16 * 4 / (9 * 3));
            var bodyFontSize = h / 638 * 100 + "%";
            bodyScale = h / 638;
            $("body").css("font-size", bodyFontSize);
            // console.log("屏幕高度：" + h + ", body字号：" + bodyFontSize)
        }

        //左
        var chartone = echarts.init(document
            .getElementById("echart_one"));
        chartone.setOption(initone());
        //右
        var charttwo = echarts.init(document
            .getElementById("echart_two"));
        charttwo.setOption(getBarEcharts());
        charttwo.setOption(inittwo());

        //左
        var chartthree = echarts.init(document
            .getElementById("echart_three"));
        chartthree.setOption(initone());
        //右
        var chartfour = echarts.init(document
            .getElementById("echart_four"));
        chartfour.setOption(getAreaEcharts());
        chartfour.setOption(initfour());

        //左
        var chartfive = echarts.init(document
            .getElementById("echart_five"));
        chartfive.setOption(initone());
        //右
        var chartsix = echarts.init(document
            .getElementById("echart_six"));
        chartsix.setOption(getBarEcharts());
        chartsix.setOption(inittwo());
        //$("#labMain_cbro_content").load("labAnalysis_small.html");
        document.getElementById("labMain_cbro_content").innerHTML = '<object type="text/html" data="labAnalysis_small.html" width="100%" height="100%"></object>';
    });
    function initone() {
        var labelFromatter = {
            normal: {
                label: {
                    formatter: function (params) {
                        return 100 - params.value + '%'
                    },
                },
                labelLine: {
                    show: false
                }
            },
        };
        //5
        var labelTop = {
            normal: {
                color: '#66ccff',
                label: {
                    show: true,
                    position: 'bottom',
                    formatter: '{b}',
                    textStyle: {
                        baseline: 'center',
                        color: '#66ccff',
                        fontSize: 8
                    }
                },
                labelLine: {
                    show: false
                }
            }
        };
        //95
        var labelBottom = {
            normal: {
                color: '#234f65',
                label: {
                    show: true,
                    position: 'center'
                },
                labelLine: {
                    show: false
                }
            },
            emphasis: {},
        };
        var radius = ['45%', '65%'];
        var option = {
            textStyle: {
                color: '#ff9933',
                fontSize: bodyScale * 12,
            },
            grid: {
                x: "0",
                y: '0',
            },
            series: [
                {
                    type: 'pie',
                    radius: radius,
                    //x: '40%', // for funnel
                    itemStyle: labelFromatter,
                    data: [
                        {name: '', value: 5, itemStyle: labelBottom},
                        {name: '', value: 95, itemStyle: labelTop}
                    ]
                }

            ]

        };
        return option;

    }

    function inittwo() {
        var bar_chip = '${contextPath!}/static/img/bar_chip.png';
        var labelSetting = {
            normal: {
                show: false,
                position: 'outside',
                offset: [10, 0],
                textStyle: {
                    fontSize: bodyScale * 8
                }
            }
        };


        var option = {
            textStyle: {
                fontSize: bodyScale * 8
            },
            yAxis: [
                {
                    name: "数量",

                    nameTextStyle: {
                        fontSize: bodyScale * 10,

                    },

                    type: 'value',
                    max: 100,
                },
            ],
            xAxis: [
                {
                    name: "",
                    type: 'category',
                    data: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"]
                }
            ],
            grid: {
                // x: "10%",
//            x2: "25%",
//            y: '22%',
//            y2: "26%",

                x: "15%",
                x2: "10%",
                y: '20%',
                y2: "34%",
            },
            series: [
                {
                    symbolSize: ['50%', '10%'],
                    data: [{
                        value: 99,
                        symbol: bar_chip
                    }, {
                        value: 85,
                        symbol: bar_chip
                    }, {
                        value: 82,
                        symbol: bar_chip
                    }
                        , {
                            value: 78,
                            symbol: bar_chip
                        }
                        , {
                            value: 82,
                            symbol: bar_chip
                        }
                        , {
                            value: 78,
                            symbol: bar_chip
                        }
                        , {
                            value: 78,
                            symbol: bar_chip
                        }, {
                            value: 82,
                            symbol: bar_chip
                        }, {
                            value: 82,
                            symbol: bar_chip
                        }, {
                            value: 78,
                            symbol: bar_chip
                        }
                        , {
                            value: 78,
                            symbol: bar_chip
                        }, {
                            value: 82,
                            symbol: bar_chip
                        }

                    ]
                }
            ]
        };
        return option;

    }


    function initfour() {

        var option = {
            textStyle: {
                fontSize: bodyScale * 8
            },
            legend: {
                show: true,
                data: ['整机', '模块'],
                textStyle: {
                    fontSize: bodyScale * 8
                },
                itemWidth: 6, //图例标记的图形宽度
                itemHeight: 6 //图例标记的图形高度
            },
            grid: {

                x: "11%",
                x2: "10%",
                y: '20%',
                y2: "20%"
            },
            xAxis: [
                {
                    name: '',
                    data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12']
                }
            ],
            yAxis: [
                {
                    name: "数量",

                    nameTextStyle: {
                        fontSize: bodyScale * 10,

                    },
                }
            ],
            series: [
                {
                    name: '',
                    type: 'line',
                    stack: '总量',
                    // areaStyle: {normal: {}},
                    data: [99, 85, 82, 78, 82, 60, 82, 60, 82, 85, 82, 78],
                    itemStyle: {
                        normal: {
                            color: "#ff6666"
                        }
                    }

                }
            ]

        };
        return option;

    }


</script>