<div class="param_box">
  <dl class="param no_extra" style="min-width:182px;">
    <dt class="param_title">互动管理 </dt>
    <dt class="param_title"> <i class="icon_param" style="background: url(/plugins/mp/images/icon_param_function_meeting.png) no-repeat;"></i>会议管理 </dt>
    <dd class="param_item ${param=='meetingrecord'?'selected':''}"" > <a href="/mp/meetingrecord">会议列表</a> </dd>
    <dd class="param_item ${param=='docrecord'?'selected':''}" style=" margin-bottom:10px"> <a href="/mp/docrecord">参会列表</a> </dd>
    <dd class="param_item ${param=='salesMeeting'?'selected':''}" style=" margin-bottom:10px"> <a href="/mp/meetingrecord/salesMeeting">代表开会列表</a> </dd>
    <dt class="param_title"> <i class="icon_param" style="background: url(/plugins/mp/images/icon_param_function_data.png) no-repeat;"></i>统计分析 </dt>
    <dd class="param_item ${param=='statisticsmeeting'?'selected':''}" > <a  href="/mp/statistics/meeting">会议情况分析</a> </dd>
    <dd class="param_item ${param=='statisticsdoctor'?'selected':''}" > <a href="/mp/statistics/doctor">医师参会统计</a> </dd>
    <dt class="param_title"> <i class="icon_param" style="background: url(/plugins/mp/images/icon_param_function_emlo.png) no-repeat;"></i>抽奖配置</dt>
    <dd class="param_item ${param=='lottery'?'selected':''}" > <a href="/mp/lottery">抽奖配置</a> </dd>
  </dl>
</div>
