<style>
    .fromHallMap {
        display: block !important;
        position: absolute;
        width: 107em;
        height: 100%;
        left: 0;
    }

    .fromHallMap iframe {
        height: 100%;
    }
</style>
<div id="l">
    <div class="l left3x3 fromHallMap">
        <iframe src="${contextPath!}/layout/hallMap?bigScreen7x3" frameborder="0"></iframe>
        <a hidden style="position: relative;top: -2rem;" id="runFlashBtn" href="http://www.adobe.com/go/getflashplayer" rel="nofollow" target="_blank" title="升级Flash插件">启用flash</a>
    </div>
</div>

