<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>订单弹出页面</title>
    <link rel="stylesheet" href="${contextPath!}/static/css/orderPopup.css">
</head>
<body>
<header></header>
<div id="container">
    <nav class="left-nav">
        <ul>
            <li>
                <a href="#">样品管理</a>
            </li>
            <li>
                <a href="">订单管理</a>
                <ul>
                    <li><a href="">整机订单汇总</a></li>
                    <li class="active"><a href="">订单视图查看</a></li>
                    <li><a href="">整机订单修改要求</a></li>
                    <li><a href="">整机订单查看</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="main">
        <div class="list" hidden>
            <div class="toCurve"></div>
        </div>
        <div class="curve">
            <header>
                <ul class="title">
                    <li>实验室编号：<span id="center_sybh_id_world"></span></li>
                    <li>Sample code：<span id="center_ypbm_id_world"></span></li>
                    <li>型号：<span id="center_cpxh_id_world"></span></li>
                    <li>测试项目：<span id="center_testPro_id_world"></span></li>
                </ul>
                <ul class="btnGroup">
                    <li class="active">
                        <button>S20180516002</button>
                    </li>
                    <li>
                        <button>S20180516003</button>
                    </li>
                    <li>
                        <button>S20180516004</button>
                    </li>
                </ul>
            </header>
            <div class="curveBox">
                <!--<div class="loadingAnimation">数据接入中</div>-->
                <div class="curveBox-l">
                    <div id="curve1"></div>
                    <div id="curve2"></div>
                </div>
                <div class="curveBox-r">
                    <ul id="legend_ul_world">
                    </ul>
                </div>
            </div>


        </div>
    </div>
</div>

<script src="${contextPath!}/static/assets/js/jquery-2.2.4.js"></script>
<script src="${contextPath!}/static/js/centerLab.js"></script>
<script src="${contextPath!}/static/js/centerLabWord.js"></script>
<!--<script src="${contextPath!}/static/js/orderPopup.js"></script>-->


</body>
</html>