<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>订单弹出页面</title>
    <link rel="stylesheet" href="${contextPath!}/static/css/orderPopup.css">
</head>
<body>
<header></header>
<div id="container">
    <nav class="left-nav">
        <ul>
            <li>
                <a href="#">样品管理</a>
            </li>
            <li class="show">
                <a href="">订单管理</a>
                <ul>
                    <li><a href="">整机订单汇总</a></li>
                    <li class="active"><a href="">订单视图查看</a></li>
                    <li><a href="">整机订单修改要求</a></li>
                    <li><a href="">整机订单查看</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="main">
        <div class="list">
            <div class="toCurve"></div>
        </div>
        <div class="curve" style="display: none">
            <header>
                <div class="close">×</div>
                <ul class="title">
                    <li>型号：<span id="center_cpxh_id_world"></span></li>
                    <li>实验项目：？？？<span id="center_sybh_id_world"></span></li>
                </ul>
                <ul class="btnGroup">
                    <li class="active">
                        <button>S20180516002</button>
                    </li>
                    <li>
                        <button>S20180516003</button>
                    </li>
                    <li>
                        <button>S20180516004</button>
                    </li>
                </ul>
            </header>
            <div class="curveBox">
                <!--<div class="loadingAnimation">数据接入中</div>-->
                <div class="curveBox-l">
                    <div id="main1_world"></div>
                    <div id="main2_world"></div>
                </div>
                <div class="curveBox-r">
                    <ul id="legend_ul_world">
                    </ul>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="placeholder">
    <div id="echart_one"></div>
    <div id="echart_two"></div>
    <div id="echart_three"></div>
    <div id="echart_four"></div>
    <div id="echart_five"></div>
    <div id="echart_six"></div>
</div>
<script>
    var contextPath = '${contextPath!}';
    var bodyScale = parent.bodyScale*.7;
    function getCurrentMonth() {
        var date = new Date;
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        month = (month < 10 ? "0" + month : month);
        return month.toString();
    }
    function getBarEcharts() {}
    function getLineEcharts() {}
</script>
<script src="${contextPath!}/static/asserts/js/jquery-2.2.4.js"></script>
<script>
    function leftNavAction() {
        $(".left-nav>ul>li").click(function () {
            $(this).toggleClass("show");
            return false;
        });
        $(".left-nav>ul>li>ul>li").click(function () {
            $(".left-nav>ul>li>ul>li").removeClass("active");
            $(this).addClass("active");
            return false;
        });
    }

    $(function () {
        $("html").css("font-size",bodyScale*16+"px");
        leftNavAction();
    })
</script>
<script src="${contextPath!}/static/asserts/echarts3.0/echarts.js"></script>
<script src="${contextPath!}/static/js/manyEcharts.js"></script>
<script src="${contextPath!}/static/js/labData.js"></script>
<script src="${contextPath!}/static/js/labAction.js"></script>
<script src="${contextPath!}/static/js/centerLab.js"></script>
<script src="${contextPath!}/static/js/centerLabWorld_3rd.js"></script>
<script>
    $(function () {
        $(".curve .close").click(function () {
            $(".curve").hide().siblings().show();
        });
        $(".toCurve").click(function () {
            $(".list").hide().siblings().show();
            $(".curve .btnGroup>li>button:eq(0)").click()
        });

        $(".curve .btnGroup>li>button").click(function () {
            $(this).parent().addClass("active").siblings().removeClass("active");
            var index = $(this).parent().index();
                findSensorByLabCenetrTabAjaxWorld("USLABBX", "P"+(index+1), "USLAB-B"+(index+1)+".json");
        });
    });

</script>

</body>
</html>