<!doctype html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>订单弹出页面</title>
        <link rel="stylesheet" href="${contextPath!}/static/css/orderPopup.css">
        <script src="${contextPath!}/static/assets/js/jquery-2.2.4.js"></script>
    </head>
    <body>
        <script>
            bodyScale= parent.parent.bodyScale * .7;
            $("html").css("font-size", bodyScale * 16 + "px");
        </script>
        <div id="container">
            <nav class="left-nav">
                <ul>
                    <li>
                        <!--<a href="#">样品管理</a>-->
                    </li>
                    <li class="show">
                        <a href="">订单管理</a>
                        <ul>
                            <li>
                                <!--<a href="">整机订单汇总</a>-->
                            </li>
                            <li class="active">
                                <a href="">订单视图查看</a>
                            </li>
                            <li>
                                <!--<a href="">整机订单要求修改</a>-->
                            </li>
                            <li>
                                <!--<a href="">整机订单查看</a>-->
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="main">
                <div class="list" v-cloak>
                    <div class="list-header">
                        <ul v-if="orderList.header">
                            <li v-for="(item,index) in ['订单总量','待测试','待分配','测试中','已完成','完成率']">
                                <h4>{{item}}</h4>
                                <div class="number">{{orderList.header[orderListHeader[index]]}}</div>
                            </li>
                        </ul>
                    </div>
                    <div class="list-body">
                        <div v-if="orderList.itemList" v-for="(item,index) in orderList.itemList" class="item ">

                            <button class="evaluation">评价</button>
                            <header>
                                <h4>试验编号：</h4>
                                <div class="serialNumber">{{item.testNumber}}</div>
                                <h4>下单时间：</h4>
                                <div class="time">
                                    <time>{{item.creationTime}}</time>
                                </div>
                            </header>
                            <ul>
                                <li v-for="(name,i) in ['委托下单','样品接收','任务分配','测试执行','报告审核','批准报告','结果评价']"
                                    :class='[item.step-1===i?"active":(item.step-1>i?"pass":""),index===2&&i===3?"toCurve":""]'
                                    @click='index===2&&i===3?toCurve():""'>
                                    <h4>{{name}}</h4>
                                    <div class="name">{{item['step'+(i+1)]?item['step'+(i+1)].name:''}}</div>
                                    <div class="tel">{{item['step'+(i+1)]?item['step'+(i+1)].tel:''}}</div>
                                </li>
                            </ul>
                        </div>
                        <div class="pageBtn text-center">
                            <button @click="changePage()">上一页</button>
                            <span>{{pageCur}}/{{pageTotal}}</span>
                            <button @click="changePage('next')">下一页</button>
                        </div>
                    </div>
                </div>
                <div class="curve" style="display: none">
                    <header>
                        <div class="close" @click="closeCurve">×</div>
                        <ul class="title">
                            <li>型号：HT10TG31SW</li>
                            <li>实验项目：耗电量</li>
                        </ul>
                        <ul class="btnGroup">
                            <li :class="index===0?'active':''"
                                v-for="(item,index) in ['S20180629003-01','S20180629003-02','S20180629003-03']">
                                <button @click="loadCurve">{{item}}</button>
                            </li>
                        </ul>
                    </header>
                    <div class="curveBox">
                        <!--<div class="loadingAnimation">数据接入中</div>-->
                        <div class="curveBox-l">
                            <div id="main1_world"></div>
                            <div id="main2_world"></div>
                        </div>
                        <div class="curveBox-r">
                            <ul id="legend_ul_world">
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="placeholder">
            <div id="echart_one"></div>
            <div id="echart_two"></div>
            <div id="echart_three"></div>
            <div id="echart_four"></div>
            <div id="echart_five"></div>
            <div id="echart_six"></div>
        </div>
        <script src="${contextPath!}/static/assets/echarts3.0/echarts.js"></script>
        <script src="${contextPath!}/static/assets/js/vue-2.6.10.min.js"></script>
        <script src="${contextPath!}/static/js/manyEcharts.js"></script>
        <script src="${contextPath!}/static/js/labData.js"></script>
        <script src="${contextPath!}/static/js/labAction.js"></script>
        <script src="${contextPath!}/static/js/centerLab.js"></script>
        <script src="${contextPath!}/static/js/centerLabWorld_3rd.js"></script>
        <script>
            let contextPath = '${contextPath!}';
            new Vue({
                el: '#container',
                data: {
                    orderList: {
                        header: {},
                        itemList: [],
                    },
                    orderListHeader:['totalNum','underTest','toBeDistributed','testing','completed','completion'],
                    allItemList: [],
                    pageCur: 1,
                    itemPerPage: 3,
                    pageTotal: 0,
                },
                beforeMount() {
                    this.getOrderList();
                },
                mounted(){
                    this.leftNavAction();
                },
                methods: {
                    getOrderList() {
                        $.get(contextPath + "/static/data/orderList.json", data => {
                            this.orderList = data;
                            this.allItemList = data.itemList;
                            this.pageTotal = (this.allItemList.length / this.itemPerPage | 0) + 1;
                            this.pagination();

                        })
                    },
                    toCurve() {
                        $(".list").hide().siblings().show();
                        $(".curve .btnGroup>li>button:eq(0)").click()
                    },
                    closeCurve() {
                        $(".curve").hide().siblings().show();
                    },
                    loadCurve() {
                        $(".curve .btnGroup>li>button").click(function () {
                            $(this).parent().addClass("active").siblings().removeClass("active");
                            let index = $(this).parent().index();
                            findSensorByLabCenetrTabAjaxWorld("USLABBX", "P" + (index + 1), "USLAB-B" + (index + 1) + ".json");
                        });
                    },
                    pagination() {
                        // let itemList = this.allItemList.itemList;
                        this.orderList.itemList = this.allItemList.slice((this.pageCur - 1) * this.itemPerPage, (this.pageCur) * this.itemPerPage)
                    },
                    changePage(next) {
                        console.log(next)
                        if (next) {
                            if (this.pageCur === this.pageTotal) return false;
                            this.pageCur++
                        } else {
                            if (this.pageCur === 1) return false;
                            this.pageCur--
                        }
                        this.pagination()
                    },
                    leftNavAction(){
                        $(".left-nav>ul>li").click(function () {
                            $(this).toggleClass("show");
                            return false;
                        });
                        $(".left-nav>ul>li>ul>li").click(function () {
                            $(".left-nav>ul>li>ul>li").removeClass("active");
                            $(this).addClass("active");
                            return false;
                        });
                    }
                }
            });
        </script>
    </body>
</html>