<!doctype html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>海尔全球实验室</title>
        <link rel="stylesheet" href="../static/css/totalState.css">
        <link rel="stylesheet" href="../static/css/lab.css">
        <link rel="stylesheet" href="../static/css/labMain.css">
        <link rel="stylesheet" href="../static/css/labAnalysis.css">
        <link rel="stylesheet" href="../static/css/labOprateState.css">
        <link rel="stylesheet" href="../static/css/labCurve.css">
        <link rel="stylesheet" href="../static/css/centerLab.css">
        <link rel="stylesheet" href="${contextPath!}/static/css/tabs/tab2.css">
        <link rel="stylesheet" href="${contextPath!}/static/css/tabs/tab3.css">
        <link rel="stylesheet" href="${contextPath!}/static/css/tabs/tab4.css">

        <script src="${contextPath!}/static/asserts/js/jquery-2.2.4.js"></script>
        <script src="${contextPath!}/static/asserts/echarts/echarts-3.5.2.js"></script>
        <script src="${contextPath!}/static/asserts/js/highcharts.js"></script>
        <script>
            let bodyScale = parent.bodyScale;
            let contextPath = '${contextPath!}';
        </script>
        <script src="${contextPath!}/static/js/manyEcharts.js"></script>
        <script src="${contextPath!}/static/js/tabs/tab2.js?time=New Date()"></script>
        <script src="${contextPath!}/static/js/tabs/tab3.js?time=New Date()"></script>
        <script src="${contextPath!}/static/js/tabs/tab4.js"></script>
        <script src="${contextPath!}/static/js/main_right.js"></script>
    </head>
    <body>
        <script>
            $('body').css('font-size', bodyScale * 16 * 0.6 + 'px')
        </script>
        <div id="totalState">
            <!--这里是后面4屏的代码-->
            <!--<div class="btn-back">
                <span class="icon"></span>
            </div>-->
            <div class="tab">
                <ul>
                    <li class="tab-item active_right">实验室状态</li>
                    <li class="tab-item">数据结果</li>
                    <li class="tab-item">数据挖掘</li>
                </ul>
            </div>
            <div class="labIcon">
                <ul>
                    <li class="lab_item">
                        <img src="${contextPath!}/static/img/tabCom/yf_off.png" alt="">
                        <span class="text">研发实验室</span>
                    </li>
                    <li class="lab_item">
                        <img src="${contextPath!}/static/img/tabCom/zx_off.png" alt="">
                        <span class="text">中心实验室</span>
                    </li>
                    <li class="lab_item">
                        <img src="${contextPath!}/static/img/tabCom/gc_off.png" alt="">
                        <span class="text">工厂实验室</span>
                    </li>
                    <li class="lab_item">
                        <img src="${contextPath!}/static/img/tabCom/mks_off.png" alt="">
                        <span class="text">模块商实验室</span>
                    </li>
                </ul>
            </div>


            <!--实验室状态-->
            ##layout("tab/tab2.html", {}){
            ##}
            <!--数据结果-->
            ##layout("tab/tab3.html", {}){
            ##}
            <!--数据挖掘应用-->
            ##layout("tab/tab4.html", {}){
            ##}

        </div>
        <script>
            var labTypeCode;//实验室类型

            $(function () {
                // 返回新封面
                $(".btn-back").click(function () {
                    $("#cover").show().siblings().not(".l").hide()
                        .siblings("#cover").find(".deviceLoad .btn-back").click();
                });
                // 右四屏顶部三个大标签的切换
                $(".tab-item").click(function () {
                    $(this).addClass("active_right").siblings().removeClass("active_right");
                    $("#totalState .box:eq(" + $(this).index() + ")").addClass("selected").siblings().removeClass("selected");
                    // console.log("下右侧面开始图表重置");
                    resetSizeRight();
                });


                // 上一页 下一页
                $('#tab2 .fenye .last').on('click', '', function () {
                    $('#tab2').css('left', '-100%');
                });

                $('#tab2 .fenye .first').click(function () {
                    $('#tab2').css('left', '0');
                });
                //雷达图的透明度
                $('.biaozhun_tabs>ul>li').click(function () {
                    $(this).addClass('biaozhun_tabs_selected').siblings('li').removeClass('biaozhun_tabs_selected');
                    var index = $(this).index();
                    $(".biaozhun_box_echarts:eq(" + index + ")").css("opacity", '1').siblings().css('opacity', '0');
                })
            });

        </script>
    </body>
</html>