<% 
DIRECTIVE SAFE_OUTPUT_OPEN;
var headContent = {
	include("/pages/template/head.html"){}
%>
<script type="text/javascript">
	var oper = {
		save:function(id){
			/* if(!validForm()) {
				return false;
			} */
			console.log(id);
			id = id;
			console.log(id);
		    var name= $("#name").val();
			var url = 'credit/reportType/save?id='+id+'&name='+name;
			form1.action = url;
			form1.submit();
			return true;
		}	
	};
</script>

<%
};
var bodyContent = {
%>
<form name="form1" action="" method="post" class="form-horizontal"
	enctype="multipart/form-data"	role="form" >
	<input type="hidden" name="model.id" value="${model.id}" />
	<table class="table">
		<%  // 列表头部%>
				<tr>
					<td>报告名称</td>
					<td>
					<input class="form-control" type="text" id="name" name="model.name" value="${model.name }"  valid='vtext' validname='报告名称'  />
					</td>
				</tr>
				
			
				<tr>
					<td>报告路径</td>
					<td>
					<input class="form-control" type="text" name="model.tpl_path" valid='vtext' validname='报告路径' value="${model.tpl_path }"  readonly="readonly" />
					</td>
				</tr>
				<tr>
					<td>上传word</td>
					<td>
					<input class="" type="file" name="file_url" valid='' validname='上传word' value=""  />
					</td>
				</tr>
				<tr>
					<td>排序</td>
					<td>
					<input class="form-control" type="text" name="model.order_no" valid='vnum_y' validname='排序' value="${model.order_no }"  />
					</td>
				</tr> 
				<tr>
					<td>备注</td>
					<td>
					<textarea class="form-control" type="text" name="model.remarks" >${model.remarks }</textarea>
					</td>
				</tr>
	</table>
	
	<div style="height: 50px;clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
		<button class="btn btn-primary" onclick="oper.save(${model.id!'0'});return false;">保 存</button>
		<button class="btn btn-default" onclick="closeIframe();return false;">关 闭</button>
	  </div>
	</nav>
</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%}
DIRECTIVE SAFE_OUTPUT_CLOSE; 
%>