.form-box {
    overflow: hidden;
}
.order-form {
    border-top: solid 1px #ddd;
    padding-top: 2rem;
}
#reporter_select {
    width: 16.375rem;
    border-color:#ddd;
    border-radius: 4px;

}
.control-label {
    width: 6rem;
    text-align: right;
    white-space: nowrap;
}
textarea {
    border-color:#ddd;
    border-radius: 4px;
    resize: none;
    overflow-x: hidden;
    overflow-y: auto;
}

