 <div class="box sheshi_state">
            <div class="sheshi_top">

                <div class="sheshi_top_left">
                    <div class='sheshi_title'>设施状态</div>
                    <ul>
                        <li>
                            <div class="zaixian">
                                <ul>
                                    <li>整体在线率</li>
                                    <li class="sheshi_num">96% <span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                                          alt=""></span><span
                                            class="up_num">0.05%</span></li>
                                </ul>
                                <ul>
                                    <table>
                                        <tr>
                                            <th></th>
                                            <th>产线在线率</th>
                                            <th>同比</th>
                                        </tr>
                                        <tr>
                                            <td>冰冷</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                         aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 60%;"></div>

                                                </div>
                                                <span class="zaixianlv">60%</span>
                                            </td>
                                            <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                           alt=""></span><span>1%</span></td>
                                        </tr>
                                        <tr>
                                            <td>家空</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                         aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 60%;"></div>

                                                </div>
                                                <span class="zaixianlv">60%</span>
                                            </td>
                                            <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                           alt=""></span><span>1%</span></td>
                                        </tr>
                                        <tr>
                                            <td>洗涤</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                         aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 60%;"></div>
                                                </div>
                                                <span class="zaixianlv">60%</span>
                                            </td>
                                            <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                           alt=""></span><span>1%</span></td>
                                        </tr>
                                        <tr>
                                            <td>商空</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                         aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 60%;"></div>

                                                </div>
                                                <span class="zaixianlv">60%</span>
                                            </td>
                                            <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                           alt=""></span><span>1%</span></td>
                                        </tr>
                                        <tr>
                                            <td>热水器</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                         aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 60%;"></div>

                                                </div>
                                                <span class="zaixianlv">60%</span>
                                            </td>
                                            <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                           alt=""></span><span>1%</span></td>
                                        </tr>
                                        <tr>
                                            <td>厨电</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                         aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 60%;"></div>

                                                </div>
                                                <span class="zaixianlv">60%</span>
                                            </td>
                                            <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                           alt=""></span><span>1%</span></td>
                                        </tr>
                                        <tr>
                                            <td>其他</td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                         aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 60%;"></div>

                                                </div>
                                                <span class="zaixianlv">60%</span>
                                            </td>
                                            <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                           alt=""></span><span>1%</span></td>
                                        </tr>
                                    </table>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="zaixian">
                                <ul>
                                    <li>整体完好率</li>
                                    <li class="sheshi_num">96% <span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                                          alt=""></span><span
                                            class="up_num">0.05%</span></li>
                                </ul>
                                <ul>
                                    <table>
                                        <tr>
                                            <th></th>
                                            <th>产线在线率</th>
                                            <th>同比</th>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                         aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 60%;"></div>

                                                </div>
                                                <span class="zaixianlv">60%</span>
                                            </td>
                                            <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                           alt=""></span><span>1%</span></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                         aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 60%;"></div>

                                                </div>
                                                <span class="zaixianlv">60%</span>
                                            </td>
                                            <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                           alt=""></span><span>1%</span></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                         aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 60%;"></div>
                                                </div>
                                                <span class="zaixianlv">60%</span>
                                            </td>
                                            <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                           alt=""></span><span>1%</span></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                         aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 60%;"></div>

                                                </div>
                                                <span class="zaixianlv">60%</span>
                                            </td>
                                            <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                           alt=""></span><span>1%</span></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                         aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 60%;"></div>

                                                </div>
                                                <span class="zaixianlv">60%</span>
                                            </td>
                                            <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                           alt=""></span><span>1%</span></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                         aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 60%;"></div>

                                                </div>
                                                <span class="zaixianlv">60%</span>
                                            </td>
                                            <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                           alt=""></span><span>1%</span></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                         aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 60%;"></div>

                                                </div>
                                                <span class="zaixianlv">60%</span>
                                            </td>
                                            <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                           alt=""></span><span>1%</span></td>
                                        </tr>
                                    </table>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="zaixian">
                                <ul>
                                    <li>整体利用率</li>
                                    <li class="sheshi_num">96% <span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                                          alt=""></span><span
                                            class="up_num">0.05%</span></li>
                                </ul>
                                <ul>
                                    <table>
                                        <tr>
                                            <th></th>
                                            <th>产线在线率</th>
                                            <th>同比</th>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                         aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 60%;"></div>

                                                </div>
                                                <span class="zaixianlv">60%</span>
                                            </td>
                                            <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                           alt=""></span><span>1%</span></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                         aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 60%;"></div>

                                                </div>
                                                <span class="zaixianlv">60%</span>
                                            </td>
                                            <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                           alt=""></span><span>1%</span></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                         aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 60%;"></div>
                                                </div>
                                                <span class="zaixianlv">60%</span>
                                            </td>
                                            <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                           alt=""></span><span>1%</span></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                         aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 60%;"></div>

                                                </div>
                                                <span class="zaixianlv">60%</span>
                                            </td>
                                            <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                           alt=""></span><span>1%</span></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                         aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 60%;"></div>

                                                </div>
                                                <span class="zaixianlv">60%</span>
                                            </td>
                                            <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                           alt=""></span><span>1%</span></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                         aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 60%;"></div>

                                                </div>
                                                <span class="zaixianlv">60%</span>
                                            </td>
                                            <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                           alt=""></span><span>1%</span></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                         aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 60%;"></div>

                                                </div>
                                                <span class="zaixianlv">60%</span>
                                            </td>
                                            <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                           alt=""></span><span>1%</span></td>
                                        </tr>
                                    </table>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="sheshi_top_rihght">
                    <div class='sheshi_title'>人员状态</div>
                    <div class="renyuan_top">
                        <ul>
                            <li>
                                <div>学历</div>
                                <div id="myChart22"></div>
                            </li>
                            <li>
                                <div>工作年限</div>
                                <div id="myChart23"></div>
                            </li>
                            <li>
                                <div>资质</div>
                                <div id="myChart24"></div>
                            </li>
                        </ul>
                    </div>
                    <div class="renyuan_bottom">
                        <ul>
                            <li>
                                <div id="myChart25"></div>
                            </li>
                            <li>
                                <div id="myChart26"></div>
                            </li>
                            <li>
                                <div id="myChart27"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="sheshi_bottom">
                <div class="sheshi_bottom_left">
                    <div class='sheshi_title'>标准状态</div>
                    <div class="biaozhun_left">
                        <div>牵头/参与起草数分布情况</div>
                        <div class="biaozhun_left_left">
                            <div class="biaozhun_world">
                                <ul>
                                    <li>71</li>
                                    <li>国际标准</li>
                                </ul>
                            </div>
                           <div class="biaozhun_country">
                               <ul>
                                   <li>86</li>
                                   <li>国家标准</li>
                               </ul>
                           </div>
                            <div class="biaozhun_hangye">
                                <ul>
                                    <li>58</li>
                                    <li>行业标准</li>
                                </ul>
                            </div>
                           <div class="biaozhun_qiye">
                               <ul>
                                   <li>768</li>
                                   <li>企业标准</li>
                               </ul>
                           </div>
                           <div class="biaozhun_total">
                               <ul>
                                   <li>牵头/参与起草数</li>
                                   <li>982</li>
                               </ul>
                           </div>
                        </div>
                    </div>
                    <div class="biaozhun_right">
                        <div>标准数量分布情况</div>
                        <div class="biaozhun_right_echarts">
                            <ul>
                                <li>
                                    <div id="myChart28"></div>
                                </li>
                                <li>
                                    <div id="myChart29"></div>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <div id="myChart30"></div>
                                </li>
                                <li>

                                    <div id="myChart31"></div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="sheshi_bottom_right">
                    <div class='sheshi_title'>能力状态</div>
                    <div>不同产线的能力状态分布</div>
                    <div class="nengli_top">
                        <ul>
                            <li>冰冷</li>
                            <li>洗涤</li>
                            <li>家空</li>
                            <li>商空</li>
                            <li>热水器</li>
                            <li>厨电</li>
                            <li>其他</li>
                        </ul>
                    </div>
                    <div class="nengli_bottom">
                        <ul>
                            <li>
                                <div id="myChart32"></div>

                            </li>
                            <div class="echarts_lines echarts_line1"></div>
                            <li>
                                <div id="myChart33"></div>

                            </li>
                            <div class="echarts_lines echarts_line2"></div>
                            <li>
                                <div id="myChart34"></div>

                            </li>
                            <div class="echarts_lines echarts_line3"></div>
                            <li>
                                <div id="myChart35"></div>

                            </li>
                            <div class="echarts_lines echarts_line4"></div>
                            <li>
                                <div id="myChart36"></div>

                            </li>
                            <div class="echarts_lines echarts_line5"></div>
                            <li>
                                <div id="myChart37"></div>

                            </li>
                            <div class="echarts_lines echarts_line6"></div>
                            <li>
                                <div id="myChart38"></div>

                            </li>
                            <div class="echarts_lines echarts_line7"></div>
                        </ul>
                    </div>

                </div>
            </div>
        </div>   
    

<script>
  
</script>