<div class="box sheshi_state">
    <div class="sheshi_top">

        <div class="sheshi_top_left">
            <div class='sheshi_title'>设施状态</div>
            <ul>
                <li>
                    <div class="zaixian">
                        <ul>
                            <li>实验室在线率</li>
                            <li class="sheshi_num" id="tab2_equipment_top_0"><!-- 96% <span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                                  alt=""></span><span
                                    class="up_num">0.05%</span> --></li>
                        </ul>
                        <ul>
                            <table id="tab2_equipment_table_0">
                               <!--  <tr>
                                    <td>冰冷</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 60%;"></div>

                                        </div>
                                        <span class="zaixianlv">60%</span>
                                    </td>
                                    <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                   alt=""></span><span>1%</span></td>
                                    <td>(同比)</td>
                                </tr>
                                <tr>
                                    <td>家空</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 60%;"></div>

                                        </div>
                                        <span class="zaixianlv">60%</span>
                                    </td>
                                    <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                   alt=""></span><span>1%</span></td>
                                </tr>
                                <tr>
                                    <td>洗涤</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 60%;"></div>
                                        </div>
                                        <span class="zaixianlv">60%</span>
                                    </td>
                                    <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                   alt=""></span><span>1%</span></td>
                                </tr>
                                <tr>
                                    <td>商空</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 60%;"></div>

                                        </div>
                                        <span class="zaixianlv">60%</span>
                                    </td>
                                    <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                   alt=""></span><span>1%</span></td>
                                </tr>
                                <tr>
                                    <td>热水器</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 60%;"></div>

                                        </div>
                                        <span class="zaixianlv">60%</span>
                                    </td>
                                    <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                   alt=""></span><span>1%</span></td>
                                </tr>
                                <tr>
                                    <td>厨电</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 60%;"></div>

                                        </div>
                                        <span class="zaixianlv">60%</span>
                                    </td>
                                    <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                   alt=""></span><span>1%</span></td>
                                </tr>
                                <tr>
                                    <td>其他</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 60%;"></div>

                                        </div>
                                        <span class="zaixianlv">60%</span>
                                    </td>
                                    <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                   alt=""></span><span>1%</span></td>
                                </tr> -->
                            </table>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="zaixian">
                        <ul>
                            <li>设备完好率</li>
                            <li class="sheshi_num" id="tab2_equipment_top_1"><!-- 96% <span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                                  alt=""></span><span
                                    class="up_num">0.05%</span> --></li>
                        </ul>
                        <ul>
                            <table id="tab2_equipment_table_1">
                                <!--<tr>-->
                                    <!--<th></th>-->
                                    <!--<th>产线在线率</th>-->
                                    <!--<th>同比</th>-->
                                <!--</tr>-->
                                <!-- <tr>
                                    <td></td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 60%;"></div>

                                        </div>
                                        <span class="zaixianlv">60%</span>
                                    </td>
                                    <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                   alt=""></span><span>1%</span></td>
                                    <td>(同比)</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 60%;"></div>

                                        </div>
                                        <span class="zaixianlv">60%</span>
                                    </td>
                                    <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                   alt=""></span><span>1%</span></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 60%;"></div>
                                        </div>
                                        <span class="zaixianlv">60%</span>
                                    </td>
                                    <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                   alt=""></span><span>1%</span></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 60%;"></div>

                                        </div>
                                        <span class="zaixianlv">60%</span>
                                    </td>
                                    <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                   alt=""></span><span>1%</span></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 60%;"></div>

                                        </div>
                                        <span class="zaixianlv">60%</span>
                                    </td>
                                    <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                   alt=""></span><span>1%</span></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 60%;"></div>

                                        </div>
                                        <span class="zaixianlv">60%</span>
                                    </td>
                                    <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                   alt=""></span><span>1%</span></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 60%;"></div>

                                        </div>
                                        <span class="zaixianlv">60%</span>
                                    </td>
                                    <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                   alt=""></span><span>1%</span></td>
                                </tr> -->
                            </table>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="zaixian">
                        <ul>
                            <li>设备利用率</li>
                            <li class="sheshi_num" id="tab2_equipment_top_2"><!-- 96% <span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                                  alt=""></span><span
                                    class="up_num">0.05%</span> --></li>
                        </ul>
                        <ul>
                            <table id="tab2_equipment_table_2">
                                <!--<tr>-->
                                    <!--<th></th>-->
                                    <!--<th>产线在线率</th>-->
                                    <!--<th>同比</th>-->
                                <!--</tr>-->
                               <!--  <tr>
                                    <td></td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 60%;"></div>

                                        </div>
                                        <span class="zaixianlv">60%</span>
                                    </td>
                                    <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                   alt=""></span><span>1%</span></td>
                                    <td>(同比)</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 60%;"></div>

                                        </div>
                                        <span class="zaixianlv">60%</span>
                                    </td>
                                    <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                   alt=""></span><span>1%</span></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 60%;"></div>
                                        </div>
                                        <span class="zaixianlv">60%</span>
                                    </td>
                                    <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                   alt=""></span><span>1%</span></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 60%;"></div>

                                        </div>
                                        <span class="zaixianlv">60%</span>
                                    </td>
                                    <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                   alt=""></span><span>1%</span></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 60%;"></div>

                                        </div>
                                        <span class="zaixianlv">60%</span>
                                    </td>
                                    <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                   alt=""></span><span>1%</span></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 60%;"></div>

                                        </div>
                                        <span class="zaixianlv">60%</span>
                                    </td>
                                    <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                   alt=""></span><span>1%</span></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 style="width: 60%;"></div>

                                        </div>
                                        <span class="zaixianlv">60%</span>
                                    </td>
                                    <td><span><img src="${contextPath!}/static/img/sheshiState/rise.png"
                                                   alt=""></span><span>1%</span></td>
                                </tr> -->
                            </table>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="sheshi_top_rihght">
            <div class='sheshi_title'>人员状态</div>
            <div class="renyuan_top">
                <ul>
                    <li>
                        <div class="renyuan_top_title"><div>学历</div></div>
                        <div id="myChart22"></div>
                    </li>
                    <li>
                        <div class="renyuan_top_title gongzuonianxian"><div>工作年限</div></div>
                        <div id="myChart23"></div>
                    </li>
                    <li>
                        <div class="renyuan_top_title"><div>资质</div></div>
                        <div id="myChart24"></div>
                    </li>
                </ul>
            </div>
            <div class="renyuan_bottom">
                <ul>
                    <li>
                        <div id="myChart25"></div>
                    </li>
                    <li>
                        <div id="myChart26"></div>
                    </li>
                    <li>
                        <div id="myChart27"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sheshi_bottom">
        <div class="sheshi_bottom_left">
            <div class='sheshi_title'>标准状态</div>
            <div class="biaozhun_left">
                <div>海尔参与制定标准数</div>
                <div class="biaozhun_left_left">
                    <div class="biaozhun_world">
                        <ul>
                            <li id="tab1_gjibz_id">0</li>
                            <li>国际标准</li>
                        </ul>
                    </div>
                    <div class="biaozhun_country">
                        <ul>
                            <li id="tab1_gjiabz_id">0</li>
                            <li>国家标准</li>
                        </ul>
                    </div>
                    <div class="biaozhun_hangye">
                        <ul>
                            <li id="tab1_hybz_id">0</li>
                            <li>行业标准</li>
                        </ul>
                    </div>
                    <div class="biaozhun_qiye">
                        <ul>
                            <li id="tab1_qybz_id">0</li>
                            <li>企业标准</li>
                        </ul>
                    </div>
                    <div class="biaozhun_total">
                        <ul>
                            <li>牵头/参与起草数</li>
                            <li id="tab1_qtqc_id">0</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="biaozhun_right">
                <div>海尔产品涉及标准数</div>
                <div class="biaozhun_right_echarts">
                    <ul>
                        <li>
                            <div id="myChart28"></div>
                        </li>
                        <li>
                            <div id="myChart29"></div>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <div id="myChart30"></div>
                        </li>
                        <li>

                            <div id="myChart31"></div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="sheshi_bottom_right">
            <div class='sheshi_title'>能力状态</div>
            <div>具备测试能力的标准数</div>
            <div class="nengli_top">
                <ul>
                    ##for(type in productLine){
                    <li>${type.name!}</li>
                    ##}
                    <!--  <li>冰冷</li>
                     <li>洗涤</li>
                     <li>家空</li>
                     <li>商空</li>
                     <li>热水器</li>
                     <li>厨电</li>
                     <li>其他</li> -->
                </ul>
            </div>
            <div class="nengli_bottom">
                <ul>
                    <li>
                        <div id="myChart32"></div>

                    </li>
                    <div class="echarts_lines echarts_line1">
                        <span class="yingjubei" id="yingjubei_id_0">369 应具备数</span>
                    </div>

                    <li>
                        <div id="myChart33"></div>

                    </li>
                    <div class="echarts_lines echarts_line2">
                        <span class="yingjubei" id="yingjubei_id_1">218 应具备数</span>
                    </div>
                    <li>
                        <div id="myChart34"></div>

                    </li>
                    <div class="echarts_lines echarts_line3">
                        <span class="yingjubei" id="yingjubei_id_2">172 应具备数</span>
                    </div>
                    <li>
                        <div id="myChart35"></div>

                    </li>
                    <div class="echarts_lines echarts_line4">
                        <span class="yingjubei" id="yingjubei_id_3">192&emsp;应具备数</span>
                    </div>
                    <li>
                        <div id="myChart36"></div>

                    </li>
                    <div class="echarts_lines echarts_line5">
                        <span class="yingjubei" id="yingjubei_id_4">235&emsp;应具备数</span>
                    </div>
                    <li>
                        <div id="myChart37"></div>

                    </li>
                    <div class="echarts_lines echarts_line6">
                        <span class="yingjubei" id="yingjubei_id_5">0&emsp;应具备数</span>
                    </div>
                    <li>
                        <div id="myChart38"></div>

                    </li>
                    <div class="echarts_lines echarts_line7">
                        <span class="yingjubei" id="yingjubei_id_6">0<br>应具备数</span>
                    </div>
                </ul>
            </div>

        </div>
    </div>
</div>


<script>

</script>
