## layout("ulab.html",{}){
<div class="box shuju_apply">
            <div class="shuju_apply_top">
                <div class="shuju_top_left">
                    <div class="shuju_top_pie">
                        <div id="myChart14"></div>
                    </div>
                    <div class="shuju_top_bar1">
                        <div class="echarts_title echarts_title1">量产一致型号数</div>
                        <div id="myChart15"></div>
                    </div>
                    <div class="shuju_top_bar2">
                        <div class="echarts_title echarts_title1">量产不一致型号数</div>
                        <div id="myChart16"></div>
                    </div>
                </div>
                <div class="shuju_top_right">
                    <div class="shuju_top_pie">
                        <div id="myChart17"></div>
                    </div>
                    <div class="shuju_top_bar1">
                        <div class="echarts_title echarts_title1">共产一致型号数</div>
                        <div id="myChart18"></div>
                    </div>
                    <div class="shuju_top_bar2">
                        <div class="echarts_title echarts_title1">共产不一致型号数</div>
                        <div id="myChart19"></div>
                    </div>
                </div>
            </div>
            <div class="shuju_apply_center"></div>
            <div class="shuju_apply_bottom"></div>
        </div>
    
 ##}

<script>
  
</script>