<% var Continent = tempDict.getSysDictDetailString2('continent',attr.continent !); %>
<% var usabledName = tempDict.getSysDictDetailString2('usabled',attr.usabled !); %>
<% 
DIRECTIVE SAFE_OUTPUT_OPEN;
var headContent = {
	include("/pages/template/head.html"){}
	include("/pages/includes/my97.html"){}
%>
<script type="text/javascript">
var oper = {
	save:function(id){
		if(!validForm()) {
			return false;
		}
		id = id || '0';
		var url = 'credit/country/save?id='+id;
		form1.action = url;
		form1.submit();
		return true;
	}	
	
};
</script>
<style>
.tags {
	line-height: 22px;
	height: 22px;
	border-top: 1px solid rgb(210, 210, 210);
}

.tags .tags_label {
	float: left;
	margin-right: 20px;
	margin-left: 5px;
	padding: 5px 1px 1px 3px;
}

.tags .tags_content {
	float: left;
	width: 500px;
	margin: 5px 5px 0 0;
	padding: 1px;
	border: 1px solid #ccc;
	background: #fff;
	vertical-align: middle;
}

.tags .tags_remark {
	padding: 5px 1px 1px 3px;
	color: #999999;
	font-size: 12px;
	z-index: 10000;
}
</style>

<%
};
var bodyContent = {
%>
<form name="form1" action="" method="post" class="form-horizontal">
	<input type="hidden" name="model.id" value=" ${model.id}" />
	<!-- 数据列表 -->
	<table class="table">
		<tr>
			<td>地区</td>
			<td>
			  <select name="model.continent" class="form-control" style="width: 200px;">
					${Continent!}
				</select>
			</td>
		</tr>
		<tr>
			<td>国家中文</td>
			<td><input type="text" name="model.name" class="form-control" 
				value="${model.name!}" /></td>
		</tr>
			<tr>
			<td>国家英文</td>
			<td><input type="text" name="model.name_en" class="form-control" 
				value="${model.name_en!}" /></td>
		</tr>
			<tr>
			<td>电话区号</td>
			<td><input type="text" name="model.tel_pre" class="form-control" 
				value="${model.tel_pre!}" /></td>
		</tr>
		<tr>
			<td>是否启用</td>
			<td>
			  <select name="model.usabled" class="form-control" style="width: 200px;">
					${usabledName!}
				</select>
			</td>
		</tr>
</tr>
	</table>
	<div style="height: 50px;clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
	  		<button class="btn btn-primary" onclick="oper.save(${model.id!'0'});return false;">确定</button>
			<button class="btn btn-default" onclick="closeIframe();return false;">取消</button>
	  </div>
	</nav>
</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
DIRECTIVE SAFE_OUTPUT_CLOSE;
<%} %>

