
<% 
var headContent = {
	include("/pages/template/head.html"){}
};

var bodyContent = {
%>
<form name="form1" action="" method="post" class="form-horizontal">
	<!-- 数据列表 -->
		<table class="table">
		<tr>
			<td>模板id</td>
			<td>${model.id}</td>
		</tr>
		<tr>
			<td>父模板名称</td>
			<td>${model.parentTempName}</td>
		</tr>
		<tr>
			<td>模板名称</td>
			<td> ${model.temp_name}</td>
		</tr>
		<tr>
			<td>模板英文名</td>
			<td>${model.provinceName}</td>
		</tr>
		<tr>
			<td>报告类型</td>
			<td>${model.reportName}</td>
		</tr>
		<tr>
			<td>字段类型</td>
			<td>${model.field_type}</td>
		</tr>
		<tr>
			<td>字段长度</td>
			<td>${model.length}</td>
		</tr>
		<tr>
			<td>创建者</td>
			<td>${model.createName}</td>
		</tr>
		<tr>
			<td>创建时间</td>
			<td>${model.create_date}</td>
		</tr>
		<tr>
			<td>更新者</td>
			<td>${model.updateName}</td>
		</tr>
		<tr>
			<td>更新时间</td>
			<td>${model.update_date}</td>
		</tr>
	</table>
	<div style="height: 50px;clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
		<button class="btn btn-default" onclick="closeIframe();return false;">关 闭</button>
	  </div>
	</nav>
</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>

