<% var reportType = reportType.getReportTypeString(''); %>
<% DIRECTIVE SAFE_OUTPUT_OPEN; var headContent = {
include("/pages/template/head.html"){} %>
<script type="text/javascript">
	var oper = {
		save:function(){
			if(!validForm()) {
				return false;
			}
			var url = '/credit/reportmodulemanager/save';
			form1.action = url;
			form1.submit();
			return true;
		},
		reportchange:function(){
			var value=$("select[name='attr.report']").find("option:selected").attr("m-detail-name");
			console.log(value);
			$("input[name='attr.temp_name']").val(value);
		},
		typechange:function(){
			var value=$("select[name='moduletype']").find("option:selected").val();
			if(value==0){
				$(".parent").attr("disabled","disabled").hidden()
				$(".child").attr("disabled","disabled").hidden()
				$(".report").removeAttr("disabled").show()
			}else if(value==1){
				
			}else{
				
			}
		}
	};
</script>

<% }; var bodyContent = { %>
<form name="form1" action="" method="post" class="form-horizontal"
	role="form">
	
	<table class="table">
		<% // 列表头部%>
		
		<%if(model1.node_type=='0'){%>
			<tr>
				<td style="text-align: right;">报告类型</td>
				<td>
					<select name="attr.report" class="form-control" valid="vselect" validname="请选择报告类型"
					onchange="oper.reportchange()">
						${reportType}
					</select>
					<input  value= '${model1.temp_name}' type="hidden" name="attr.temp_name" />
					<input  value= '${model1.parent_temp}' type="hidden" name="attr.parent_temp" />
					<input  value= '${model1.create}' type="hidden" name="attr.create" />
					<input  value= '${model1.node_type}' type="hidden" name="attr.node_type" />
				</td>
			</tr>
		<%}else if(model1.node_type=='1' || model1.node_type=='2'){%>
			<tr>
				<td style="text-align: right;">模板名称</td>
				<td>
					<input class="form-control" type="text" name="attr.temp_name"
				value="" valid='vtext' validname='模板名称' />
					<input  value= '${model1.parent_temp}' type="hidden" name="attr.parent_temp" />
					<input  value= '${model1.create}' type="hidden" name="attr.create" />
					<input  value= '${model1.node_type}' type="hidden" name="attr.node_type" />
					<input  value= '${model1.report}' type="hidden" name="attr.report" />
				</td>
			</tr>
		<%}else{%>
			<tr>
				<td style="text-align: right;">模板类型</td>
				<select name="moduletype" class="form-control" valid="vselect" validname="请选择模板类型"
					onchange="oper.typechange()">
						<option value="">请选择模板类型</option>
						<option value="0">报告类型</option>
						<option value="1">父模板</option>
						<option value="2">子模板</option>
					</select>
			</tr>
			<tr class="report">
				<td style="text-align: right;">报告类型</td>
				<td>
					<select name="attr.report" onchange="" class="form-control" valid="vselect" validname="请选择报告类型">
						${reportType}
					</select>
					<input  value= '' type="hidden" name="attr.temp_name" />
					<input  value= '999' type="hidden" name="attr.parent_temp" />
					<input  value= '0' type="hidden" name="attr.node_type" />			
				</td>
			</tr>
			
			<tr class="parent">
				<td style="text-align: right;">报告类型</td>
				<td>
					<select name="attr.report" class="form-control" valid="vselect" validname="请选择报告类型">
						${reportType}
					</select>				
				</td>
			</tr>
			<tr class="parent">
				<td style="text-align: right;">父模板名称</td>
				<td>
					<input class="form-control" type="text" name="attr.temp_name"
				value="" valid='vtext' validname='模板名称' />
					<input  value= '${model.parent_temp}' type="hidden" name="attr.parent_temp" />
					<input  value= '${model.create}' type="hidden" name="attr.create" />
					<input  value= '${model.node_type}' type="hidden" name="attr.node_type" />
					<input  value= '${model.report}' type="hidden" name="attr.report" />
					<input  value= '${model.create_date}' type="hidden" name="attr.create_date" />
					<input  value= '${model.id}' type="hidden" name="attr.id" />				
				</td>
			</tr>
			<tr class="child">
				<td style="text-align: right;">报告类型</td>
				<td>
					<select name="attr.report" class="form-control" onchange="oper.reportchange2();" valid="vselect" validname="请选择报告类型">
						${reportType}
					</select>				
				</td>
			</tr>
			<tr class="child">
				<td style="text-align: right;">父模板名称</td>
				<td>
					<select name="attr.parent_temp" class="form-control" valid="vselect" validname="请选择父模板名称">
						
					</select>				
				</td>
			</tr>
			<tr class="child">
				<td style="text-align: right;">模板名称</td>
				<td>
					<input class="form-control" type="text" name="attr.temp_name"
				value="${model.temp_name}" valid='vtext' validname='模板名称' />
					<input  value= '${model.create}' type="hidden" name="attr.create" />
					<input  value= '${model.node_type}' type="hidden" name="attr.node_type" />
					<input  value= '${model.report}' type="hidden" name="attr.report" />
					<input  value= '${model.create_date}' type="hidden" name="attr.create_date" />
					<input  value= '${model.id}' type="hidden" name="attr.id" />				
				</td>
			</tr>
		<%}%>		
		
	</table>

	<div style="height: 50px; clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="container"
			style="padding: 5px 0px 5px 0px; text-align: center;">
			<button class="btn btn-primary"
				onclick="oper.save();return false;">保 存</button>
			<button class="btn btn-default" onclick="closeIframe();return false;">关
				闭</button>
		</div>
	</nav>
</form>
<%}; %> <%
layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){
%> <%} DIRECTIVE SAFE_OUTPUT_CLOSE; %>
