<% var reportType = reportType.getReportTypeString(model.report!''); %>
<% DIRECTIVE SAFE_OUTPUT_OPEN; var headContent = {
include("/pages/template/head.html"){} %>
<script type="text/javascript">
	var oper = {
		save:function(id){
			if(!validForm()) {
				return false;
			}
			var url = '/credit/reporttempmanager/save2?id='+id;
			form1.action = url;
			form1.submit();
			return true;
		},
		reportchange:function(){
			var value=$("select[name='attr.report']").find("option:selected").attr("m-detail-name");
			console.log(value);
			$("input[name='attr.temp_name']").val(value);
		},
	};
</script>

<% }; var bodyContent = { %>
<form name="form1" action="" method="post" class="form-horizontal"
	role="form">
	<input type="hidden" name="model.id" value="${model.id}" />
	<table class="table">
		<% // 列表头部%>
		
		<%if(model.node_type=='0'){%>
			<tr>
				<td style="text-align: right;">报告类型</td>
				<td>
					<select name="attr.report" class="form-control" valid="vselect" validname="请选择报告类型"
					onchange="oper.reportchange()">
						${reportType}
					</select>
					<input  value= '${model.temp_name}' type="hidden" name="attr.temp_name" />
					<input  value= '${model.parent_temp}' type="hidden" name="attr.parent_temp" />
					<input  value= '${model.create}' type="hidden" name="attr.create" />
					<input  value= '${model.node_type}' type="hidden" name="attr.node_type" />
					<input  value= '${model.create_date}' type="hidden" name="attr.create_date" />									
					<input  value= '${model.id}' type="hidden" name="attr.id" />				
				</td>
			</tr>
		<%}else {%>
			<tr>
				<td style="text-align: right;">模板名称</td>
				<td>
					<input class="form-control" type="text" name="attr.temp_name"
				value="" valid='vtext' validname='模板名称' />
					<input  value= '${model.parent_temp}' type="hidden" name="attr.parent_temp" />
					<input  value= '${model.create}' type="hidden" name="attr.create" />
					<input  value= '${model.node_type}' type="hidden" name="attr.node_type" />
					<input  value= '${model.report}' type="hidden" name="attr.report" />
					<input  value= '${model.create_date}' type="hidden" name="attr.create_date" />
					<input  value= '${model.id}' type="hidden" name="attr.id" />				
				</td>
			</tr>
		<%}%>		
		
	</table>

	<div style="height: 50px; clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="container"
			style="padding: 5px 0px 5px 0px; text-align: center;">
			<button class="btn btn-primary"
				onclick="oper.save('${model.id}');return false;">保 存</button>
			<button class="btn btn-default" onclick="closeIframe();return false;">关
				闭</button>
		</div>
	</nav>
</form>
<%}; %> <%
layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){
%> <%} DIRECTIVE SAFE_OUTPUT_CLOSE; %>
