<% var reportType = reportType.getReportTypeString(model.report_type!''); %>
<% var reportType2 = module.getReportModuleString(model.report_type!''); %>
<% var fieldType = tempDict.getListSysDictDetail4('fieldType',model.field_type); %>
<% DIRECTIVE SAFE_OUTPUT_OPEN; var headContent = {
include("/pages/template/head.html"){} %>
<script type="text/javascript">
	var oper = {
		save:function(id){
			if(!validForm()) {
				return false;
			}
			var url = '/credit/reportmodulemanager/save2?id='+id;
			form1.action = url;
			form1.submit();
			return true;
		},
		reportchange:function(){
			var value=$("select[name='attr.report_type']").find("option:selected").attr("m-detail-name");
			console.log(value);
			$("input[name='attr.temp_name']").val(value);
		},
		reportchange2:function(){
			var value=$("select[name='attr.report_type']").find("option:selected").attr("m-id");	
			$("input[name='attr.parent_temp']").val(value)
		},		
		reportchange3:function(){
			var value=$("select[name='attr.report_type']").find("option:selected").val();
			var html="";
			console.log(value)
			$.post("/credit/reportmodulemanager/findParentModules",{"report_type":value},function(data){
				console.log(data)
				for(item in data){
					if(${model.id}==data[item].id){
						html+="<option selected value='"+data[item].id+"'>"+data[item].temp_name+"</option>";
					}else{
						html+="<option  value='"+data[item].id+"'>"+data[item].temp_name+"</option>";
					}
					
				}
				$("select[name='attr.parent_temp']").html(html);
			})
		}
	};
</script>
<script type="text/javascript">
$(function(){
	oper.reportchange2();
	oper.reportchange3();
})
</script>

<% }; var bodyContent = { %>
<form name="form1" action="" method="post" class="form-horizontal"
	role="form">
	<input type="hidden" name="model.id" value="${model.id}" />
	<table class="table">
		<% // 列表头部%>
		
		<%if(model.node_leve=='0'){%>
			<tr>
				<td style="text-align: right;">报告类型</td>
				<td>
					<select name="attr.report_type" class="form-control" valid="vselect" validname="请选择报告类型"
					onchange="oper.reportchange()">
						${reportType}
					</select>								
				</td>
				<td style="text-align: right;">报告英文名称</td>
				<td>
					<input class="form-control" type="text" name="attr.temp_name_en"
				value="${model.temp_name_en}"  />									
				</td>
				<input  value= '${model.temp_name}' type="hidden" name="attr.temp_name" />
				<input  value= '${model.parent_temp}' type="hidden" name="attr.parent_temp" />
				<input  value= '${model.node_leve}' type="hidden" name="attr.node_leve" />
				<input  value= '${model.id}' type="hidden" name="attr.id" />	
			</tr>
		<%}else if(model.node_leve=='1'){%>
			<tr>
				<td style="text-align: right;">报告类型</td>
				<td>
					<select name="attr.report_type" class="form-control" valid="vselect" validname="请选择报告类型" onchange="oper.reportchange2()">
						${reportType2}
					</select>				
				</td>
			</tr>
			<tr>
				<td style="text-align: right;">父模板名称</td>
				<td>
					<input class="form-control" type="text" name="attr.temp_name"
				value="${model.temp_name}" valid='vtext' validname='父模板名称' />				
				</td>
				<td style="text-align: right;">父模板英文名称</td>
				<td>
					<input class="form-control" type="text" name="attr.temp_name_en"
				value="${model.temp_name_en}"  />									
				</td>
				<input  value= '${model.parent_temp}' type="hidden" name="attr.parent_temp" />
				<input  value= '${model.node_leve}' type="hidden" name="attr.node_leve" />
				<input  value= '${model.id}' type="hidden" name="attr.id" />
			</tr>
		<%}else{%>	
			<tr>
				<td style="text-align: right;">一级目录</td>
				<td>
					<select name="attr.report_type" class="form-control" onchange="oper.reportchange3();" valid="vselect" validname="请选择报告类型">
						${reportType2}
					</select>				
				</td>
				
			</tr>
			<tr>
				<td style="text-align: right;">二级目录</td>
				<td>
					<select name="attr.parent_temp" class="form-control" valid="vselect" validname="请选择父模板名称">
						
					</select>				
				</td>
				
			</tr>
			<tr>
				<td style="text-align: right;">模板名称</td>
				<td>
					<input class="form-control" type="text" name="attr.temp_name"
				value="${model.temp_name}" valid='vtext' validname='模板名称' />									
				</td>
			</tr>
				<tr>
				<td style="text-align: right;">模板字段类型</td>
				<td>
					<select name="attr.field_type" class="form-control" valid="vselect" validname="请选择字段类型">
						${fieldType!}
					</select>				
				</td>
				<input  value= '${model.node_leve}' type="hidden" name="attr.node_leve" />
				<input  value= '${model.id}' type="hidden" name="attr.id" />
			</tr>
		<%}%>	
		
	</table>

	<div style="height: 50px; clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="container"
			style="padding: 5px 0px 5px 0px; text-align: center;">
			<button class="btn btn-primary"
				onclick="oper.save('${model.id}');return false;">保 存</button>
			<button class="btn btn-default" onclick="closeIframe();return false;">关
				闭</button>
		</div>
	</nav>
</form>
<%}; %> <%
layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){
%> <%} DIRECTIVE SAFE_OUTPUT_CLOSE; %>
