<% var orderspeed = tempDict.getSysDictDetailString('orderspeed',model.order_speed !); %>
<% var ordertype = tempDict.getSysDictDetailString('ordertype',model.order_type !); %>
<% var countrytype = tempDict.getSysDictDetailString('country',model.country_type !); %>
<% var usabled = tempDict.getSysDictDetailString('usabled',model.usabled !); %>
<% var reportType = reportType.getReportTypeString(model.report_type!); %>
<% 
var headContent = {
	include("/pages/template/head.html"){}
};

var bodyContent = {
%>
<form name="form1" action="" method="post" class="form-horizontal">
	<!-- 数据列表 -->
		<table class="table">
		<tr>
				<td>序号</td>
				<td>${model.id}</td>
			</tr>
		<tr>
			<td>报告速度</td>
			<td>
			${model.orderSpeed!}
			</td>
			</tr>
			<tr>
			<td>报告类型</td>
			 <td> 
			${model.orderSpeed!}
			</td>
		</tr>
		<tr>
			<td>订单类型</td>
			<td>${model.orderType!}</td>
		</tr>
				<tr>
			<td>国家</td>
			<td>${model.countryName}</td>
		</tr>
			<tr>
			<td>报告点数</td>
			<td>${model.points}</td>
		</tr>
			<tr>
			<td>报告价格</td>
			<td>${model.price}</td>
		</tr>
			<tr>
			<td>币种</td>
			<td>${model.currency}</td>
		</tr>
		<tr>
			<td>是否禁用</td>
			<td> ${model.usabledName}</td>
		</tr>
		</table>
	<div style="height: 50px;clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
		<button class="btn btn-default" onclick="closeIframe();return false;">关 闭</button>
	  </div>
	</nav>
</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>

