<% var orderspeed = tempDict.getSysDictDetailString('orderspeed',model.order_speed !); %>
<% var ordertype = tempDict.getSysDictDetailString('ordertype',model.order_type !); %>
<% var countrytype = tempDict.getSysDictDetailString('country',model.country_type !); %>
<% var usabled = tempDict.getSysDictDetailString('usabled',model.usabled !); %>
<% var reportType = reportType.getReportTypeString(model.report_type!); %>
<% 
DIRECTIVE SAFE_OUTPUT_OPEN;
var headContent = {
	include("/pages/template/head.html"){}
	include("/pages/includes/my97.html"){}
%>
<script type="text/javascript">
var oper = {
	save:function(id){
		if(!validForm()) {
			return false;
		}
		id = id || '0';
		var url = 'credit/pricemanager/save/'+id;
		form1.action = url;
		form1.submit();
		return true;
	}	
	
};
</script>
<style>
.tags {
	line-height: 22px;
	height: 22px;
	border-top: 1px solid rgb(210, 210, 210);
}

.tags .tags_label {
	float: left;
	margin-right: 20px;
	margin-left: 5px;
	padding: 5px 1px 1px 3px;
}

.tags .tags_content {
	float: left;
	width: 500px;
	margin: 5px 5px 0 0;
	padding: 1px;
	border: 1px solid #ccc;
	background: #fff;
	vertical-align: middle;
}

.tags .tags_remark {
	padding: 5px 1px 1px 3px;
	color: #999999;
	font-size: 12px;
	z-index: 10000;
}
</style>

<%
};
var bodyContent = {
%>
<form name="form1" action="" method="post" class="form-horizontal">
	<input type="hidden" value="${item.detail_id}" />
	<!-- 数据列表 -->
	<table class="table">
	<tr>
			<td>版本</td>
			 <td><input type="text" name="model.versions" class="form-control" 
				value="标准版"/></td>	
		</tr>
		<tr>
			<td>报告速度</td>
			<td>
			  <select name="model.order_speed" class="form-control" style="width: 200px;">
					${orderspeed!}
				</select> 
			</td>
		</tr>
		<tr>
			<td>报告类型</td>
			 <td> 
				 <select name="model.report_type" class="form-control" style="width: 200px;">
							${reportType!}
				</select> 
			</td>
		</tr>
		<tr>
			<td>国家</td>
			<td><select name="model.country_type" class="form-control" style="width: 200px;">
						${countrytype!}
			</select> </td>
		</tr>
		<tr>
			<td>订单类型</td>
			<td>  <select name="model.order_type" class="form-control" style="width: 200px;">
						${ordertype!}
			</select> </td>
		</tr>
		<tr>
			<td>报告点数</td>
			<td><input type="text" name="model.points" class="form-control" 
				value="${model.points!}" /></td>
		</tr>
		
		<tr>
			<td>报告价格</td>
			<td><input type="text" name="model.price" class="form-control" 
				value="${model.price!}"/></td>
		</tr>
		<tr>
			<td>币种</td>
			<td><input type="text" name="model.currency" class="form-control" 
				value="${model.currency!}"/></td>
		</tr>
		<tr>
			<td>是否禁用</td>
			<td> <select name="model.usabled" class="form-control" style="width: 200px;">
					${usabled!}
			</select></td>
		</tr>
				<tr>
			<td>创建日期</td>
			<td><input type="text" name="model.create_date" class="form-control" 
				value="${model.create_date}" validname="创建日期" 
					 placeholder="创建日期" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"/></td>
	</tr>
			</tr>
			<tr>
			
		</tr>
	</table>
	<div style="height: 50px;clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
	  		<button class="btn btn-primary" onclick="oper.save(${model.id!'0'});return false;">确定</button>
			<button class="btn btn-default" onclick="closeIframe();return false;">取消</button>
	  </div>
	</nav>
</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
DIRECTIVE SAFE_OUTPUT_CLOSE;
<%} %>

