<% 
var headContent = {
	include("/pages/template/head.html"){}
};

var bodyContent = {
%>
<form name="form1" action="" method="post" class="form-horizontal" role="form">
	<!-- 数据列表 -->
	<table class="table">
		<%  // 列表头部 %>
			
			<tr>
				<td>报告类型</td>
				<td>${model.reportType!''}</td>
			</tr>
			<tr>
				<td>报告速度</td>
				<td>${model.reportSpeed!''}</td>
			</tr>
			<tr>
				<td>国家</td>
				<td>${model.countryType!''}</td>
			</tr>
			<tr>
				<td>订单类型</td>
				<td>${model.orderType!''}</td>
			</tr>
			<tr>
				<td>时间<s>(单位小时)</s></td>
				<td>${model.use_time!''}</td>
			</tr>
			<tr>
				<td>是否启用</td>
				<td>${model.usabled!''}</td>
			</tr>
			<tr>
				<td>修改时间</td>
				<td>${model.update_date,dateFormat="yyyy-MM-dd HH:mm:ss"}</td>
			</tr> 
			<tr>
				<td>创建人</td>
				<td>${model.realname!''}</td>
			</tr>
	</table>
	
	<div style="height: 50px;clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
		<button class="btn btn-default" onclick="closeIframe();return false;">关 闭</button>
	  </div>
	</nav>
</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>