
<div id="tab2" class="box selected">
    <div id="tab2_left">
        <!--分页按钮-->
        <div class="fenye">
            <div class="first"><img src="${contextPath!}/static/img/tab2/previous-page-grey.png" alt=""></div>
            <div class="last"><img src="${contextPath!}/static/img/tab2/next-page-blue.png" alt=""></div>
        </div>
        <!--运营状态-->
        <div class="yunying">
            <!--设施状态-->
            <div class="yunying_left content_box">
                <div class="box_title">设备状态</div>
                <div class="yunying_left_top">
                    <div class="rate">
                        <div class="title">实验室在线率</div>
                        <div class="title">设备完好率</div>
                        <div class="title">设备负荷率</div>
                    </div>
                    <div class="echarts_box">
                        <div id="myChart1"></div>
                    </div>
                </div>
                <div class="yunying_left_bottom">
                    <div class="shebei_chanxian">
                        <table id="tab2_equipment_table_0"></table>
                    </div>
                    <div class="shebei_chanxian">
                        <table id="tab2_equipment_table_1"></table>
                    </div>
                    <div class="shebei_chanxian">
                        <table id="tab2_equipment_table_2"></table>
                    </div>
                </div>
            </div>
            <!--人员状态-->
            <div class="yunying_right content_box">
                <div class="box_title">人员状态</div>
                <div class="yunying_left_top yunying_right_top">
                    <div class="rate">
                        <div class="title">学历</div>
                        <div class="title">工作年限</div>
                        <div class="title">资历</div>
                    </div>
                    <div class="echarts_box">
                        <ul id="tab1_person_detail_1"></ul>
                        <ul id="tab1_person_detail_2"></ul>
                        <ul id="tab1_person_detail_3"></ul>

                    </div>
                </div>
                <div class="yunying_left_bottom yunying_right_top">
                    <div class="renyuan_box">
                        <div id="myChart25"></div>
                    </div>
                    <div class="renyuan_box">
                        <div id="myChart26"></div>
                    </div>
                    <div class="renyuan_box">
                        <div id="myChart27"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--下一页-->
    <div id="tab2_right" class="right_nextpage">
        <!--分页按钮-->
        <div class="fenye">
            <div class="first"><img src="${contextPath!}/static/img/tab2/previous-page-blue.png" alt=""></div>
            <div class="last"><img src="${contextPath!}/static/img/tab2/next-page-grey.png" alt=""></div>
        </div>
        <!--运营状态-->
        <div class="yunying">
            <!--标准状态-->
            <div class="yunying_left content_box">
                <div class="box_title">标准状态</div>
                <div class="yunying_left_top">
                    <div class="normal_rate_left">
                        <ul>
                            <li id="reviseNum" class="num">1234</li>
                            <li>标准起草数</li>
                        </ul>
                        <ul>
                            <li id="standardNum" class="num">1365</li>
                            <li>标准总数</li>
                        </ul>
                    </div>
                    <div class="normal_rate_right">
                        <div class="biaozhun_line"></div>
                        <div id="myChart2"></div>
                    </div>
                </div>
                <div class="yunying_left_bottom">
                    <div class="bottom_left">
                        <div class="rate">
                            <div class="title">海尔参与制定标准数</div>
                        </div>
                        <div class="biaozhun_left_left">
                            <div class="biaozhun_world">
                                <ul>
                                    <li id="tab1_gjibz_id">0</li>
                                    <li>国际标准</li>
                                </ul>
                            </div>
                            <div class="biaozhun_country">
                                <ul>
                                    <li id="tab1_gjiabz_id">0</li>
                                    <li>国家标准</li>
                                </ul>
                            </div>
                            <div class="biaozhun_hangye">
                                <ul>
                                    <li id="tab1_hybz_id">0</li>
                                    <li>行业标准</li>
                                </ul>
                            </div>
                            <div class="biaozhun_qiye">
                                <ul>
                                    <li id="tab1_qybz_id">0</li>
                                    <li>企业标准</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="bottom_right">
                        <div class="rate">
                            <div class="title">海尔产品涉及标准数</div>
                        </div>
                        <div class="biaozhun_right_echarts">
                            <div class="biaozhun_box">
                                <div class="biaozhun_box_echarts">
                                    <div id="myChart28"></div>
                                </div>
                                <div class="biaozhun_box_echarts">
                                    <div id="myChart29"></div>
                                </div>
                                <div class="biaozhun_box_echarts">
                                    <div id="myChart30"></div>
                                </div>
                                <div class="biaozhun_box_echarts">
                                    <div id="myChart31"></div>
                                </div>
                            </div>
                            <div class="biaozhun_tabs">
                                <ul>
                                    <li class="biaozhun_tabs_unselected biaozhun_tabs_selected">国际标准</li>
                                    <li class="biaozhun_tabs_unselected">国家标准</li>
                                    <li class="biaozhun_tabs_unselected">行业标准</li>
                                    <li class="biaozhun_tabs_unselected">企业标准</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--能力状态-->
            <div class="yunying_right content_box">
                <div class="box_title">能力状态</div>
                <div class="yunying_left_top yunying_right_top">
                    <div class="nengli_top">
                        <div id="myChart3"></div>
                    </div>
                </div>
                <div class="yunying_left_bottom yunying_right_top">
                    <div class="nengli_bottom">
                        <div class="rate">
                            <div class="title">具备测试能力的标准数</div>
                        </div>
                        <div class="nengli_bottom_box">
                            <div id="myChart32"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(function () {
	loadTab2Data();
});
</script>
