<head>
    <link rel="stylesheet" href="${contextPath!}/static/css/tab3.css">
</head>
<div id="tab3" class="box shuju_result">
    <div class="pageSwitch">
        <span class="page_pre"></span>
        <span class="page_next"></span>
    </div>
    <div class="pageSwitch">
        <span class="page_pre"></span>
        <span class="page_next"></span>
    </div>
    <div id="t3_l">
        <div class="t3_l_1">
            <span class="title">订单类别</span>
            <div class="divideLine"></div>
            <div class="t3_l_1_top">
                <div class="zhengJi ">
                    <h4>整机订单数</h4>
                    <div class="num orange">23456</div>
                </div>
                <div class="mokuai">
                    <h4 >整机订单数</h4>
                    <div class="num orange">23456</div>
                </div>
            </div>
            <div class="t3_l_1_bottom">
                <h3>各产品订单类别</h3>
                <div class="btnGroup">
                    <span class="active">整机</span>
                    <span class="">模块</span>
                </div>
                <div id="myChart39"></div>
            </div>
        </div>
        <div class="t3_l_2">
            <span class="title">一次合格率</span>
            <div class="divideLine"></div>
            <div class="t3_l_2_top">
                <p class="explain">
                    当年一次合格率 <strong class="orange">96%</strong>
                    <br>同比上升 <strong class="orange">3%</strong>
                </p>
                <div id="myChart43"></div>
            </div>
            <div class="t3_l_2_bottom">
                <h3>各产品一次合格率</h3>
                <div class="btnGroup">
                    <span class="active">整机</span>
                    <span class="">模块</span>
                </div>
                <div id="myChart41"></div>
            </div>
        </div>
        <div class="t3_l_3">
            <span class="title">问题闭环率</span>
            <div class="divideLine"></div>
            <div class="t3_l_3_top">
                <p class="explain">
                    当年问题闭环率 <strong class="orange">96%</strong>
                    <br>同比上升 <strong class="orange">3%</strong>
                </p>
                <div id="myChart44"></div>
            </div>
            <div class="t3_l_3_bottom">
                <h3>各产品问题闭环率</h3>
                <div class="btnGroup">
                    <span class="active">整机</span>
                    <span class="">模块</span>
                </div>
                <div id="myChart42"></div>
            </div>
        </div>
    </div>
    <div id="t3_r">
        <div class="t3_r_1">
            <span class="title">订单及时率</span>
            <div class="divideLine"></div>
            <div class="t3_r_1_top">
                <p class="explain">
                    当年订单及时率 <strong class="orange">96%</strong> ,
                    同比上升 <strong class="orange">3%</strong>
                </p>
                <div id="myChart6"></div>
            </div>
            <div class="t3_r_1_bottom">
                <div class="t3_r_1_bottom_l">
                    <h3>订单及时率同比变化</h3>
                    <div id="myChart45"></div>
                </div>
                <div class="t3_r_1_bottom_r">
                    <h3>订单及时率趋势变化</h3>
                    <div id="myChart46"></div>
                </div>
            </div>
        </div>
        <div class="t3_r_2">
            <span class="title">用户满意度</span>
            <div class="divideLine"></div>
            <div class="t3_r_2_top">
                <p class="explain">
                    当年用户满意度 <strong class="orange">96%</strong> ,
                    同比上升 <strong class="orange">3%</strong>
                </p>
                <div id="myChart7"></div>
            </div>
            <div class="t3_r_2_bottom">
                <div class="t3_r_2_bottom_l">
                    <h3>用户满意度同比变化</h3>
                    <div id="myChart47"></div>
                </div>
                <div class="t3_r_2_bottom_r">
                    <h3>用户满意度趋势变化</h3>
                    <div id="myChart49"></div>
                </div>
            </div>
        </div>
    </div>

    <!--    <div class="shuju_result_top">
            <div class="shuju_result_top_left">
                <div class="shuju_title">订单类别</div>
                <ul>
                    <li class="order_left">
                        <div class="order_all">
                            <ul>
                                <li>整机订单总数</li>
                                <li class="sheshi_num" id="tab3_zj_order_type"></li>
                            </ul>
                            <ul>
                                <div id="myChart39"></div>
                            </ul>
                        </div>
                    </li>
                    <li class="order_left">
                        <div class="order_all">
                            <ul>
                                <li>模块订单总数</li>
                                <li class="sheshi_num" id="tab3_mk_order_type"></li>
                            </ul>
                            <ul>
                                <div id="myChart40"></div>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="shuju_result_top_center">
                <div class="shuju_title">一次合格率</div>
                <ul>
                    <li class="order_left">
                        <div class="order_all">
                            <ul>
                                <li>整机</li>
                                <li class="sheshi_num" id="once_pass_rate_zj"></li>
                            </ul>
                            <ul>
                                <div id="myChart41"></div>
                            </ul>
                        </div>
                    </li>
                    <li class="order_left">
                        <div class="order_all">
                            <ul>
                                <li>模块</li>
                                <li class="sheshi_num" id="once_pass_rate_mk"></li>
                            </ul>
                            <ul>
                                <div id="myChart42"></div>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="shuju_result_top_right">
                <div class="shuju_title">问题闭环率</div>
                <ul>
                    <li class="order_left">
                        <div class="order_all">
                            <ul>
                                <li>整机</li>
                                <li class="sheshi_num" id="tab3_question_closed_zj"></li>
                            </ul>
                            <ul>
                                <div id="myChart43"></div>
                                &lt;!&ndash;<div class="labLine"></div>&ndash;&gt;
                            </ul>
                        </div>
                    </li>
                    <li class="order_left">
                        <div class="order_all">
                            <ul>
                                <li>模块</li>
                                <li class="sheshi_num" id="tab3_question_closed_mk"></li>
                            </ul>
                            <ul>
                                <div id="myChart44"></div>
                                &lt;!&ndash;<div class="labLine"></div>&ndash;&gt;
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="shuju_result_bottom">
            <div class="shuju_result_bottom_left">
                <div class="shuju_title1">订单及时率</div>
                <ul>
                    <li class="order_left">
                        <div class="order_all">
                            <div class="order_all_name">
                                <ul>
                                    <li>2016年及时率</li>
                                    <li class="sheshi_num" id="order_year_rate_2016"></li>
                                </ul>
                                <ul>
                                    <li>2017年及时率</li>
                                    <li class="sheshi_num"  id="order_year_rate_2017"></li>
                                </ul>
                            </div>

                            <div id="myChart45"></div>

                        </div>
                    </li>
                    <li class="order_left">
                        <div class="order_all">
                            &lt;!&ndash;<ul class="order_all_name">&ndash;&gt;
                            &lt;!&ndash;<li>2017年及时率</li>&ndash;&gt;
                            &lt;!&ndash;<li class="sheshi_num" ><span id="order_year_rate_2017">96% </span><span><img src="${contextPath!}/static/img/sheshiState/rise.png"&ndash;&gt;
                            &lt;!&ndash;alt=""></span><span&ndash;&gt;
                            &lt;!&ndash;class="up_num" id="order_year_rate_up_2017">0.05%</span></li>&ndash;&gt;
                            &lt;!&ndash;</ul>&ndash;&gt;
                            &lt;!&ndash;<ul>&ndash;&gt;
                            <div class="myChart46_name">订单及时率趋势变化</div>
                            <div id="myChart46"></div>
                            &lt;!&ndash;</ul>&ndash;&gt;
                        </div>
                    </li>
                </ul>
            </div>
            <div class="shuju_result_bottom_right">
                <div class="shuju_title1">用户满意度</div>
                <div class="jiance_left">
                    <ul>
                        <li class="order_left">
                            <div class="order_all">
                                <ul>
                                    <li>2016年满意度</li>
                                    <li class="sheshi_num" id="tab3_user_my_hb"></li>
                                </ul>
                                <ul>
                                    <div id="myChart47"></div>
                                </ul>
                            </div>
                        </li>
                        <li class="order_left">
                            <div class="order_all">
                                <ul>
                                    <li>2017年满意度</li>
                                    <li class="sheshi_num" id="tab3_user_my_tq"></li>
                                </ul>
                                <ul>
                                    <div id="myChart48"></div>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="jiance_right">
                    <div class="jiance_right_name">用户满意度趋势变化</div>
                    <div id="myChart49"></div>
                </div>
            </div>
        </div>-->
</div>


<script>
$(function () {
    //右上角切换页面的按钮
    $(".pageSwitch:nth-of-type(1)>span.page_next").click(function () {
        $(this).parents(".box").css("left","-100%")
    });
    $(".pageSwitch:nth-of-type(2)>span.page_pre").click(function () {
        $(this).parents(".box").css("left",0)
    })

    //整机和模块的切换
    $("#tab3").find(".btnGroup > span").click(function () {
        $(this).addClass("active").siblings().removeClass("active")
    })
})
</script>