
<div id="tab3" class="box shuju_result">
    <div class="pageSwitch">
        <span class="page_pre"></span>
        <span class="page_next"></span>
    </div>
    <div class="pageSwitch">
        <span class="page_pre"></span>
        <span class="page_next"></span>
    </div>
    <div id="t3_l">
        <div class="t3_l_1">
            <span class="title">订单类别</span>
            <div class="divideLine"></div>
            <div class="t3_l_1_top">
                <div class="zhengJi ">
                    <h4>整机订单数</h4>
                    <div class="num orange new_tab3_zj_order_type"></div>
                </div>
                <div class="mokuai">
                    <h4 >模块订单数</h4>
                    <div class="num orange new_tab3_mk_order_type"></div>
                </div>
            </div>
            <div class="t3_l_1_bottom">
                <h3>各产品订单类别</h3>
                <div class="btnGroup">
                    <span class="active" onclick=orderTypeAjax('myChart39','整机','30',this)>整机</span>
                    <span class="" onclick=orderTypeAjax('myChart39','模块','240',this)>模块</span>
                </div>
                <div id="myChart39"></div>
            </div>
        </div>
        <div class="t3_l_2">
            <span class="title">一次合格率</span>
            <div class="divideLine"></div>
            <div class="t3_l_2_top">
                <p class="explain new_hg_rate_tab3">
               
                </p>
                <div id="myChart43"></div>
            </div>
            <div class="t3_l_2_bottom">
                <h3>各产品一次合格率</h3>
                <div class="btnGroup">
                    <span class="active" onclick=findOrderPassForProAjax('myChart41','整机',this)>整机</span>
                    <span class=""  onclick=findOrderPassForProAjax('myChart41','模块',this)>模块</span>
                </div>
                <div id="myChart41"></div>
            </div>
        </div>
        <div class="t3_l_3">
            <span class="title">问题闭环率</span>
            <div class="divideLine"></div>
            <div class="t3_l_3_top">
                <p class="explain new_bh_rate_tab3">
                </p>
                <div id="myChart44"></div>
            </div>
            <div class="t3_l_3_bottom">
                <h3>各产品问题闭环率</h3>
                <div class="btnGroup">
                    <span class="active" onclick=productLineForTab3Tab3Ajax('myChart42','0',this)>整机</span>
                    <span class="" onclick=productLineForTab3Tab3Ajax('myChart42','1',this)>模块</span>
                </div>
                <div id="myChart42"></div>
            </div>
        </div>
    </div>
    <div id="t3_r">
        <div class="t3_r_1">
            <span class="title">订单及时率</span>
            <div class="divideLine"></div>
            <div class="t3_r_1_top">
                <p class="explain tab3_new_order_rate">
                </p>
                <div id="myChart6"></div>
            </div>
            <div class="t3_r_1_bottom">
                <div class="t3_r_1_bottom_l">
                    <h3>订单及时率同比变化</h3>
                    <div id="myChart45"></div>
                </div>
                <div class="t3_r_1_bottom_r">
                    <h3>订单及时率趋势变化</h3>
                    <div id="myChart46"></div>
                </div>
            </div>
        </div>
        <div class="t3_r_2">
            <span class="title">用户满意度</span>
            <div class="divideLine"></div>
            <div class="t3_r_2_top">
                <p class="explain tab3_new_user_manyi">
                </p>
                <div id="myChart7"></div>
            </div>
            <div class="t3_r_2_bottom">
                <div class="t3_r_2_bottom_l">
                    <h3>用户满意度同比变化</h3>
                    <div id="myChart47"></div>
                </div>
                <div class="t3_r_2_bottom_r">
                    <h3>用户满意度趋势变化</h3>
                    <div id="myChart49"></div>
                </div>
            </div>
        </div>
    </div>

</div>


<script>
$(function () {
    //右上角切换页面的按钮
    $(".pageSwitch:nth-of-type(1)>span.page_next").click(function () {
        $(this).parents(".box").css("left","-100%")
    });
    $(".pageSwitch:nth-of-type(2)>span.page_pre").click(function () {
        $(this).parents(".box").css("left",0)
    })

    //整机和模块的切换
    $("#tab3").find(".btnGroup > span").click(function () {
        $(this).addClass("active").siblings().removeClass("active")
    });
    // loadTab3Data();
})
</script>
