<% var field_type = tempDict.getSysDictDetailCode('fieldType',model.field_type!);%>
<%
DIRECTIVE SAFE_OUTPUT_OPEN;
var headContent = {
include("/pages/template/head.html"){}
%>
<script type="text/javascript">
    var oper = {
        save:function(){
            if(!validForm()) {
                return false;
            }
            var url = 'credit/reportColumn/addColumn';
            form1.action = url;
            form1.submit();
            return true;
        },
        list : function() {
            var url = 'credit/reportColumn/add';
            form1.action = url;
            form1.submit();
        }
    };

    //分页
    var paginator = function(page) {
        oper.list();
    };
</script>

<%
};
var bodyContent = {
%>
<form name="form1" action="" method="post" class="form-horizontal"
      role="form" >
    <input type="hidden" name="pid" value="${pid}" />
    <table class="table">
        <thead>
        <tr>
            <th name="t.name" class="sorting">字段名称</th>
            <!--<th name="t.name_en" class="sorting">字段类型</th>-->
            <th name="t.name_trad" class="sorting">表字段名</th>
            <th name="t.remark" class="sorting">备注</th>
            <th>操作</th>
        </tr>
        </thead>
        <% for(item in page.list){ %>
        <tr>
            <td>${item.temp_name }</td>
            <!--<td>${item.id }</td>-->
            <td>${item.column_name }</td>
            <td>${item.remark }</td>
            <td><input type="checkbox" name="columnId" value="${item.id}"/></td>
        </tr>
        <% } %>
        <tr>
            <td colspan="4"><%include("/pages/includes/paginator.html"){} %></td>
        </tr>

    </table>

    <div style="height: 10px;clear: both;">&nbsp;</div>
    <nav class="navbar navbar-default navbar-fixed-bottom" style="margin-top: 70px;">
        <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
            <button class="btn btn-primary" onclick="oper.save();return false;">保 存</button>
            <button class="btn btn-default" onclick="closeIframe();return false;">关 闭</button>
        </div>
    </nav>

</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%}
DIRECTIVE SAFE_OUTPUT_CLOSE;
%>