<%
var headContent = {
include("/pages/template/head.html"){}
};
%>
<% var folderType = tempDict.getSysDictDetailByType('dataEntryType'); %>

<script type="text/javascript">

  
</script>

<%
var bodyContent = {
%>
<form name="form1" action="" method="post" class="form-horizontal" role="form">
	<!-- 数据列表 -->
	<table class="table">
		<%  // 列表头部 %>
		<tr>
			<td>客户ID</td>
			<td>${model.custom_id}</td>
		</tr>
		<tr>
			<td>客户用户名</td>
			<td>
				${model.customName}
			</td>
		</tr>
		<tr>
			<td>接单日期</td>
			<td>
				${model.receiver_date}
			</td>
		</tr>
		<tr>
			<td>地区</td>
			<td>
	   			${model.continentName}
			</td>
		</tr>
		<tr>
			<td>国家</td>
			<td>
	   			${model.countryName}
			</td>
		</tr>
		<tr>
			<td>报告类型</td>
			<td>
	   			${model.reportType}
			</td>
		</tr>
		<tr>
			<td>报告速度</td>
			<td>
	   			${model.reportSpeed}
			</td>
		</tr>
		<tr>
			<td>报告用时</td>
			<td>
	   			${model.user_time}
			</td>
		</tr>
		<tr>
			<td>费用</td>
			<td>
	   			${model.price}
			</td>
		</tr>
		<tr>
			<td>报告语言</td>
			<td>
	   			${model.reportLanguage}
			</td>
		</tr>
		<tr>
			<td>公司ID</td>
			<td>
	   			${model.company_id}
			</td>
		</tr>
		<tr>
			<td>公司名称</td>
			<td>
	   			${model.companyName}
			</td>
		</tr>
		<tr>
			<td>公司英文名称</td>
			<td>
	   			${model.englishName}
			</td>
		</tr>
		<tr>
			<td>订单号</td>
			<td>${model.id}</td>
		</tr>
		<tr>
			<td>处理状态</td>
			<td>
				<%if(model.status=='0'){%>
					提交订单
				<%}%>
				<%if(model.status=='1'){%>
					订单分配
				<%}%>
				<%if(model.status=='2'){%>
					处理中
				<%}%>
				<%if(model.status=='3'){%>
					按照流程处理完毕
				<%}%>
				<%if(model.status=='4'){%>
					订单取消
				<%}%>
				<%if(model.status=='5'){%>
					有相同报告,订单结束
				<%}%>			
		</td>
		</tr>
	</table>

	<div style="height: 50px;clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
			<button class="btn btn-default" onclick="closeIframe();return false;">关 闭</button>
		</div>
	</nav>
</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>