#orderForm{
	padding-right: 6rem;
}
#orderForm select,input,textarea{
	color:#ccc;
}
#orderForm input::-webkit-input-placeholder{
	color:#ccc !important;
}
#orderForm textarea::-webkit-input-placeholder{
	color:#ccc !important;
}
.create-order {
    height: 6.25rem;
	box-shadow: 0px 1px 3px 1px #ccc;
    background: #fff;
    margin-bottom: 0.4rem;
}
.user-info {
    padding-left: 2.625rem;
}
.regards {
    font-size: 1.5rem;
    font-weight: 600;
}
.table-content{
	height: auto;
	margin:1.25rem;
	background: #fff;
	padding-top: 0;
	overflow:hidden;
}
.table-content label{
	font-size: 1rem;
    font-weight: 600;
    justify-content: flex-end;
	padding-right: 15px;
}
.table-content label span{
	color:#f00;
	font-size: 1.2rem;
	margin-right:0.3rem;
}
.right-btn {
	padding-right: 9rem;
}
.myBtn{
	margin-top: 1.5rem!important;
	margin-right:0!important;
}
.btn-submit{
    margin-right: 1.5rem!important;
}
#btn_download i{
	margin-right:5px;
}

.breadcrumb-item a{
	color:#999!important;
}
/*提示信息*/
.errorInfo{
	color:#F75760;
	position: absolute;
	right:0;
	text-align: left;
	top:2.5rem;
	padding:0 .75rem;
	display: none;
}
#orderForm input.active, #orderForm select.active{
	border-color:#f00;
}

/*进度条*/
.progress-box {
	position: absolute;
	display: flex;
	justify-content: space-around;
	align-content: center;
    left: 10rem;
    top: 10.5rem;
    width: 80%;
}
.progress {
	width: 68%;
}
.close span{
	box-shadow: none;
}
.filename {
	color: #2592fc;
}
.fa-paperclip {
	transform: rotateX(180deg);
	color: #808080;
}

.table-modal-content {
	height: 28rem;
}

.err-box {
	display: none;
	height: 8rem;
	width: -webkit-fill-available;
    background: #fff1f0;
	border: solid 1px #ffa39e;
	border-radius: 4px;
	margin: 0 2rem;
	padding: .5rem;
	overflow-y: auto;
}
.err-box span {
	color: #f5222d;
}

.tips-box {
	display: none;
	height: 8rem;
	width: -webkit-fill-available;
    background: #f6ffed;
	border: solid 1px #95de64;
	border-radius: 4px;
	margin: 0 2rem;
	padding: .5rem;
	overflow-y: auto;
}
.tips-box span {
	color: #52c41a;
}

.fa-download {
	margin-right: .5rem;
}

/*附件*/
.file-upload-box{
	padding-left: 8rem;
}
.uploadFile img{
	margin: 0 auto;
}
.uploadFile{
	margin-left: 0.5rem;
}
.file-upload{
	border: none !important;
}

#checkedModal .modal-dialog.modal-dialog-centered {
	max-width: 25%!important;
}
#checkedModalLongTitle {
	padding-top: .7rem;
	color: var(--activeColor);
}
#checkedModalLongTitle img {
	width: 26px;
	height: 26px;
	margin-right: 1rem;
}
.modal-label {
	font-weight: 600;
}
.modal-content {
	min-height: auto;
}