.form-box {
    overflow: hidden;
}
.order-form {
    border-top: solid 1px #ddd;
    padding-top: 2rem;
}
#reporter_select {
    width: 16.375rem;
    border-color:#ddd;
    border-radius: 4px;

}
.control-label {
    width: 6rem;
    text-align: right;
    white-space: nowrap;
}
textarea {
    border-color:#ddd;
    border-radius: 4px;
    resize: none;
    overflow-x: hidden;
    overflow-y: auto;
}
.table-content #table tbody tr td:first-of-type {
    color: var(--activeColor);
    cursor: pointer;
}
.table-search-input {
    margin: 1.25rem 0 0 0;
}
.right-btn{
    margin-top: 1.25rem;
}
