
/*内容展示 start*/
.order-detail{
    padding-top: 0;
}

.change_record_table{
    padding: 0 2rem;
}


.shareholder_title{
    margin-left: 2.25rem;
    border-bottom: 0;
    padding: 1rem 0 0 0;
}
.invest_situation{
    padding: 0;
}

h3.company_info{
    padding-bottom: 0.5rem;
}
.table_summary_title{
    margin-top: 2rem;
}
.change_record{
    padding-top: 0;
}
.manage-info-box{
    border: 1px solid #e6e6e6;
    border-top: 0;
    padding-top: 0.5rem;
}

/*内容展示 end*/
.accessory_box{
    display: flex;
}

/********* add by ljl 2018-12-03 *********/

/*基本类型*/
@media all {
    .module-wrap {
        padding-bottom: 1rem;
    }
    .module-content{
        padding: 0;
    }
    table > thead {
        background-color: var(--bg-thead);
    }

    table > thead th {
        /*min-width: 8rem;*/
    }

    .bar_box {
        padding-left: 2rem;
    }

    .bar_box ul li:first-child .span_bar {
        visibility: hidden;
    }

    h4 {
        margin: 2rem 0 1rem 0;
        font-size: 1.125rem;
        font-weight: bold;
    }

    .type11-content h4:nth-of-type(2) {
        margin-bottom: -2rem;
    }

    .order-content [id],
    .multiText {
        color: var(--fontColor);
    }

    .process li {
        vertical-align: top;
    }

    .process li.current span {
        color: var(--fontTitleColor);
        font-weight: bold;
    }

}

/*商业类型*/
@media all {
    .credit-level-title {
        /*padding-left: 2rem;*/
        font-size: 1.125rem;
        font-weight: bold;
        color: var(--fontTitleColor);
    }

    .credit-level-title strong {
        font-size: 1.25rem;
        color: var(--activeColor);
    }

    .credit-level-title .myExplain {
        color: var(--fontColor);
        font-weight: normal;
    }

    h4 {
        margin-top: 1rem;
    }

    .type8-content ul {
        padding-left: 1rem;
        color: var(--fontColor);
    }

    .type8-content ul > li {
        display: inline-block;
        margin: 1rem;
        margin-right: .5rem;
    }

}

/*102类型*/
@media all {
    [type=radio] {
        position: relative;
        top: .25rem;
        margin-left: 1rem;
        margin-right: .25rem;
        pointer-events: none;
    }
}
/*质检类型的表单*/
@media all {
    .type23-content {
        color: var(--fontTitleColor);
    }

    .type23-content #grade {
        display: inline;
        width: 3rem;
        text-align: right;
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--activeColor);
    }

    .type23-content .unit {
        font-size: 1rem;
        margin-left: .25rem;
    }
    .select2Box label{
        margin-right: -4rem;
    }
    .select2-container .select2-selection--multiple{
        min-height: 2.5rem;
        border-color: #ced4da;
    }
}
