.company_info>span{
    color:var(--activeColor) !important;
    font-size: 2rem;
}
.credit_info{
    padding: 0 2rem;
}
.credit_info>p{
    line-height: 2rem;
    color: var(--fontColor);
}
.credit_info p:first-of-type{
    font-size: 1.25rem;
    font-weight: 600;
    color: #1A1A1A;
}
.order-detail .credit_info>p>span{
    padding: 0 1rem 0 0;
    width: 10rem;
    display: inline-block;
    text-align: left;
    font-weight: 400;
    color: var(--fontColor);
}
.shareholder_title{
    border-bottom: 0;
}
.table_summary_content>.form-check>label{
    display: inline-block;
    text-align: left;
    font-weight: 400;
    color: var(--fontColor);
}
/*单选框样式重置 start*/
.form-check{
    display: inline-block;
    width: 8rem;
}
.form-check-inline .form-check-input{
    position: relative;
    top: 0.125rem;
}
/*单选框样式重置 end*/
.table_summary>p{
    font-size: 1.125rem;
    color: var(--fontColor);
    line-height: 2rem;
}
.form-check-label {
     margin-left:0;
}
.table-header{
    line-height: 3rem;
    background-color: #fafafa;
    text-align: right;
    padding-right: 5rem;
}
.table-header-center{
    text-align: center;
    border-bottom: 1px solid rgb(229,229,229);
}
.table-header-center>span,.table-sub-header>span,.table-header>span{
    color: black !important;
}
.table-sub-header{
    background-color: white;
    border-bottom: 1px solid rgb(229,229,229);
}
.table-finance .bootstrap-table{
    margin-top: 0;
}
.table-finance .bootstrap-table .table > thead > tr > th {
    background: white;
}
.table-finance .bootstrap-table .fixed-table-header {
    background: white;
}
.table_summary{
    margin-top: 0;
}