body{
	font-family: "Microsoft yahei", 微软雅黑, "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#echartTips {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1500
}

.echart_tip {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
}

.echart_tip.fade_out {
    transition-delay: 2s;
    opacity: 0;
    transition: opacity 2000ms;
    -moz-transition: opacity 2000ms;
    -webkit-transition: opacity 2000ms;
    -o-transition: opacity 2000ms;

}

.echart_tip.fade_in {
    transition-delay: 2s;
    opacity: 1;
    transition: opacity 1000ms;
    -moz-transition: opacity 1000ms;
    -webkit-transition: opacity 1000ms;
    -o-transition: opacity 1000ms;
}

.echart_tip > .echart_content{ /*所有提示框内的文本*/
    color:#ffffff;
    background-color: rgba(0,0,0,.6);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.echart_tip.bottom >.echart_content {
    bottom: -3.4em;
}
.echart_tip.top >.echart_content {
    bottom: 3.3em;
}
.echart_tip.left.top > .echart_content { /*左上*/
    right: 2.05em;
}
.echart_tip.left.top > .echart_tip_arrow {
    transform: rotate(-32deg);
}
.echart_tip.right.top > .echart_content { /*右上*/
    left: -2.05em;
}
.echart_tip.right.top > .echart_tip_arrow {
    transform: rotate(32deg);
}
.echart_tip.left.bottom > .echart_content { /*左下*/
    right: 2.15em;
}
.echart_tip.left.bottom > .echart_tip_arrow {
    transform: rotate(-148deg);
}
.echart_tip.right.bottom > .echart_content { /*右下*/
    left: 2.05em;
}
.echart_tip.right.bottom > .echart_tip_arrow {
    transform: rotate(148deg);
}


.dialog_title {
    border-bottom: 0.15em #fff solid;
    color: #fff;
    /*padding-left: 0.8em;*/
    padding-bottom: 0.3125em;
    position: absolute;
    width: 12em;
    /*font-size: 2em;*/
    text-align: center;
    z-index: 10;
    text-shadow: 0.143em 0.143em 0.143em rgba(0, 0, 0, 0.9);
}

.dialog_title > a {
    color: #ffffff;
    line-height: 1.6em;
    display: block;
    display: -webkit-box;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-decoration: none;
}

.dialog_label {
    border: 0.1em #00B2F8 solid;
    z-index: 10;
    padding: 0.8em;
    position: absolute;
}

.dialog_label > a {
    line-height: 1.4em;
    max-height: 2.8em;
    color: #afff00;
    /*font-size:2em;*/
    display: block;
    display: -webkit-box;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-decoration: none;
}

.echart_tip_arrow {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.echart_tip_arrow > .echart_tip_head {
    width: 2em;
    height: 2em;
    border-radius: 100%;
    border: 0.2em solid #00B2F8;
    position: absolute;
    top: -1.2em;
    left: -1.2em;
}

.echart_tip_arrow > .echart_tip_line {
    left: 0;
    border-left: 0.15em solid #fff;
    position: absolute;
}

.testclass {
    -moz-box-shadow: 2.14em 2.14em 1.1em #969696; /*firefox*/
    -webkit-box-shadow: 2px 2px 5px #969696; /*webkit*/
    box-shadow: 2px 2px 5px #969696; /*opera或ie9*/
}

/*提示的文字变大版本,注掉下面代码就是原来大小*/
@media all{
    .echart_tip_arrow > .echart_tip_line {
        height: 3em;
        top: -4em;
    }
    .dialog_title {
        font-size: 1em;
    }
}

